﻿@model ReservasWeb.ViewModels.CreacionHabitacionesViewModel

@{
    ViewBag.Title = "Crear";
}

@using (Html.BeginForm())
{

<script type="text/javascript">
    $(function () {
        $('#disponibleAbonoHabitacionSwitch').change(function () {
            $("#disponibleAbonoHabitacion").val(this.checked);
        });
    });
</script>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>
            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }
            <input id="guardarBoton" type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="procesando();" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary btnFrmGeneral" })
        </div>

    </div>
</div>

<div class="container">

    <h2>Crear</h2>

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Habitación</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.disponibleAbonoHabitacion)
            <div class="form-group">
                @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.descripcion, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                </div>
            </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.idEstado, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.idEstado, Model.listaEstados, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.idTipoHabitacion, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.idTipoHabitacion, Model.listaTiposHabitacion, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.idTipoHabitacion, "", new { @class = "text-danger" })
                </div>
            </div>

            @*<div class="form-group">
                @Html.LabelFor(model => model.disponibleAbonoHabitacion, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    <label class="switch">
                        <input type="checkbox" id="disponibleAbonoHabitacionSwitch"/>
                        <span class="slider round"></span>
                    </label>
                </div>
            </div>*@

        </div>
</div>
    
}
