/* CSS Document */
/*FONDOS*/
.bg-light{background-color:#e1e1e1;}
.bg-lighter{background-color:#F5F5F5;}
.bg-white{background-color:white;}
.btn-primary{background-color:dark-grey;}
/*BORDES*/
.br-light{border:1px solid #DEDEDE;}
.brl-light{border-left:1px solid #DEDEDE;}
.brr-light{border-right:1px solid #DEDEDE;}
.brt-light{border-top:1px solid #DEDEDE;}
.brb-light{border-bottom:1px solid #DEDEDE;}

.br-lighter{border:1px solid #F5F5F5;}
.brl-lighter{border-left:1px solid #F5F5F5;}
.brr-lighter{border-right:1px solid #F5F5F5;}
.brt-lighter{border-top:1px solid #F5F5F5;}
.brb-lighter{border-bottom:1px solid #F5F5F5;}
.brb-lighter15{border-bottom:15px solid #F5F5F5;}

.br-light-dot{border:1px dotted #DEDEDE;}
.brt-light-dot{border-top:1px dotted #DEDEDE;}
.brr-light-dot{border-right:1px dotted #DEDEDE;}
.brb-light-dot{border-bottom:1px dotted #DEDEDE;}
.brl-light-dot{border-left:1px dotted #DEDEDE;}

.br-light-dash{border:1px dashed #DEDEDE;}
.brt-light-dash{border-top:1px dashed #DEDEDE;}
.brr-light-dash{border-right:1px dashed #DEDEDE;}
.brb-light-dash{border-bottom:1px dashed #DEDEDE;}
.brl-light-dash{border-left:1px dashed #DEDEDE;}


.cl-white{color:white;}
.cl-grey{color:#333;}
.cl-red{color:red;}
.bg-hotel{background-color:#dbbd8d;color:#333;}
.bg-red{background-color:red;}
.bgh-hotel:hover{background-color:#e8cfa7;color:#333;}
.bg-cover{background-size:cover;}
/*ESPECIFICOS*/
#toggleBusqueda{font-size:16px;line-height:20px;cursor:pointer;}#toggleBusqueda:hover{color:#09C;}
#cambiarBusqueda{display:none; padding:0 15px;}

.precio{color:#333; font-weight:bold; line-height:40px;font-size:33px; padding:0 0px;}
/*.precio::first-letter {font-weight:normal; font-size:24px;vertical-align:top;color:#757575;padding-right:4px;}*/


.mgt-30{margin-top:-30px;}

.nav>li>a{color:black;}
.nav>li>a:focus, .nav>li>a:hover {
	color:black;
	text-decoration: none;
	background-color: #dbbd8d;
}

.ui-datepicker-trigger{cursor:pointer; position: absolute;right: 6%;top: 10px;z-index: 10;-webkit-filter: grayscale(100%);filter: grayscale(100%);}
.btn-primary{background-color:#dbbd8d; /*color:#333!important;*/ border:none;}
.btn-primary:hover,.btn-primary:active,.btn-primary:focus{background-color:#e8cfa7;/*color:#333!important;*/}

.detalleFlota{
    background-color:#fff;
    box-shadow: 0px 15px 30px #ddd;
}

.tbCant{
    padding:0px;
    text-align:center;
}

#reservaCargando{
    display:none;
    position:fixed;
    top:0px;
    right:0px;
    width:100%;
    height:100%;
    background-color:rgba(136,136,136, 0.3);
    /*background-image:url('ajax-loader.gif');
    background-repeat:no-repeat;
    background-position:center;*/
    z-index:10000000;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.itmTipoHab{
    display:inline-block;
    width:100%;
    height:130px;
    background-position:center center !important;
    background-repeat:no-repeat;
    background-size:contain;
}

.carouselTipoHab .left,
.carouselTipoHab .right{
    background-image:none;
}

.itemListadoBusqueda{
    border:0px solid #dedede;
    border-bottom-width:1px;
}

.ContenedorComodidades{
    display:inline-block;
    width:100%;
    margin:20px 0px 0px 0px;
    padding:0px;
    text-align:left;
}

.ContenedorComodidades .fa{
    font-size:20px;
    padding:0px 10px;
    color:#aaa;
}

.deshabilitado{
    background-color:#DEDEDE;
    cursor:default;
}

.deshabilitado:hover{
    background-color:#DEDEDE;
    cursor:default;
}

.txtEntradaSalida{
    color:#999;
    font-size:12px;
}

.txtDia{
    color:#a2a2a2;
    font-size:25px;
    text-transform:uppercase;
}

.txtNroDia{
    color:#555;    
    font-size:25px;
}

.detalleFlota .fa{
    display:inline-block;
    width:30px;
    text-align:center;
    font-size:20px;
    color:#555;
}

#listaHabitacionesSeleccionadasDetalle,
#listaHabitacionesSeleccionadas,
#listaHabitacionesSeleccionadasDetalle li,
#listaHabitacionesSeleccionadas li{
    display:inline-block;
    list-style:none;
    width:100%;
    margin:0px;
    padding:0px;
}

#listaHabitacionesSeleccionadas li .prec{
    display:inline-block;    
    float:right;
}

#listaHabitacionesSeleccionadas li .precA{
    display:inline-block;    
    float:right;
}

#listaHabitacionesSeleccionadas li .precN{
    display:inline-block;    
    float:right;
}

#listaHabitacionesSeleccionadas li{
    line-height:35px;
    border:0px dashed #ccc;
    border-bottom-width:1px;    
}

#listaHabitacionesSeleccionadasDetalle li{    
    padding-bottom:5px;
    border:0px dashed #ccc;
    border-bottom-width:1px;    
}

.lineaCant{
    margin-left:35px;
}

.lineaPasajeros{
    display:inline-block;
    margin:10px 0px 5px 0px;
    /*border:0px dashed #ccc;*/
    border-bottom-width:1px;
    padding:0px 0px 10px 0px;
}

.lineaPasajeros .fa-moon-o{    
    margin:0 0 0 30px;    
}

.lineaTotal {
    text-align:right;
}

.lineaTotalOferta {
    text-align:right;
}

.detalleFlota .tituHotel{
    display:inline-block;
    margin-top:10px;
    font-size:20px;
    color:#555;
}

.prec
{
    font-size:16px;    
    color:#555;
}

#totalReserva{
    display:inline-block;
    font-size:22px;
    margin:0 0 0 10px;
}

#totalReservaOferta{
    display:inline-block;
    font-size:22px;
    margin:0 0 0 10px;
}

.lineaTotal strong {
    font-size:15px;    
    color:#555;
}

.lineaTotalOferta strong {
    font-size:30px;    
    color:#555;
}

.tituDetallePago,
.tituReserva{
    font-size:22px;
    margin-top:20px;
    font-weight:normal;
    border-bottom:1px solid #ccc;
    padding-bottom:5px;
}

.tituReserva{
    margin-top:10px;
}

#impuestoListado{
    font-size:13px;
}

#btnReservar{
    margin:0px auto;
    width:200px;
    float:none;
}
#SinSelectHab{
    display:inline-block;
    width:100%;
    margin-top:5px;
}

.txtCantList,
.tituComod{
    font-size:13px;
    color:#aaa;
}

.tituComod{
    display:inline-block;
    width:100%;
    margin-bottom:10px;
}

.contCantHab {
    display:inline-block;
    position:relative !important;
    bottom:0px !important;
    right:0px !important;    
}

.precPorNoc{
    margin-top:0px;
    font-size:15px;
}

.listaCondicionesHotel,
.listaCondicionesHotel li{
    display:inline-block;
    width:100%;
    list-style:none;
    padding:0px;
    margin:0px;
}

.listaCondicionesHotel li {
    border:0px dashed #ccc;
    border-bottom-width:1px;    
    padding:5px 0px;
}

.listaCondicionesHotel li .txtDesc{
    line-height:40px;
    height:40px;
}

.listaCondicionesHotel li:last-child{
    border-bottom-width:0px;
}

.listaCondicionesHotel .fa{
    height:40px;
    line-height:40px;
    font-size:30px;
    float:left;
    margin-right:10px;
    color:#555
}

.reservaConfirmada {
    background-color: #F0F0F0;
    margin: 30px 0px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding:20px 10px;
}

.reservaConfirmada .fa{
    display:inline-block;
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    margin:0px auto;
    font-size:55px;
    color:green;
}

.confirmaDivisor{
    color:#fff;
    border-color:#fff;
}

.EnvFrm{
    display:none;
    width:100%;
    margin:0px;
    padding:0px;
    min-height: 400px; 
    line-height: 400px; 
    text-align: center; 
    background-color: #EEEEEE;
}

.EnvFrm span{
    display:inline-block;
    line-height:45px;
}

.EnvFrm span i {
    font-size:60px;
}

.EnvFrm img{
    display:inline-block;
    margin:0px auto;
}

#frmContacto #desde,
#frmContacto #hasta{
    background-color:#fff;
    cursor:pointer;
}

#frmContacto .form-group{
    margin-left:0px;
    margin-right:0px;
}

#enviarCntFrm {
    background-color:#DBBD8D;
}

.EnvFrm .fa {
    color:green;
}

.BanderaTop{
    display:inline-block;
    width:23px;
    height:23px;
    margin:0px;
    padding:0px;
    background-position:0px 0px;
    background-repeat:no-repeat;
}

.BanderaTop:hover{
    background-position:0px -24px;
}

.BanderaTop.espa{
    background-image:url(/Content/imagenes/es.png);
}

.BanderaTop.ingles{
    background-image:url(/Content/imagenes/en.png);
}

.BanderaTop.portu{
    background-image:url(/Content/imagenes/pt.png);
}

.listaBanderas,
.listaBanderas li{
    display:inline-block;
    margin:0px;
    padding:0px;    
}

.listaBanderas li{
    margin-left:5px;
    margin-right:5px;
}

.listaBanderas{
    width:100%;
    float:right;
    margin-bottom:10px;
}

.txtCantList{
    width: 100%;
    display: inline-block;
}

#hotelCarousel .imgHotel{
    display:inline-block; 
    width:100%; 
    height:400px;
    background-size:contain;
    background-position:center center;
    background-repeat:no-repeat;
    background-color:#DDDDDD;
}

.logohotel{
    max-width:200px;max-height:200px;
}

#listaHabitacionesSeleccionadasDetalle{
    display:none;
}