﻿@model ReservasWeb.ViewModels.ResultadoBusquedaViewModel

@{	
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_LayoutAny.cshtml";
}
<style>
    .deshabilitado{background-color:#DEDEDE!important;cursor:default; }
    .cl-hotel{color:@Model.colorBoton;}
    .deshabilitado:hover{background-color:#DEDEDE!important;cursor:default; }
    .btnMas,.btnMasAdulto,.btnMasNino{background-color:@Model.colorBoton; display:inline-block; color:white; font-size:20px; cursor:pointer; width:30px; height:30px; line-height:32px; text-align:center;}
    .btnMenos,.btnMenosAdulto,.btnMenosNino{background-color:@Model.colorBoton; display:inline-block; color:white; font-size:20px; cursor:pointer; width:30px; height:30px; line-height:32px; text-align:center;}
    .btnMas,.btnMasAdulto,.btnMasNino{border-top-right-radius:50%;border-bottom-right-radius:50%}
    .btnMenos..btnMenosAdulto,.btnMasNino{border-top-left-radius:0%;border-bottom-left-radius:0%}
    .btnMas:hover{background-color:@Model.colorBoton;}
    .btnMenos:hover{background-color:@Model.colorBoton;}
    .btnMasAdulto:hover{background-color:@Model.colorBoton;}
    .btnMenosAdulto:hover{background-color:@Model.colorBoton;}
    .btnMasNino:hover{background-color:@Model.colorBoton;}
    .btnMenosNino:hover{background-color:@Model.colorBoton;}    
    .fotosMapaTabs > li > a:hover{ background-color:@Model.colorBoton; color:@Model.colorTextoBoton;}
    .btnBuscar, #btnReservar, .botonFormu{background-color:@Model.colorBoton !important; color:@Model.colorTextoBoton !important; border:none !important }
    

</style>
<div class="container">
    <!-- EMPIEZA ROW RESULTADOS !-->
    <h2>@Resources.Views.Busqueda.Buscar.ResultadoBusqueda:</h2>
    <div class="row">
        <div class="col-xs-12 col-md-8">
            <div class="row br-light pdt15 pdb5 mgb15 bg-lighter">
                <div id="resumenBusqueda">
                    <div class="col-xs-12 col-sm-6 col-md-3 text-center lh32 mgb10 pdr0">
                        <i class="fa fa-sign-in cl-hotel" aria-hidden="true"></i> @Resources.Views.Busqueda.Buscar.Entrada: <strong>@Model.checkin</strong>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 text-center lh32 mgb10 pdr0">
                        <i class="fa fa-sign-out cl-hotel" aria-hidden="true"></i> @Resources.Views.Busqueda.Buscar.Salida: <strong>@Model.checkout</strong>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-3 text-center lh32 mgb10 pdr0">
                        <i class="fa fa-bed cl-hotel" aria-hidden="true"></i> @Resources.Views.Busqueda.Buscar.Habitaciones: <strong>@Model.habitaciones</strong>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-1 text-center lh32 mgb10 pdr0">
                        <i class="fa fa-user cl-hotel" aria-hidden="true"></i> @Resources.Views.Busqueda.Buscar.Pax:<strong>@Model.cantidadpersonas</strong>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-2 text-right mgb10">
                        <div id="toggleBusqueda" class="btn btn-primary btnBuscar">@Resources.Views.Busqueda.Buscar.CambiarBtn...</div>
                    </div>
                </div>
                <div id="cambiarBusqueda">
                    <div class="booking-form-container">
                        <form target="" class="row" method="get" action="/busqueda/buscar">                            
                            <input placeholder="Hotel" id="idhotel" name="idHotel" value="@Model.idAlojamiento" type="hidden">
                            <input placeholder="idioma" id="idioma" name="idioma" value="es" type="hidden">
                            <input id="backurlhotel" name="backurlhotel" value="@Model.backurlHotel" type="hidden">                            
                            <div class="col-xs-12 col-md-10 pd0">
                                <div class="col-xs-12 col-sm-6 col-md-3 pdr0 mgb10">
                                    <input value="@Model.checkin" id="datepicker1_locale_checkin" class="form-control date-selector" name="fechaIni" type="text">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 pdr0 mgb10">
                                    <input value="@Model.checkout" id="datepicker2_locale_checkout" class="form-control date-selector" name="fechaFin" type="text">
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 pdr0 mgb10">
                                    <select id="paxs" name="habitaciones" class="form-control" required>
                                        <option value="" disabled="" selected="">@Resources.Views.Busqueda.Buscar.Habitaciones</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                                <div class="col-xs-12 col-sm-6 col-md-3 pdr0 mgb10">
                                    <select id="paxs" name="pasajeros" class="form-control" required>
                                        <option value="" disabled="" selected="">@Resources.Views.Busqueda.Buscar.Pasajeros</option>
                                        <option value="1">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                        <option value="10">10</option>
                                        <option value="11">11</option>
                                        <option value="12">12</option>
                                        <option value="13">13</option>
                                        <option value="14">14</option>
                                        <option value="15">15</option>
                                        <option value="16">16</option>
                                        <option value="17">17</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-xs-12 col-md-2">
                                <button type="submit" class="ver_disponibilidad btn btn-primary w100p btnBuscar">@Resources.Views.Busqueda.Buscar.BuscarBtn</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <clearfix />

            @if (Model.listado == null || Model.listado.Count == 0)
            {
                <div class="row">
                    <div class="col-md-8">
                        <h4 style="color:red;">@Resources.Views.Busqueda.Buscar.NoDisponibilidad</h4>
                        <h4>@Resources.Views.Busqueda.Buscar.Consultenos</h4>
                        @Html.Partial("_frmContactoHotel", new ViewDataDictionary { { "idAlojamiento", Model.idAlojamiento } })                            
                    </div>
                </div>
            }

            @using (Html.BeginForm("buscar2", "Busqueda", FormMethod.Post, new { id = "frmReserva" }))
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @Html.HiddenFor(model => model.idAlojamiento)
                @*@Html.HiddenFor(model => model.listado)*@
                @*@Html.HiddenFor(model => model.listadoTarifa)*@

                @Html.HiddenFor(model => model.cantidadpersonas)
                @Html.HiddenFor(model => model.checkin)
                @Html.HiddenFor(model => model.checkout)                
                @Html.HiddenFor(model => model.checkout)
				@Html.HiddenFor(model => model.backurlHotel)
                <style>
                    #H4_1 {
                        clear: left;
                        color: rgb(56, 56, 56);
                        text-decoration: none solid rgb(56, 56, 56);
                        column-rule-color: rgb(56, 56, 56);
                        perspective-origin: 407px 20.5px;
                        transform-origin: 407px 20.5px;
                        caret-color: rgb(56, 56, 56);
                        background: rgb(233, 240, 250) none repeat scroll 0% 0% / auto padding-box border-box;
                        border-top: 1px solid rgb(204, 225, 255);
                        border-right: 1px solid rgb(204, 225, 255);
                        border-bottom: 0px none rgb(56, 56, 56);
                        border-left: 1px solid rgb(204, 225, 255);
                        border-radius: 3px 3px 0 0;
                        font: normal normal bold normal 20px / 24px BlinkMacSystemFont, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
                        margin: 17px 0px 0px;
                        outline: rgb(56, 56, 56) none 0px;
                        padding: 8px 8px 8px 15px;
                    }
                    /*#H4_1*/
                </style>
                <h4 id="H4_1">
                    Recomendado para @Model.cantPasajeros @Resources.Views.Busqueda.Buscar.Pasajeros
                    
                </h4>
                <div style="text-align: center;font-size: 20px;">
                    @foreach (var item in Model.oferta) { 
                    <strong> @item</strong> <br />
                    }
                </div>
                @Html.HiddenFor(model => model.checkout)        
                @Html.HiddenFor(model => model.backurlHotel)

                int i = -1;
                <br />
                <br />
                <br />

                <div style="text-align: left;font-size: 14px;">
                    <strong>Todas las habitaciones disponibles</strong>
                </div>

                foreach (var item in Model.listado)
                {
                    i++;
                    @Html.HiddenFor(model => Model.listado[i].idTipoHabitacion)
                    @Html.HiddenFor(model => Model.listado[i].nombreEs)
                    @*<div class="row pd20 br-lighter mgb15">*@
                    <div class="row pd20 mgb15 itemListadoBusqueda">
                        <h4>@Html.DisplayFor(modelItem => item.nombreEs)</h4>
                        <div class="col-xs-12 col-sm-6 col-md-4 mgb15 pdl0">

                            <div id="CarouselTipoHab_@i" class="carousel slide carouselTipoHab" data-ride="carousel"> 

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner galeriaTipHab">
                                    @{
                                        if (item.GaleriaImagene != null)
                                        {
                                            List<ReservasWeb.Models.Imagene> fotos = item.GaleriaImagene.Imagenes.ToList();

                                            if (fotos.Count > 0)
                                            {
                                                int cnt = 0;
                                                string act = "active";
                                                foreach (var foto in fotos)
                                                {
                                                    if (cnt > 0)
                                                    {
                                                        act = "";
                                                    }
                                                    <div class="item @act">
                                                        <a href="/files/TiposHabitacion/@item.idTipoHabitacion/@foto.archivo"><div class="itmTipoHab" style="background-image:url('/files/TiposHabitacion/@item.idTipoHabitacion/small/@foto.archivo')"></div></a>
                                                    </div>
                                                    cnt++;
                                                }
                                            }
                                        }

                                        }
                                </div>

                                <!-- Left and right controls -->
                                <a class="left carousel-control" href="#CarouselTipoHab_@i" data-slide="prev">
                                    <span class="glyphicon glyphicon-chevron-left"></span>
                                    <span class="sr-only">Previous</span>
                                </a>
                                <a class="right carousel-control" href="#CarouselTipoHab_@i" data-slide="next">
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                    <span class="sr-only">Next</span>
                                </a>
                            </div>

                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-5 mgb15 pd0">
                            <div>
                                @*@Html.DisplayFor(modelItem => item.descripcionEs)*@
                                @Html.Raw(item.descripcionEs)<br /><br />
                                
                                 
                                @{
                                    if (item.camasSimples!=0)
                                    { 
                                    <p>Camas Simples @Html.DisplayFor(modelItem => item.camasSimples)</p> <br />
                                    }
                                    if (item.camaMatrimonial != 0)
                                    {
                                    <p>Camas Matrimoniales @Html.DisplayFor(modelItem => item.camaMatrimonial)</p> <br />
                                    }
                                    }
                            </div>
                            <div class="ContenedorComodidades">
                                <span class="tituComod">@Resources.Views.Busqueda.Buscar.Comodidades</span>
                                @{ 
                                    if (item.Comodidades != null)
                                    {
                                        foreach (var como in item.Comodidades)
                                        {
                                            switch (Model.idioma)
                                            {
                                                case "es":
                                                    @:<i class="fa @como.imagen" data-toggle="tooltip" title="@como.nombreEs"></i>
                                                    break;
                                                case "en":
                                                    @:<i class="fa @como.imagen" data-toggle="tooltip" title="@como.nombreEn"></i>
                                                    break;
                                                case "pt":
                                                    @:<i class="fa @como.imagen" data-toggle="tooltip" title="@como.nombrePt"></i>
                                                    break;
                                                default:
                                                    @:<i class="fa @como.imagen" data-toggle="tooltip" title="@como.nombreEs"></i>
                                                    break;
                                            }
                                        }
                                    }
                                }
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-3 pdr0">
                            <h4 class="precPorNoc">@Resources.Views.Busqueda.Buscar.PrecioEstadia</h4>
                            
                            <p class="precio">@Model.simboloMoneda @Html.DisplayFor(modelItem => Model.listadoTarifa[i])</p>
                            <h4 data-toggle="tooltip" title="@Model.listarsvdes[i]"> @Model.listarsv[i]</h4>
                            <p data-toggle="tooltip" title="@Model.listapolides[i]">@Model.listapoli[i]</p>
                            <span class="txtCantList">@Resources.Views.Busqueda.Buscar.CantHabitaciones</span>
                            <p class="txtCantMaxList">Disponible: @Model.listadoCant[i]</p>
                            @Html.TextBoxFor(model => model.listadoElige[i], new { @class = "col-xs-4 h30 lh30 f20 text-center tbCant", max = Model.listadoCant[i], id = "inputCuantas" + i, data_tipo = item.idTipoHabitacion })
                            <div class="btnMenos deshabilitado" id="men@(i)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </div>
                            <div class="btnMas" id="mas@(i)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <br />
                            <br />                            
                            <br />
                            @{ 
                                if (Model.listadoTarifaAdulto[i].permite && Model.listadoTarifaAdulto[i].precio>=0)
                                {


                            <h5 class="precPorNoc">@Resources.Views.Busqueda.Buscar.AdicionalesAdultos</h5>
                            <p class="precio">$ @Html.DisplayFor(modelItem => Model.listadoTarifaAdulto[i].precio)</p>
                            <p class="txtCantMaxList">Permite: @Model.listadoCantAdulto[i]</p>
                            @Html.TextBoxFor(model => model.listadoEligeAdulto[i], new { @class = "col-xs-4 h30 lh30 f20 text-center tbCantAdulto", max = Model.listadoCantAdulto[i], id = "inputCuantasAdulto" + i, data_tipoA = item.idTipoHabitacion })
                            <div class="btnMenosAdulto deshabilitado" id="menAdulto@(i)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </div>
                            <div class="btnMasAdulto" id="masAdulto@(i)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <br />
                            <br />

                            <br />
                                }
                            }

                            @{
                                if (Model.listadoTarifaNino[i].permite && Model.listadoTarifaNino[i].precio>=0)
                                {
                            <h5 class="precPorNoc">@Resources.Views.Busqueda.Buscar.AdicionalesNinos</h5>
                            <p class="precio">$ @Html.DisplayFor(modelItem => Model.listadoTarifaNino[i].precio)</p>
                            @Html.TextBoxFor(model => model.listadoEligeNino[i], new { @class = "col-xs-4 h30 lh30 f20 text-center tbCantNino", max = Model.listadoCantNino[i], id = "inputCuantasNino" + i, data_tipoN = item.idTipoHabitacion })
                            <div class="btnMenosNino deshabilitado" id="menNino@(i)">
                                <i class="fa fa-minus" aria-hidden="true"></i>
                            </div>
                            <div class="btnMasNino" id="masNino@(i)">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </div>
                            <br />
                            <br />
                            <br />
                                    }
                                }
                        </div>
                        <clearfix />
                        
                    </div>
                    }
                                            }

                                        
        
        </div>
        <!-- FIN COLUMNA GRUESA !-->
        <!-- EMPIEZA COLUMNA FINA !-->
        <div class="col-xs-12 col-md-4 pdr0">
            <div class="pd15 br-light detalleFlota">
                <div class="col-xs-12 pd0 pdb10">
                    <div class="col-xs-12 col-sm-12 pdl0">
                        <center><h3 class="tituReserva">@Resources.Views.Busqueda.Buscar.DatosReserva</h3></center>
                    </div>
                </div>
                <div class="col-xs-12 pd0">                    
                    <img src="/files/@Model.idAlojamiento/small/@Model.fotosHotel.ElementAt(0).archivo" width="100" style="float:left; margin-right:10px; margin-top:10px;">
                    <span class="tituHotel"><strong>@Model.nombreHotel</strong></span><br />
                    <span class="direccionHotel"><i class="fa fa-map-marker"></i>@Model.direccionHotel</span>
                    
                    <div class="col-md-12 pd0">
                        @*<br /><span>@Model.noches @Resources.Views.Busqueda.Buscar.Noches</span>*@
                    </div>
                    
                    @{                        
                        DateTime entrada = DateTime.ParseExact(Model.checkin, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                        DateTime salida = DateTime.ParseExact(Model.checkout, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture);
                    }
                    <div class="col-md-6 pd0">                        
                        <span class="txtEntradaSalida">@Resources.Views.Busqueda.Buscar.Entrada:</span><br />
                        <span class="txtDia">@entrada.ToString("dddd", new System.Globalization.CultureInfo(Model.idioma)).Substring(0, 3)</span>
                        <span class="txtNroDia">@entrada.Day/@entrada.Month</span>
                    </div>
                    <div class="col-md-6 pd0">
                        <span class="txtEntradaSalida">@Resources.Views.Busqueda.Buscar.Salida:</span><br />
                        <span class="txtDia">@salida.ToString("dddd", new System.Globalization.CultureInfo(Model.idioma)).Substring(0,3)</span>
                        <span class="txtNroDia">@salida.Day/@entrada.Month</span>
                    </div>                                        

                    @*<i class="fa fa-sign-in" aria-hidden="true"></i> Fecha de Entrada: <strong>@Model.checkin</strong><br />
                    <i class="fa fa-sign-in" aria-hidden="true"></i> Fecha de Salida: <strong>@Model.checkout</strong><br />
                    <i class="fa fa-male" aria-hidden="true"></i> Pax: <strong>@Model.cantidadpersonas</strong>*@
                </div>
                <div class="col-xs-12 pd0 b">
                    @*<h4>Detalles de Habitación:</h4>*@

                    <div class="col-md-12 lineaPasajeros">
                        <span><i class="fa fa-user"></i> <span id="">@Model.cantidadpersonas</span> @Resources.Views.Busqueda.Buscar.Pasajeros</span>
                        <span><i class="fa fa-moon-o"></i> <span>@Model.noches</span> @Resources.Views.Busqueda.Prereserva.Noches</span><br />
                    </div>

                    @if (Model.listado != null && Model.listado.Count != 0)
                    {
                        <ul id="listaHabitacionesSeleccionadasDetalle">
                            @foreach (var item in Model.listado)
                            {
                                @:<li id="detalle_@item.idTipoHabitacion" class="hidden"><i class="fa fa-bed"></i> @item.nombreEs<br /><div class="lineaCant"> @Resources.Views.Busqueda.Buscar.Cantidad <span class="cant"></span></div></li>
                            }
                        </ul>
                    }

                    <h4 class="tituDetallePago hidden">Detalle de Pago:</h4>
                    
                    <ul id="listaHabitacionesSeleccionadas">                     
                         
                             @if (Model.listado != null && Model.listado.Count != 0)
                             {
                                 foreach (var item in Model.listado)
                                 {
                                    @:<li id="compradas_tipo_@item.idTipoHabitacion" class="hidden"><span class="cant"></span> - @item.nombreEs <div class="prec">@Model.simboloMoneda <span class="precDato"></span></div><br /><span id="compradas_tipo_adulto_@item.idTipoHabitacion" class="hidden"><span class="cantA"></span> - @Resources.Views.Busqueda.Buscar.AdicionalesAdultos @Model.simboloMoneda <div class="precA">@Model.simboloMoneda <span class="precADato"></span></div><br /></span><span id="compradas_tipo_nino_@item.idTipoHabitacion" class="hidden"><span class="cantN"></span> - @Resources.Views.Busqueda.Buscar.AdicionalesNinos @Model.simboloMoneda <div class="precN">@Model.simboloMoneda <span class="precNDato"></span></div></span></li>
                                    
                                     //@:<li id="compradas_tipo_adulto_@item.idTipoHabitacion" class="hidden"><span class="cant"></span> - Adicional Adulto<div class="prec"></div></li>
                                     /* @:<li id="compradas_tipo_nino_@item.idTipoHabitacion" class="hidden"><span class="cant"></span> - Adicional Niño<div class="prec"></div></li>*/
                                 }
                             }

                        <li id="impuestoListado" class="hidden">@Resources.Views.Busqueda.Buscar.ImpuestosTasas <div class="prec">@Model.simboloMoneda <span class="precDato"></span></div></li>
                    </ul>                    
                    <div class="lineaTotal hidden"><strong>Total: </strong><div id="totalReserva">@Model.simboloMoneda <span id="totalReservaDato"></span></div></div>
                    <input type="hidden" value="@String.Join("|", Model.listadoTarifa)" id="tarifasHidden" />
                    <input type="hidden" value="@String.Join("|", Model.listadoTarifaAdulto.Select(x=>x.precio))" id="tarifasAdultoHidden" />
                    <input type="hidden" value="@String.Join("|", Model.listadoTarifaNino.Select(x=>x.precio))" id="tarifasNinoHidden" />
                    <input type="hidden" value="@Model.impuesto" id="impuestoHidden" />
                </div>

                @if (Model.listado != null && Model.listado.Count > 0)
                {
                    <div class="col-xs-12 pd15 brb-light-dash text-center">                   
                        <button class="btn btn-primary col-xs-6 col-sm-3 col-xs-2 fr" id="btnReservar" style="background: @Model.colorBoton;">@Resources.Views.Busqueda.Buscar.ReservarBtn</button>
                        <span class="text-danger hidden" id="SinSelectHab">@Resources.Views.Busqueda.Buscar.ErrorReserva</span>                                        
                    </div>
                }

                <clearfix />
            </div>
        </div>
        <!-- FIN COLUMNA FINA !-->
    </div>
    <!-- FIN ROW RESULTADOS	!-->
    <!-- EMPIEZA ROW DATOS ALOJAMIENTO !-->
    <div class="row">        
        <div class="col-xs-12 pdb15">
            <div class="col-xs-12 bg-white">
                <div class="col-xs-12 col-sm-8 col-md-9">
                    <h2 class="brb-lighter-dot">@Model.nombreHotel</h2>
                    <p>
                        <i class="fa fa-map-marker cl-hotel" aria-hidden="true"></i> @Model.direccionHotel<br />
                        <i class="fa fa-home cl-hotel" aria-hidden="true"></i>  <a href="http://@Model.sitioWeb" target="_blank">@Model.sitioWeb</a>
                        <i class="fa fa-envelope cl-hotel" aria-hidden="true"></i> <a href="mailto:@Model.emailHotel">@Model.emailHotel</a>
                        <i class="fa fa-phone cl-hotel" aria-hidden="true"></i> @Model.telefonoHotel
                    </p>
                </div>
            </div>
            <div class="col-xs-12 bg-white pdb15">
                <div class="col-xs-12 col-md-8">
                    <div>
                        <!-- Nav tabs -->
                        <ul class="nav nav-tabs fotosMapaTabs" role="tablist">
                            <li role="presentation" class="active"><a href="#fotos" aria-controls="fotos" role="tab" data-toggle="tab">@Resources.Views.Busqueda.Buscar.Fotos</a></li>
                            <li role="presentation"><a href="#ubicacion" aria-controls="profile" role="tab" data-toggle="tab" onclick="activarMapa();">@Resources.Views.Busqueda.Buscar.Ubicacion</a></li>                            
                        </ul>
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="fotos">                              
                         

                                @{
                                    if (Model.fotosHotel.Count > 0)
                                    {
                                        <div id="hotelCarousel" class="carousel slide h400" style="width:730px;" data-ride="carousel">                                                

                                            <div class="carousel-inner h400" role="listbox">
                                                @{ 
                                                    int cnt = 0;
                                                    foreach (var item in Model.fotosHotel)
                                                    {
                                                        string act = "active";
                                                        if (cnt > 0)
                                                        {
                                                            act = "";
                                                        }
                                                        <div class="item @act">                                         
                                                            <div class="imgHotel" style="background-image:url('/files/@Model.idAlojamiento/@item.archivo');"></div>
                                                        </div>
                                                        cnt++;
                                                    }
                                                }
                                            </div>

                                            <a class="left carousel-control" href="#hotelCarousel" data-slide="prev">
                                                <span class="glyphicon glyphicon-chevron-left"></span>
                                                <span class="sr-only">Previous</span>
                                            </a>
                                            <a class="right carousel-control" href="#hotelCarousel" data-slide="next">
                                                <span class="glyphicon glyphicon-chevron-right"></span>
                                                <span class="sr-only">Next</span>
                                            </a>
                                        </div>
                                    }
                                }
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="ubicacion">
                                <div class="mapaUbicacion h400">
                                    @Html.Partial("GoogleMapBuscadorPartialPage", Model.ubicacion)
                                </div>
                            </div>
                        </div>

                        <h4 class="brb-lighter">@Resources.Views.Busqueda.Buscar.AcercaDe @Model.nombreHotel</h4>
                        <p>@Html.Raw(Model.descripcionHotel)</p>
                    </div>
                </div>
<!--
                <div class="col-xs-12 col-md-6">
                    <h4 class="brb-lighter">Acerca de @Model.nombreHotel</h4>
                    <p>@Html.Raw(Model.descripcionHotel)</p>                    
                </div>
    -->
            </div>
        </div>
    </div>
    <!-- FIN ROW DATOS ALOJAMIENTO !-->
    <div class="row">
        <div class="col-md-8">
            <h3>@Resources.Views.Busqueda.Buscar.CondicionesHotel</h3>
            <ul class="listaCondicionesHotel">
                <li>
                    <div class="col-md-5 txtDesc"><i class="fa fa-clock-o"></i> @Resources.Views.Busqueda.Buscar.Entrada</div>
                    <div class="col-md-7">@Resources.Views.Busqueda.Buscar.APartir @Model.horaCheckin hs.</div>
                </li>
                <li>
                    <div class="col-md-5 txtDesc"><i class="fa fa-clock-o"></i> @Resources.Views.Busqueda.Buscar.Salida</div>
                    <div class="col-md-7">@Resources.Views.Busqueda.Buscar.HastaLas @Model.horaCheckout hs.</div>
                </li>
                <li>
                    <div class="col-md-5 txtDesc"><i class="fa fa-times-circle-o"></i> @Resources.Views.Busqueda.Buscar.Cancelaciones</div>
                    <div class="col-md-7">@Html.Raw(Model.cancelaciones)</div>
                </li>
                <li>
                    <div class="col-md-5 txtDesc"><i class="fa fa-paw"></i> @Resources.Views.Busqueda.Buscar.Mascotas</div>
                    <div class="col-md-7">@Html.Raw(Model.mascotas)</div>
                </li>
                <li>
                    <div class="col-md-5 txtDesc"><i class="fa fa-credit-card"></i> @Resources.Views.Busqueda.Buscar.MediosPago</div>
                    <div class="col-md-7">
                        @{ 
                            foreach (var item in Model.listadoMedios)
                            {
                                if (item.standBy==true)
                                {                                    
                                    @:<img src="/Content/imagenes/mediosdepago/@item.TiposPago.icono" width="120">
                                }
                            }
                        }
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="reservaCargando">
    <div class="loader"></div>
</div>

<link href="~/Content/resources/css/magnific-popup.css" rel="stylesheet" />

<script src="~/Content/resources/js/MagnificPopup.js"></script>
<script src="~/Scripts/jquery.sticky.js"></script>
<script>
    jQuery(document).ready(function(){
        jQuery(".detalleFlota").sticky({ topSpacing: 10, zIndex: 1000 });
    });

    $(document).ready(function () {
        $("#btnReservar").click(function () {
            if (habitacionSeleccionada()) {
                $("#frmReserva").submit();
            }            
        });
    });

    $('.galeriaTipHab').each(function () { // the containers for all your galleries
        $(this).magnificPopup({
            delegate: 'a', // the selector for gallery item
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    });
        
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });

    function habitacionSeleccionada() {
        var habSelec = false;
        var $inputs = $(":input[id^='inputCuantas']");
        $inputs.each(function (index) {         
            if (!isNaN($(this).val()) && $(this).val() > 0) {
                habSelec = true;
            }
        });
        if (!habSelec) {
            $('#SinSelectHab').removeClass('hidden');
        }
        return habSelec;
    }




    var activado = false;

    function activarMapa() {
        if (!activado) {
            setTimeout(function () { initMap(); }, 200);
            activado = true;
        }        
    }
    
</script>