﻿@model ReservasWeb.ViewModels.BaseBusquedaViewModel

@{
    ViewBag.Title = "MP Pendiente";
}

@{
    Layout = "~/Views/Shared/_LayoutAny.cshtml";
}

<h2>MPConfirma</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="form-horizontal">
            <h4>Reserva Pendiente</h4>
            <hr />






            </div>



        </div>
        }

        <div>
        </div>
