﻿
@{
    ViewBag.Title = "TodoPago";
    Layout = "~/Views/Shared/_LayoutAny.cshtml";
}
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="~/Content/resources/css/styles.css">
<link rel="stylesheet" href="~/Content/css/struc.css" />
<link rel="stylesheet" href="~/Content/resources/icons/css/font-awesome.min.css">


<div class="container">
	<div class="row">
		<h2>TodoPago</h2>
	</div>
	@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
	<div class="row mgb15">
		<div class="col-md-4 pdv10 bg-hotel"><strong>1</strong>. Titular</div>
		<div class="col-md-4 pdv10" style="background: darkgrey;color: white;"><strong>A.</strong> Garantía</div>
		<div class="col-md-4 pdv10 bg-hotel"><strong>B.</strong> Todo Pago</div>
	</div>
	<div class="row mgb15">
        <div class="form-horizontal col-xs-12 col-md-8 pd15 br-light">
            <div class="col-xs-12 col-md-8 pds0"><h4>Acceda desde el iframe o por el link</h4></div>
			<div class="col-xs-12 col-md-4 pds0 text-right"><a href="@Model.linkTP" class="btn btn-primary">Ir a Todo Pago</a></div>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
			
            <iframe src="@Model.linkMP"  style="width: 100%; border:none;" height="1000"></iframe>
        </div>

        <div class="col-xs-12 col-md-4">
			<div class="pd15 br-light">
				<div class="col-xs-12 pd15 brb-light-dash">
					<div class="col-xs-12 text-center mgb15"><a href="@Model.backurlHotel"><img src="@Model.urlLogo" alt="logo" style="max-width:100%;"/></a>
						<h4>@Model.nombreHotel</h4>
					</div>
					<div class="col-xs-12 col-md-6 text-center pd0">
						<p><i class="fa fa-map-marker" aria-hidden="true"></i> <strong>Dirección:</strong><br/>@Model.direccionHotel</p>
					</div>
					<div class="col-xs-12 col-md-6 text-center pd0">
						<p><i class="fa fa-phone" aria-hidden="true"></i> <strong>Teléfono:</strong><br/>@Model.telHotel</p>
					</div>
				</div>
				<div class="col-xs-12 pd15 brb-light-dash">
					<h4>Detalles de la reserva:</h4>
					<i class="fa fa-sign-in" aria-hidden="true"></i> Fecha de Entrada: <strong>@Model.fechaEntrada</strong><br />
					<i class="fa fa-sign-in" aria-hidden="true"></i> Fecha de Salida: <strong>@Model.fechaSalida</strong><br />
					<i class="fa fa-male" aria-hidden="true"></i> Adultos: <strong>@Model.cantPasajeros</strong><br />
					<i class="fa fa-child" aria-hidden="true"></i> Niños: <strong>@Model.ninios</strong><br />
				</div>
				<div class="col-xs-12 pd15 brb-light-dash">
					<h4>Detalles de Habitación:</h4>
					<p><i class="fa fa-bed" aria-hidden="true"></i> Tipo de habitación: <strong>Diplomatic Mountain</strong></p>
					<p class="w100p pd10 br-light-dot">
						<strong>Comodidades</strong><br/>
						Desayuno: Buffet Incluido<br />
						Estacionamiento: Estacionamiento en el hotel sin cargo.
					</p>
				</div>
				<div class="col-xs-12 pd15 brb-light-dash">
					<h4>Condiciones de reserva:</h4>
					<p>@Model.politica</p>
				</div>
				<clearfix/>
			</div>
		</div>
	</div>
    }
    <div>
    </div>
</div>


