﻿@model ReservasWeb.ViewModels.TransferenciaBancariaViewModel

@{
    ViewBag.Title = "Confirmado";
    Layout = "~/Views/Shared/_LayoutAny.cshtml";
}

<div class="container">
    @*@using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
        }*@

    <div class="col-md-2">&nbsp;</div>

    <div class="col-md-8 text-center reservaConfirmada">
        <i class="fa fa-check"></i><br />
        @Resources.Views.Busqueda.TransferenciaBancaria.TransferenciaReserva
        <hr class="confirmaDivisor" />
        <strong>@Resources.Views.Busqueda.Confirmado.FechaEntrada: </strong>@Model.fechaEntrada.ToShortDateString()<br />
        <strong>@Resources.Views.Busqueda.Confirmado.FechaSalida: </strong>@Model.fechaSalida.ToShortDateString()<br />
        <strong>@Resources.Views.Busqueda.Confirmado.Pasajeros: </strong>@Model.cantPasajeros<br /><br />
        <h4>@Resources.Views.Busqueda.Confirmado.Habitaciones:</h4>
        @{
            int idTipoHabitacion = 0;
            int cantidadHabitaciones = 0;
            string tipoHabitacion = "";
            string cond = "";
            if (Model.listaHabPorRsv != null && Model.listaHabPorRsv.Count > 0)
            {
                //foreach (var item in Model.habitaciones)
                foreach (var item in Model.listaHabPorRsv)
                {

                    if (idTipoHabitacion != item.Habitacione.idTipoHabitacion)
                    {
                        if (cantidadHabitaciones > 0)
                        {                            
                            cantidadHabitaciones = cantidadHabitaciones / (Model.fechaSalida - Model.fechaEntrada).Days;
                            @:<span>@cantidadHabitaciones @tipoHabitacion @cond</span>
                            cantidadHabitaciones = 0;
                        }
                        idTipoHabitacion = item.Habitacione.idTipoHabitacion;
                        tipoHabitacion = item.Habitacione.TiposHabitacione.nombreEs;
                        if (item.CondReserva != null)
                        {
                            cond = item.CondReserva.nombreEs;
                        }
                    }
                    cantidadHabitaciones++;
                }

                if (cantidadHabitaciones > 0)
                {
                    cantidadHabitaciones = cantidadHabitaciones / (Model.fechaSalida - Model.fechaEntrada).Days;
                    @:<span>@cantidadHabitaciones @tipoHabitacion @cond</span>
                }

            }
        }
    </div>

</div>


