﻿body {
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}



/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea,
.input-group {
    max-width: 280px;
    resize: none !important;
}

.condicionSelect{
    display:inline-block;
    max-width:240px !important;    
}

.textarea-wide {
    max-width: 850px !important;
    resize: none !important;
}

.texbox-condiciones-reseervas {
    max-width: 510px !important;
    resize: none !important;
}

/* the magic starts */

.navbar{
    background-color:#FF0000;
    border:0px solid #ccc;
}

.logoBarra {    
    padding-top:5px !important;
    padding-bottom:5px !important;
    margin-top:5px;
}

.navbar-inverse .navbar-nav > li > a{
    color:#fff;
}

.navbar-inverse .navbar-nav > li > a:hover .caret,
.nav .caret,
.caret{
    border-bottom-color: #fff;
    border-top-color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover{
    background-color:#a9030a;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    background-color:#a9030a;
}

.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus{
    background-color:#a9030a;
}

.logoBarra:hover{
    background-color:transparent !important;
}

.TopBar{
    width:100%;
    height:60px;
    margin:0px;
    padding:0px;
    background-color:#fff;
    z-index:1 !important;
}

.contenedorLogin {
    display:inline-block;
    width:410px;
    min-height:250px;
    background-image:url(/Content/imagenes/candado.jpg);
    background-repeat:no-repeat;
    background-position:center right;
    margin:40px auto 0px auto;
}

.ControlLogin {
    background-color: #dedede;
    border: 1px solid #cccccc;
    color: #555555;
    font-size: 16px;
    font-weight: 700;
    height: 45px;
    line-height: 45px;
    margin: 0 0 10px;
    max-width: 300px;
}

.ControlLogin::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:#888 !important;
}
.ControlLogin:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:#888 !important;
   opacity:  1;
}
.ControlLogin::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:#888 !important;
   opacity:  1;
}
.ControlLogin:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:#888 !important;
}

.BotonLogin {
    background-color: #9d9d9d;
    border-color: #888;
    font-size: 18px;
    height: 45px;
    line-height: 45px;
    margin: 0;
    padding: 0 !important;
    width: 300px !important;
}

.BotonLogin:hover, .BotonLogin:focus, .BotonLogin:active, .BotonLogin:target, .BotonLogin:active:focus {
    background-color: #666;
    border-color: #444;
}

.formu{
    width:300px;
    margin:0px;
    padding:0px;    
}

.TituloLogin {
    text-align:left;
    color: #646464;
}

.RecuperarClaveLink {
    color: #9d9d9d;
    display: inline-block;    
    font-size: 14px;
    font-weight: bold;
    margin: 20px auto 0 auto;
    text-decoration: none;
}

.RecuperarClaveLink:hover, .RecuperarClaveLink:focus {
    color: #666;
    text-decoration: underline;
}

.muestra-bg-color{
    display:inline-block;
    width:30px;
    height:17px;
    margin:0 15px -3px 0;
}

.select-bg-color{
    display:inline-block;
    background-color:transparent !important;
    width:70px;
    height:25px;
}

.bg-color-datepicker-ac725e a{
    background-color:#ac725e !important;
    color:white !important;
}
.bg-color-datepicker-d06b64 a{
    background-color:#d06b64 !important;
    color:white !important;
}
.bg-color-datepicker-f83a22 a{
    background-color:#f83a22 !important;
    color:white !important;
}
.bg-color-datepicker-fa573c a{
    background-color:#fa573c !important;
    color:white !important;
}
.bg-color-datepicker-ff7537 a{
    background-color:#ff7537 !important;
    color:white !important;
}
.bg-color-datepicker-ffad46 a{
    background-color:#ffad46 !important;
    color:white !important;
}
.bg-color-datepicker-42d692 a{
    background-color:#42d692 !important;
    color:white !important;
}
.bg-color-datepicker-16a765 a{
    background-color:#16a765 !important;
    color:white !important;
}
.bg-color-datepicker-7bd148 a{
    background-color:#7bd148 !important;
    color:white !important;
}
.bg-color-datepicker-b3dc6c a{
    background-color:#b3dc6c !important;
    color:white !important;
}
.bg-color-datepicker-fbe983 a{
    background-color:#fbe983 !important;
    color:white !important;
}
.bg-color-datepicker-fad165 a{
    background-color:#fad165 !important;
    color:white !important;
}
.bg-color-datepicker-92e1c0 a{
    background-color:#92e1c0 !important;
    color:white !important;
}
.bg-color-datepicker-9fe1e7 a{
    background-color:#9fe1e7 !important;
    color:white !important;
}
.bg-color-datepicker-9fc6e7 a{
    background-color:#9fc6e7 !important;
    color:white !important;
}
.bg-color-datepicker-4986e7 a{
    background-color:#4986e7 !important;
    color:white !important;
}
.bg-color-datepicker-9a9cff a{
    background-color:#9a9cff !important;
    color:white !important;
}
.bg-color-datepicker-b99aff a{
    background-color:#b99aff !important;
    color:white !important;
}
.bg-color-datepicker-c2c2c2 a{
    background-color:#c2c2c2 !important;
    color:white !important;
}
.bg-color-datepicker-cabdbf a{
    background-color:#cabdbf !important;
    color:white !important;
}
.bg-color-datepicker-cca6ac a{
    background-color:#cca6ac !important;
    color:white !important;
}
.bg-color-datepicker-f691b2 a{
    background-color:#f691b2 !important;
    color:white !important;
}
.bg-color-datepicker-cd74e6 a{
    background-color:#cd74e6 !important;
    color:white !important;
}
.bg-color-datepicker-a47ae2 a{
    background-color:#a47ae2 !important;
    color:white !important;
}

#temporadasAlmanaque{
    display:inline-block !important;
    width:1200px !important;
    height:250px !important;
    border:none !important;
    margin:-10px 0 0 0;
}

#temporadasAlmanaque .ui-datepicker-inline{
    display:inline-block !important;
    width:1200px !important;
    border:none !important;
    margin:10px 0 0 -35px;
}

#temporadasAlmanaque .ui-datepicker-group{
    display:inline-block !important;
    margin: 0 16px 0 0 !important;
    width:178px !important;
}

#temporadasAlmanaque .ui-state-default{
    border:none !important;
}

.simplecolorpickerBorder {
    display:inline-block;
    border:1px solid #cccccc !important;
    border-radius:4px !important;
    padding:6px !important;
    background-color:white !important;    
}

.hidden {
     display:none;
}

.tituloPanel{
    font-size:16px;
    font-weight:bold;
}

.tituloPanel .switch{
    display:inline-block;
    float:right;
    margin:-6px 0 0 0 !important;    
}

.panel-off {
  border-color: #dedede;
}

.panel-off > .panel-heading {
  color: #999;
  background-color: #E7E5E6;
  border-color: #dedede;
}

.panel-off > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #dedede;
}

.panel-off > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #dedede;
}

/* uploader */

.loading_circle{display:inline-block; display:none; width:64px; height:64px; background-image:url(/content/imagenes/loading_circle.gif); background-position:center center; background-repeat:no-repeat; position:relative; margin:0 0 -94px 5px;}

.files, .files li{
    display:inline-block;
    width:100%;
    margin:0px;
    list-style-type:none;
    list-style:none;
}

.files li{
    width:212px;
    height:280px;
    margin:0 0 10px 10px;
    padding:5px !important;
    border: solid 1px #CCCCCC;
    border-radius: 5px;
}

.preview{display:inline-block; width:200px; height:230px; text-align:center; vertical-align:central; margin:0 0 5px 0; /*background-color:coral;*/ }
.preview img{display:inline-block; margin:0; max-width:100%; max-height:220px; text-align:center;vertical-align:middle;}

.progress{margin:60px 0 0 0;}
.botones_preload{display:inline-block; margin:171px 0 0 0; width:100%;}

.files p, .files strong{
    display:inline-block !important;
    float:left !important;
}

.files .progress{
    display:inline-block !important;
    float:left !important;
}

.files .name{
    display:inline-block !important;
    float:left !important;
    overflow:hidden !important;    
    line-height:24px !important;
    height:24px !important;
    width:100% !important;
}

#fotos_listado {
    padding-left:0px;
}

.fileupload-progress {
    margin-bottom: 10px;
    margin-top: -70px;
}

/* end uploader */

.BarraAdmTopFlotante{
    display:inline-block;
    width:100%;
    margin:0px;
    padding:0px;
    height:50px;
    background-color:#e7e5e6;
    z-index:100;
}

.TopMenuFlota{
    margin-bottom:0px !important;
    z-index:998 !important;
}

.dropdown-menu, .dropdown-menu li, .dropdown-menu a {
    z-index: 9999 !important;
}

.MensajeOk,
.MensajeError,
.MensajeProcesando{
    position:relative;
    display:inline-block;
    width:auto;    
    font-size:18px;    
    color:#28a745;
    background-color:white;   
    border-radius:5px !important;
    padding:5px 15px !important;
    margin:7px 0px 0px 0px;
}

.MensajeError{ 
    color:#DE5347;
}

.MensajeProcesando
{     
    color:#007ACC;
}

.BarraAdmTopFlotante .barraMensajes{    
    width:100%;
    margin:0px;
    padding:0px;
    height:50px;
    text-align:center;
}

.btnFrmGeneral{
    display:inline-block;
    float:right !important;
    position:relative !important;
    z-index:200;
    margin:8px 0px 0px 15px;
}

.disponibilidadRealListado{
    line-height:24px !important;
    padding-bottom:30px !important;
}

.columnaTarifaPorDiaWeekend{
    background-color:#CABAD4;
}

.columnaTarifaPorDia{
    margin:0px !important;
    padding-left:0px !important;
    padding-right:0px !important;
}


.columnaTarifaPorDia .form-group,
.columnaTarifaPorDia .col-md-11{
    margin:0px !important;
    padding-left:0px !important;
    padding-right:0px !important;
    height:40px !important;
    line-height:40px;
}

.columnaTarifaPorDia{
    width:70px !important;    
}


.columnaTarifaPorDia .form-control{
    font-size:13px !important;
}

.col-md-11.tarifaBasePorDiaNumerico{
    width:95.667% !important;
}

.tarifaBasePorDiaNumerico .input-group{
    margin-top:4px !important;
    margin-left:5px !important; 
}

.tarifaBasePorDia .form-control,
.tarifaBasePorDiaDinero .form-control{
    padding-left:4px;
    padding-right:4px;
    margin-top:3px;
    margin-left:5px;
    width:88% !important;
}

.col-md-11.tarifaBasePorDia,
.col-md-11.tarifaBasePorDiaDinero {
    width:100% !important;
}

.columnaTarifaPorDiaTitulos{
    font-weight:normal !important;
    font-size:12px !important;
    width:175px !important;
}

.columnaTarifaPorDiaTitulos,
.columnaTarifaPorDiaTitulos .col-md-10,
.columnaTarifaPorDiaTitulos .form-group{
    padding-left:0px !important;
    padding-right:0px !important;
    margin:0px !important;
    font-weight:normal !important;
    font-size:12px !important;
}

.columnaTarifaPorDiaTitulos .col-md-10{
    height:40px !important;
    line-height:24px !important;
}

.horaCheckOutTardio .form-control[readonly]{
    cursor: pointer !important;
}

.form-control.fechaDesdeTarifaPorDia {
    background-color:white !important;
    width:71px !important;
    padding-left:3px;
    padding-right:2px;
    font-size:13px !important;
}

.columnaTarifaPorDia .fechaColumna,
.columnaTarifaPorDia .fechaColumna ul,
.columnaTarifaPorDia .fechaColumna li{
    display:inline-block;
    float:left;
    margin:0px;
    padding:0px;
    list-style:none;
    list-style-type:none;    
}

.columnaTarifaPorDia .fechaColumna,
.fechaColumnaTitulo{
    height:70px !important;    
}

.fechaColumnaTitulo{
    z-index:90 !important;
    float:left;
    height:70px !important;
}

.columnaTarifaPorDia .fechaColumna li{
    width:70px;
    height:20px;
    line-height:20px;
    font-weight:normal !important;
    text-align:center;
    text-transform:capitalize;
    font-size:12px;    
    background-color:#B9DFE0;
}

.columnaTarifaPorDia .fechaColumna.fechaColumnaWeekend li{
    background-color:#CABAD4;
    color:white;
}

.fechaColumnaWeekend {
    background-color:#F9EBFF;
}

.columnaTarifaPorDia .fechaColumna li.nroDia{
    font-size:20px;
}

.columnaTarifaPorDia .fechaColumna li label{
    padding-top:0px !important;
    font-weight:normal !important;
}

.fechaColumnaTitulo .btn{
    padding:6px 5px !important;
}

#fechaDesdeFila{
    display:inline-block;
    float:left;
    width:100%;
    margin:0 0 -100px 0 !important;
    background-color:green;
    z-index:101 !important;
}

.tarifaBaseTitulo,
.tarifaBasePorDia{
    background-color:#F6EEA6;
}

.tarifaTituloFila,
.tarifaDatoFila,
.tarifaDivisor{
    display:inline-block;
    float:left;
    height:0px;
    line-height:0px;
    background-color:aqua;
    border:solid 0px #EEEEEE;
    border-bottom-width:1px;
    width:100%;
    padding:0px !important;
    margin:0px !important;
    box-sizing:inherit !important;
}

#TarifaPorDiaListadoDiv{
    padding:5px 0 20px 0;
}

#TarifaPorDiaListadoDiv .col-md-11{
    text-align:center !important;
}

#tarifaCargando{
    display:none;
    position:relative;
    z-index:101;
    background-color:rgba(136,136,136, 0.3);
    width:980px;
    height:562px;
    line-height:562px;
    top:0;
    right:-175px;
}

.loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.loaderPrecio {
  position: relative;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 35px;
  height: 35px;
  margin: -18px 0 0 -15px;
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.tarifasPorDiaMasivo{
    width:1100px !important;
    font-size:15px !important;
}

.contenedorFechasMasivo{
    height:208px;
}

.datosTarifaDiaMasivo{
    width:1080px !important;    
}

.datosTarifaDiaMasivo .panel{
    margin-left:20px;
}

.pull-right{
    float:right;
}

.modal_default_background{
    z-index:9998;
}

.modal_default_main{
    z-index:9999;
    border-radius:6px;
    padding:10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

 /* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #E57373;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2ECC71;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 

.center{
    text-align:center;
}

.positivo{
    /*color:#4CAF50;*/    
    margin:0px !important;
}

.negativo{
    color:#E57373;
}

.filtrosTarifasPorDia{
    padding:0 0 0 45px;
}

.emailPopUp{
    width:900px !important;
}

.emailPopUp input[type="text"]{
    max-width:720px !important;
}

.historialReserva,
.historialReserva li{
    display:inline-block;
    float:left;
    margin:0px;
    padding:0px;
    list-style:none;
}

.historialReserva li{
    background-color:#EFEFEF;
    border-radius:6px;
    padding:5px 15px;
    margin:0 0 20px 0;
    width:100%;
}

.historialReservaFechaModificacion{    
    font-size:12px;
    background-color:#DEDEDE;
    border-radius:6px;
    padding:3px 10px;
    margin:3px 0 5px -5px;
    width:101% !important;
}

.historialReserva div{    
    display:inline-block;
    float:left;
    width:45%;
}

.historialReservaObservaciones,
.historialReservaObservacionesTitulo{
    display:inline-block !important;
    float:left !important;
    width:100% !important;    
}

.historialReservaHabitaciones,
.historialReservaHabitaciones span{
    display:inline-block !important;
    float:left !important;
    width:100% !important;    
}

.historialReservaHabitaciones ul,
.historialReservaHabitaciones li{
    display:inline-block !important;
    float:left !important;
    width:100% !important;    
    list-style:none;
    margin:0px;
    padding:0px;
}

.historialReservaHabitaciones li{
    padding:0 0 0 10px;    
}



.alertModalReserva{
    display:inline-block;    
    height:52px;    
    width:100%;    
}

.usuarioHistorialTitulo,
.usuarioHistorialDato{
    float:right;
    display:inline-block;
}

.usuarioHistorialTitulo{
    margin:0 3px 0 0;
}

#frmReservaGrilla .form-group{
    max-width:100%;
    margin:0px 0px 10px 0px;
    padding:0px;
}

.fechaPopup{
    cursor:pointer;
    background-color:#fff;
    width:122px;
    text-align:center;
    font-weight:bold;
    font-size:16px;
}
#tiposHabitaciones select,
#habitaciones select,
#condiciones select{
    margin:0 0 10px 0 !important;
    display:inline-block !important;
}

#habitaciones select{
    max-width:407px;
}

.eliminarHabitacion{
    margin: 0 0 3px 0;
}

.eliminarHabitacionJavascript{
    margin: 0 0 3px 4px;
}
    
.tituloAncho{
    display:inline-block;
    width:100%;
}

.checkInContenedorReserva,
.checkOutContenedorReserva,
.fechaContenedorReserva,
.fechaContenedorReservaFechaIn{
    display:inline-block;
    width:38%;
}

.checkInContenedorReserva,
.fechaContenedorReservaFechaIn{
    width:150px;
}

.checkInContenedorReserva,
.checkOutContenedorReserva{
    margin:20px 0 0 0;
}

.checkInContenedorReserva a,
.checkOutContenedorReserva a{
    width:120px;
}

#pasajeros{
    position:unset !important;
    /*width:259px !important;*/
}

#datosPasajeros{
    margin:0 0 0 10px !important;
}

#datosEstado{
    margin-bottom:0 !important;
}

.formaDePago{
    margin-bottom:7px !important;
}

.idTipoHabitacion{
    max-width:99% !important;
}

.textarea-wide {
    max-width: 931px !important;
    resize: none !important;
}

.warning{
    background-color:#F2DEDE;
    border-color:#EBCCD1;
    color:#a94442;
}

#errorOverbooking{
    font-weight: bold;
}

.tipoHabitacionGrilla{
    font-size:8pt;
}

.badge-primary{
    background-color: #007bff;
    color: #fff;
}

.badge-success {
    background-color: #28a745;
    color: #fff;
}

.badge-danger {
    background-color: #dc3545;
    color: #fff;
}
.badge-warning {
    background-color: #ffc107;
    color: #111;
}

.fa{
    display:inline-block;
    width:25px;
    text-align:center;
    font-size:22px !important;
    margin:0 3px 0 8px;
    color:#ccc;
}

.comodidadActivada{
    color:#28A745;
}

.itemComodidad{
    margin:10px 0px;
    font-size:17px;
    font-weight:normal;
}

.left{
    text-align:left !important;
    padding-left:0px !important;
}

.leyendasEstadosReservas,
.leyendasCanales{
    display:inline-block;
    text-align:left;
    font-size:12px;
    margin:0px 0 5px 20px;
    /*background-color:#F0F0F0;*/
    /*background-color:#fff;*/
    border-radius:6px;

    float:left;
}

.leyendasEstadosReservas{
    width:610px;
    /*padding: 10px;*/
}

.leyendasCanales{
    width:auto !important;
    margin-top:5px;
    /*padding: 10px 0px 10px 10px;*/
}

.leyendaPrimerItemDiv {
    width:80px !important;
}

.leyendaEstadoTarjetaInvalidaDiv {
    width:120px !important;
}

.leyendasEstadosReservas .datosLeyenda div,
.leyendasCanales .datosLeyenda div{
    display:inline-block ;
    width:105px;
}

.leyendasEstadosReservas .datosLeyenda div{
    width:115px !important;
}


.leyendaCanalWeb,
.leyendaCanalMostrador,
.leyendaCanalBooking,
.leyendaCanalTrivago,
.leyendaCanalDeHoteles,
.leyendaEstadoPrecarga,
.leyendaEstadoPendiente,
.leyendaEstadoConfirmado,
.leyendaEstadoCancelado,
.leyendaEstadoTarjetaInvalida{
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 5px -5px 0px;
    border:solid #dedede 1px;
}

.leyendaEstadoPrecarga{
    background-color:orange;
}

.leyendaEstadoPendiente{
    background-color:yellow;
}

.leyendaEstadoConfirmado{
    background-color:green;
}

.leyendaEstadoCancelado{
    background-color:#f41616;
}

.leyendaEstadoTarjetaInvalida{
    background-color:#68217A;
}

.scheduler_default_event_inner{
    background:none !important;
}

.canalMostrador,
.leyendaCanalMostrador{ 
    /*mostrador - amarillo*/
    background-color: #FEFEE6;
}

.canalWeb,
.leyendaCanalWeb{    
    /*web - verde*/
    background-color: #D8FDD8;    
}

.canalBooking,
.leyendaCanalBooking{    
    /*booking - celeste*/
    background-color:#DCF6FE;
}

.canalTrivago,
.leyendaCanalTrivago{    
    /*naranja*/
    background-color:#FAD165;
}

.canalDeHoteles,
.leyendaCanalDeHoteles{    
    /*rosa*/
    background-color: #F6EEFB;
}

.tituloLeyenda{
    display:inline-block;
    text-align:left;
    float:left;
    width:100% !important;
    margin:0 0 5px 0px;
    font-weight:bold;
    font-size:14px;
}

.datosLeyenda{
    display:inline-block !important;
    text-align:left;
    width:100% !important;
    margin:0px !important;
    padding:0px !important;
}

.tituloPantallaCentrado{
    text-align:center;
    padding:0 0 10px 0;
}

.contCondFrm{
    display:inline-block;
    width:100%;
    margin:20px 0px 0px 0px;
    padding:0px;
}

.contCondFrm .form-group{
    margin-left:0px;
    margin-right:0px;
}

.contCondFrm textarea{
    min-height:150px;
    display:inline-block;
    /*float:left;*/
    line-height:18px;    
}

.controlesHabitaciones{
    display:inline-block;
    float:left;
    width:100px;
}

.planContratado {
    display: inline-block;
    float: left;
    line-height: 18px;
}

.planContratado b{
    font-size:16px;
}

.contCondFrm #horaCheckin,
.contCondFrm #horaCheckout{
    cursor:pointer;
    width:65px;
}

.condicionReserva label{
    font-size:13px;
}

.separadorPanel{
    display:inline-block;    
    /*border:0px solid #dedede;
    border-top-width:1px;*/
    width:268px;
    height:320px;
    background-color:#F0F0F0;
    margin:0 0 -306px -15px;
    border-bottom-left-radius:3px;
    border-bottom-right-radius:3px;
}

.logoSubido{
    margin-top:10px;
}

#extVal{
    display:inline-block;
    width:100%;
}

#eliminarLogoBtn{
    display:inline-block;
    width:100%;
    color:red;
    cursor:pointer;
    font-size:15px;
}

#eliminarLogoBtn:hover{
    text-decoration:none;
}

#eliminarLogoBtn .fa{
    width:auto;
    color:red;
}

.contDescripciones{
    border:1px solid #DDDDDD;
    border-top-width:0px;
    padding:10px;
    margin:0px;
}

.contDescripciones textarea{
    display:inline-block;
    width:100% !important;
    max-width:100% !important;
}

.nav-tabs li,
.nav-tabs a{
    outline: 0;
}

.encaTab{
    display:inline-block;
    width:100%;    
}

.labelTabs{    
    height:45px; 
    line-height:45px; 
    margin-right:15px;
}

#precioCargando,
#preciosTotales,
#precioSubTotal,
#precioTotal,
#precioImpuestos,
.precioTitulo,
.precioLinea,
.precioLineaTotal{
    display:inline-block;
    float:right;
    width:auto;
    font-size:18px;    
    color:#888;
    text-align:right;
}

.precioLinea,
.precioLineaTotal{    
    width:100%;
    /*background-color:red;*/
    border:dashed 0px #CCCCCC;
    border-bottom-width:1px;
}

.precioLineaTotal{    
    border-bottom-width:0px;
}

.precioTitulo{    
    font-size:14px;
    font-weight:normal;
    color:#000;
    text-align:left;
    height:30px;
    line-height:40px;
    width:50%;
}

#precioSubTotal,
#precioImpuestos{
    line-height:34px;    
    width:50%;
}

#precioTotal{
    color:#555555;
    font-weight:bold;
    font-size:24px;
    width:50%;
}

#preciosTotales{
    width:400px;
    margin:-30px 0 -20px 0;
    overflow:hidden;
}

.reservaModalPie{
    padding:10px 0 0 0 !important;
}

#actualizarPrecio{
    display:inline-block;
    float:right !important;
    margin:0 20px 0 0;
}

#precioCargando{
    width:130px;
    height:34px;
    border-radius:4px;    
    background-image:url("./imagenes/loaderPrecio2.png");
    background-repeat:no-repeat;
    background-position: center;
    background-color:#D9534F;
    margin:0 20px 0 0 ;
}

.controlGrillaReserva,
.controlesGrillaReserva{
    display:inline-block;
    width:310px;    
    line-height:40px;
}

.idReservaControl{
    margin:0 0 15px 0 !important;        
}

.controlesGrillaReserva{    
    line-height:46px;  
    float:left;  
}

.controlesGrillaReserva input{
    width:135px;
    display:inline-block;
}

.controlesGrillaReserva select{
    width:190px;
    display:inline-block;
}

.controlesGrillaReserva strong{
    width:100px;
    display:inline-block;
    text-align:right;
    margin:0 3px 0 0;
}
.controlesGrillaReserva a{
    height:34px;    
    font-size:16px;
    line-height:0px;
    margin:-2px 0 0 0 !important;
    color:white !important;    
}

.controlesGrillaReserva .fa{
    margin: -2px 0 0 0 !important;
    color:white !important;    
}

.idReservaPopUp{
    display:inline-block;
    float:left !important;
    background-color:#FF0000 !important;
    width:auto;
    font-size:18px !important;
    color:white;
    text-align:center;
    padding:2px 8px;
    border-radius:4px;
}

.sinResultadoIdReserva{
    display:inline-block;
    float:left;
    margin:0 0 0 20px !important;
    text-align:right;
    width:280px;
    line-height:20px !important;
    height:20px !important;
    white-space:nowrap;    
}

.errorEnTabla{
    font-weight:bold;
    font-size:16px;
}

.estadisticas .valor{    
    width:100%;
    text-align:center;
}


.estadisticas span,
.estadisticas .fa{
    display:inline-block;
    float:left;
    width:46%;
    color: #63C3A6;    
    text-align:right;
}

.estadisticas .fa{
    margin:0 5px 0 0;
    font-size:24px !important;
}

.estadisticas span{
    display:inline-block;
    /*width:auto;*/
    font-size:34px;
    font-weight:bold;    
    line-height:26px;
    text-align:left;
    margin:0 0 0 5px;
    /*padding-top:10px !important;*/    
}

.estadisticas .titulo{
    float:left;
    color: #333;
    font-size:18px;
    text-transform:uppercase;
    width:100%;
    text-align:center;
    line-height:24px;
    margin:15px 0 0 0 !important;
    /*font-weight:bold;*/
}

.estadisticas .checkInOutPendientes .titulo{
    margin:0 !important;
}

.estadisticas .checkInOutPendientes{
    display:inline-block;
    float:left;
    padding:0 0 0 30px;
}

.estadisticas .reservasCanceladas span,
.estadisticas .reservasCanceladas .fa{
    color:#F92548 !important;
}

.estadisticas .checkInOutPendientes .datosCheckInOut{
    padding:55px 0 55px 90px;
    border:solid 0px #EEEEEE;    
    border-bottom-width:1px;
    border-left-width:1px;
}

.estadisticas .checkInOutPendientes .datosCheckInOut:last-child{    
    border-bottom-width:0px;
}

.estadisticas .datosCheckInOut span,
.estadisticas .datosCheckInOut .fa{
    float:left;
    display:inline-block;
    color:#53A208 !important;    
}

.estadisticas .checkInOutPendientes span,
.estadisticas .checkInOutPendientes .fa{
    float:left;
    display:inline-block;
    color:#355AC4 !important;
    width:auto;
}

/*.estadisticas .checkInOutPendientes .fa{
    width:5%;
}*/
.estadisticas .checkInOutPendientes .valor span{
    width:auto !important;
}

.estadisticas .checkInOutPendientes span{
    display:inline-block;
    float:left;
    width:auto;    
    margin:0 0 0 5px;
}
.estadisticas .checkInOutPendientes .titulo{
    display:inline-block;
    float:left;
    width:auto;
    text-align:left;
    margin:0 0 0 20px !important;
}



.estadisticas .filaInferior{
    border:solid 0px #EEEEEE;
    border-top-width:1px;
    border-bottom-width:1px;
    padding:20px 0px;
}

.estadisticas .filaInferior .col-md-2{
   
    border:solid 0px #EEEEEE;
    border-right-width:1px;
    height:140px;
    width:20%;
    padding:30px 0 0 0; 
}

.estadisticas .filaInferior .col-md-2:last-child{
    border-right:0px !important;
}

#ocupacionGrafica{
    display:inline-block;
    float:left;
    padding:0 0 0 80px;
    height:300px;
    overflow:hidden;
    /*background-color:pink;*/
}

#ocupacionGrafica div:first-child{
    margin:-20px 0 0 0;
}

.estadisticas .filtroFechas{
    display:inline-block;
    float:right;
    width:auto;
    /*margin:0 0 30px 0;*/
    /*background-color:pink;*/
}

.estadisticas .tituloFiltroFechas {   
    float:left;
    width:100%;
    margin:0 0 15px 0 !important;    
    padding:0 0 10px 0;
    border:solid 0px #EEEEEE;
    border-bottom-width:1px;
}

.estadisticas .filtroFechas span{
    font-size:14px;
    color:#000;
    font-weight:normal;
    line-height:34px;
    text-align:right;
    margin:0 5px 0 0;   
    width:auto;
}

.estadisticas .filtroFechas div{
    display:inline-block;
    float:left;    
    /*background-color:aqua;*/
    width:170px;
    margin:0 20px 0 0;    
}

.estadisticas .filtroFechas div.fechaHasta{
    margin:0 10px 0 0;    
}

.estadisticas .filtroFechas #titulo,
.estadisticas .filtroFechas #titulo span{    
    width:120px;
}

.estadisticas .filtroFechas #titulo{    
    margin:0 20px 0 0 !important;
}
/*.estadisticas .filtroFechas .tituloFiltro*/
/*.estadisticas .filtroFechas div#datosFiltro*/
.estadisticas div#datosFiltro
{
    /*width:100%;*/
    display:inline-block;
    float:left;
    width:auto !important;
    line-height:34px;
    margin:0 10px 0 0;    
    font-size:20px;
    color:#888;    
}

/*.estadisticas .filtroFechas .tituloFiltro{
    width:auto;
    border:solid 0px #EEEEEE;
}*/

/*.estadisticas .filtroFechas div#datosFiltro b{*/    
.estadisticas div#datosFiltro b{    
    /*font-size:20px;*/
    color:#000;
}

.estadisticas .filtroFechas div.filtrar{    
    width:auto;    
    margin:0 10px 0 0;
}

.estadisticas .filtroFechas div.filtrar:last-of-type{
    margin:0;
}

.estadisticas .filtroFechas div.filtrar button  {    
    margin:0px;
    /*width:39px;*/
    height:34px;
}

.estadisticas .filtroFechas div.filtrar i{    
    margin:0px;
    padding:0px;
    color:#fff;
    font-size:16px !important;
}

/*.estadisticas .filtroFechas div.filtrar input{
    margin:0px;
}*/

.not-active {
   pointer-events: none;
   cursor: default;
}

.checkInDato,
.checkOutDato{
    /*background-color:aqua;*/
    /*font-weight:normal;*/
    margin-right:0px !important;
    padding-right:0px !important;
    padding-top:1px !important;
    width:89px;
    line-height:15px;
}

.checkInValor{
    width:154px;
    display:inline-block;
    padding-left:0px !important;
    padding-bottom:3px !important;
}

.checkOutValor{
    width:130px;
    display:inline-block;
    padding-left:0px !important;
    padding-bottom:3px !important;
}

.checkInValor span,
.checkOutValor span{
    display:inline-block;
    width:130px;
    
}
.checkInValor a,
.checkOutValor a{
    display:inline-block;
    font-weight:normal;
    width:30px;
    height:28px;
    line-height:25px;
    padding:0px;
    margin:2px 0 0 5px;
}

.checkOutValor a{
    margin:0;
}

/*.checkInValor i{
    color:#fff;
    margin:0px;
    padding:0px;    
}*/


    .pieAdmSimple{
        display:none;
        width:100%;
    }

    html{        
      height:100% !important;
      /*background-color:aqua !important;*/
    }

    body{        
      height:100% !important;
      /*background-color:red !important;*/
    }

    .body-content-reservas{
        height:calc(100% - 140px) !important;
        /*background-color:antiquewhite !important;*/
        overflow:hidden;
    }

    .main-body-reservas{
        height:calc(84%) !important;
        /*background-color:green !important;*/
        width:100% !important;
        padding:10px 0 0 0 !important;
    }

    .footer-reservas{        
        /*background-color:cadetblue !important;*/
        margin:-5px 0 0 0 !important;
    }

    #dp{
        height:calc(100% - 6px) !important;
        margin:5px 0 0 0 !important;
    }

    #nav{
        margin:10px 0 0 0 !important;
    }

    .cabeceraReservas{
        display:inline-block; 
        background-color:#F0F0F0;
        /*border:solid 1px #C0C0C0;*/
        border-radius:4px;
        width:970px;
        padding:7px 15px 6px 15px;
        margin:0;
    }

    .CuentaReservaListado,
    .CuentaReservaListado li{
        display:inline-block;
        float:left;
        margin:0px;
        padding:0px;
        list-style:none;        
        width:100%;        
        /*background:#3333;*/
    }
   

    .CuentaReservaListado li{
        padding:6px 0 0 2px !important;
        border:solid gray 0px;
        border-bottom-width:1px;
    }

    .CuentaReservaListado span{
        display:inline-block;
        width:13%;
        /*border:solid gray 1px;
        border-top-style:none;
        border-left-style:none;
        border-right-style:none;*/
        padding-bottom: 14px;

    }

    .CuentaReservaDescripcion{
        width:40% !important;
    }

    .cargo-item-cuenta{
        background-color:#FEDEDF;
    }

    .pago-item-cuenta{
        background-color:#DAFFCC;        
    }

    .descuento-item-cuenta{
        font-weight:bold;
        color:#FFA500;
    }

@media only screen and ( max-width: 1366px ){
       
    #dp{
        height:calc(100% - 41px) !important;
        margin:5px 0 0 0 !important;
    }

    .leyendasCanales{
        width:190px !important;
        margin:8px 0 0 0 !important;
        /*height:69px !important;
        */
    }   

    .leyendasEstadosReservas{
        margin:0 10px 0 0 !important;
        width:570px !important;
        /*
        height:69px !important;
        */
    }

    .leyendasEstadosReservas .datosLeyenda div{
        width:107px !important;
        /*
        overflow:hidden;*/
    }

    .leyendasCanales .datosLeyenda div{
        width:80px !important;
    }

    .leyendaPrimerItemDiv{
        width:60px !important;
    }

    .controlesGrillaReserva{
        margin:0 20px 0 0 !important;
    }
}

@media only screen and ( max-width: 1280px ) {
       
    #dp{
        height:calc(100% - 50px) !important;
        margin:5px 0 0 0 !important;
    }

    .leyendasCanales{
        width:190px !important;
        margin:8px 0 0 0 !important;
        /*height:69px !important;
        */
    }   

    .leyendasEstadosReservas{
        margin:0 10px 0 0 !important;
        width:570px !important;
        /*
        height:69px !important;
        */
    }

    .leyendasEstadosReservas .datosLeyenda div{
        width:107px !important;
        /*
        overflow:hidden;*/
    }

    .leyendasCanales .datosLeyenda div{
        width:80px !important;
    }

    .leyendaPrimerItemDiv{
        width:60px !important;
    }

    .controlesGrillaReserva{
        margin:0 20px 0 0 !important;
    }
}



@media only screen and ( max-width: 1024px ){

    #dp{
        height:calc(100% - 40px) !important;
        margin:5px 0 0 0 !important;
    }

    .cabeceraReservas{
        width:840px !important;
    }

    .datosLeyenda{
        height:50px !important;
    }   

    .leyendasCanales{
        width:120px !important;
        margin:0px !important;
    }   

    .leyendasEstadosReservas{
        width:230px !important;
        margin:0 20px 0 20px !important;
    }

    .leyendasEstadosReservas,
    .leyendasEstadosReservas .tituloLeyenda,
    .leyendasCanales,
    .leyendasCanales .tituloLeyenda{
        font-size:12px !important;
    }

    .leyendasCanales .leyendaPrimerItemDiv{
        width:60px !important;
    }

    .leyendaCanalWebTitulo{
        width:40px !important;
    }

    .leyendaEstadoTarjetaInvalidaDiv{
        width:150px !important;
    }

    .leyendaEstadoTarjetaInvalidaSpan{        

        display:inline-block !important;        
        width:130px !important;
        overflow:hidden !important;
        height:15px !important;
        line-height:20px !important;
    }

    .leyendasEstadosReservas .datosLeyenda div{
        width:auto !important;
        min-width:110px !important;
        margin:0 0 10px 0 !important;
    }
    

    .leyendasCanales .datosLeyenda div{
        width:85px !important;
        margin:0 0 10px 0 !important;
    }

    .controlesGrillaReserva{
        width:280px !important;
    }

    .controlGrillaReserva{
        width:auto !important;
    }

    .controlGrillaReserva,
    .controlGrillaReserva input,
    .controlGrillaReserva select{
        font-size:12px !important;
    }

    .controlGrillaReserva input
    {
        width:130px !important;
    }

    .controlGrillaReserva strong{
        width:80px !important;
    }

    .controlGrillaReserva select{
        width:183px !important;
    }

}

@media only screen and ( min-width: 768px ) and ( max-width: 960px ) {
 
}

@media only screen and ( max-width: 767px ) {

    

}

@media only screen and ( max-width: 479px ) {
    
}

