﻿@model ReservasWeb.ViewModels.Channel.listadoChannelTipoHabViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    $(function () {
        $('.disponibleAbonoHabitacionSwitch').change(function () {
                var idTipoHabitacion = $(this).data('id');
                var checkbox = $(this);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '/ChannelManager/ActivarLink/',
                    dataType: 'JSON',
                    data: {
                        id: idTipoHabitacion,
                        disponible: this.checked
                    },
                    success: function (resdata) {
                        if (resdata["Resultado"] != "ok") {
                            setTimeout(
                              function () {
                                  checkbox.prop('checked', false);
                              }, 500);

                        } else {
                            
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                });
            //}

        });
    });


</script>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>


        </div>
    </div>
</div>

<div class="container">
@using (Html.BeginForm("guardarTiposHabitaciones", "ChannelManager", FormMethod.Post, new { id = "frmCombina" }))
            {
    <center><h2>Habitaciones</h2></center><br />

    <p class="controlesHabitaciones">
        <br />
        <br />
        <input type="submit" class="btn-default" />
        <br />
        <br />

        <div class="planContratado">
            <div><b>Plan Ilimitado habitaciones</b></div>
            <div>(Habitaciones disponibles <span id="cantidadDisponiblesWebMostrador"> Infinito</span>)</div>
        </div>

    </p>
    <table class="table">
        <tr>
            <th class="col-md-2 text-center">

                Activar / Desactivar<br />Portales
            </th>
            <th>Tipo Habitacion</th>
            <th>Estado</th>
            <th>Cantidad Locales</th>
            <th>Cantidad Externas</th>
            <th>Tipo de Habitacion ROOM CLOUD</th>
        </tr>

        @{ 
            int i = -1;
        }
        @foreach (ReservasWeb.Models.TiposHabitacione item in Model.listado)
            {
                i++;
            <tr>
                <td class="col-md-2 text-center">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" class="disponibleAbonoHabitacionSwitch" data-id="@(item.idTipoHabitacion)" @(item.idLink.HasValue && item.idLink.Value !=0 ? "checked" : "") />
                        <span class="slider round"></span>
                    </label>

                </td>
                <td>@item.nombreEs</td>
                <td>
                    Status
                </td>
                <td>@item.Habitaciones.Count()</td>
                <td>0</td>
                <td style="font-size:15px;">
                    Codigo: @(item.idLink.HasValue && item.idLink.Value != 0 ? item.idLink.Value.ToString() : "NO LINKEADO")
                    @Html.DropDownListFor(model => model.linkList[i], Model.comboTipoHab, new { @class = "form-control" })
                   
                </td>
            </tr>
        }

    </table>
    }
</div>
