﻿@model ReservasWeb.ViewModels.ChannelViewModel

<!DOCTYPE html>
@{
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />

</head>
<body>
    <div>
        Connect..1
        @Html.TextAreaFor(model => model.texto, 7, 63, new { @title = "Texto", @class = "form-control textarea-wide" })
    </div>
</body>
</html>
