﻿@model ReservasWeb.ViewModels.ChannelViewModel
<style>
    .celD
    {
        border: 1px solid;
    }
    .celH{
        border: 1px solid;
    }
</style>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

                  <input type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="validarUpload();" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">Hoteles</div>
        <hr />
        <div class="col-md-2">ID</div>
        <div class="col-md-2">Descripcion</div>
        <div class="col-md-2">Tarifas</div>
        <div class="col-md-2">Habitaciones</div>
        <div class="col-md-2">Reservas</div>
        <div class="col-md-2">Portales</div>
        <hr />
        <div class="" >
            <div class="col-md-2 celD">3677</div>
            <div class="col-md-2 celD">testReservasTravel</div>
            <div class="col-md-2 celD">@Html.ActionLink("Tarifas", "Tarifas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Habitaciones", "TipoHabitaciones")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Reservas", "Reservas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Portales", "Portales")</div>
        </div>
        <div class="">
            <div class="col-md-2 celD">Not Found</div>
            <div class="col-md-2 celD">----</div>
            <div class="col-md-2 celD">@Html.ActionLink("Tarifas", "Tarifas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Habitaciones", "Habitaciones")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Reservas", "Reservas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Portales", "Portales")</div>
        </div>
        <div class="">
            <div class="col-md-2 celD">Not Found</div>
            <div class="col-md-2 celD">----</div>
            <div class="col-md-2 celD">@Html.ActionLink("Tarifas", "Tarifas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Habitaciones", "Habitaciones")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Reservas", "Reservas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Portales", "Portales")</div>
        </div>
        <div class="">
            <div class="col-md-2 celD">Not Found</div>
            <div class="col-md-2 celD">----</div>
            <div class="col-md-2 celD">@Html.ActionLink("Tarifas", "Tarifas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Habitaciones", "Habitaciones")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Reservas", "Reservas")</div>
            <div class="col-md-2 celD">@Html.ActionLink("Portales", "Portales")</div>
        </div>
    </div>
    <div>
        Connect..1
        @Html.TextAreaFor(model => model.texto, 7, 63, new { @title = "Texto", @class = "form-control textarea-wide" })
    </div>
</div>
