﻿@model ReservasWeb.ViewModels.ChannelViewModel

<!DOCTYPE html>
@{ 

}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    
</head>
<body>
    <div class="container">
    <div class="row">
        
        <div class="col-md-12"><h1>Channel Manager</h1></div>
        <div class="col-md-4"></div>
        <div class="col-md-4">Estado: @Model.texto</div>
        <div class="col-md-4"></div>
        <br />
        <p></p>
        <div class="col-md-12"><h4>Panel de Control</h4></div>
        @{
            if (Model.idEstado == 0)
            {
                <div class="col-md-3">
                    @Html.ActionLink("Iniciar Configuración", "elegirTiposHabitaciones")
                </div>
                <div class="col-md-3">
                    Modificar Configuración
                </div>
                <div class="col-md-3">
                    Activar 
                </div>
                <div class="col-md-3">
                    Desactivar
                </div>
            }
            else
            {
                @Html.ActionLink("Borrar Configuración", "BorrarConfiguracion")
                @Html.ActionLink("Modificar Configuracion", "ModificacionConfiguracion") 
                @Html.ActionLink("Activar", "ActivarChannel") 
                @Html.ActionLink("Desactivar", "Desactivar")
                }
            }
    </div>
</div>
</body>
</html>
