﻿@model ReservasWeb.ViewModels.ChannelViewModel
<style>
    .celD {
        border: 1px solid;
    }

    .celH {
        border: 1px solid;
    }
</style>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>
            5
            <input type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="validarUpload();" />
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col-md-12">Tarifas</div>
        <hr />
        <div class="col-md-6">Tarifa ID</div>
        <div class="col-md-6">Descripcion</div>
        <hr />
        <div class="">
            <div class="col-md-6 celD">10284</div>
            <div class="col-md-6 celD">Bed and breakfast</div>
        </div>
        <div class="">
            <div class="col-md-6 celD">10285</div>
            <div class="col-md-6 celD">No Reembolsable</div>
        </div>
    </div>
    <div>
        Connect..1
        @Html.TextAreaFor(model => model.texto, 7, 63, new { @title = "Texto", @class = "form-control textarea-wide" })
    </div>
</div>
