﻿@model ReservasWeb.ViewModels.ListadoTiposHabitacionViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

        //function eliminar(idTipoHabitacion) {
        //    var borra = confirm("¿Está seguro que desea eliminar este Tipo de Habitación?")
        //    if (borra) {
        //        //var idTipoHabitacion = $(this).attr('data-id');
        //        $.ajax({
        //            cache: false,
        //            type: "POST",
        //            url: '/TiposHabitacion/Eliminar/',
        //            dataType: 'JSON',
        //            data: { id: idTipoHabitacion },
        //            success: function (resdata) {
        //                $('#ContenedorTiposHabitacion #tipoHabitacionItem-' + idTipoHabitacion).fadeOut(500);
        //            },
        //            error: function (xhr, ajaxOptions, thrownError) {
        //                alert("tiro Error");
        //            }
        //        });
        //    }
        //}
    $(function () {
        $('.disponibleAbonoHabitacionSwitch').change(function () {
            //if (this.checked) {
                var idHabitacion = $(this).data('id');
                var checkbox = $(this);
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '/Habitaciones/DisponibleWebMostrador/',
                    dataType: 'JSON',
                    data: {
                        id: idHabitacion,
                        disponible: this.checked
                    },
                    success: function (resdata) {
                        if (resdata["Resultado"] != "ok") {
                            setTimeout(
                              function () {
                                  checkbox.prop('checked', false);
                              }, 500);

                        } else {
                            //alert($('#cantidadDisponiblesWebMostrador').text());
                            //alert(checkbox.prop('checked'));
                            if (checkbox.prop('checked'))
                                $('#cantidadDisponiblesWebMostrador').text(parseInt($('#cantidadDisponiblesWebMostrador').text()) - 1);
                            else
                                $('#cantidadDisponiblesWebMostrador').text(parseInt($('#cantidadDisponiblesWebMostrador').text()) + 1);
                        }
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                });
            //}

        });
    });


</script>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }

        </div>
    </div>
</div>

<div class="container">

    <center><h2>Habitaciones</h2></center><br />

    <p class="controlesHabitaciones">

        @Html.ActionLink("Nueva +", "Crear", null, new { @class = "btn btn-success" })
        @*@if(Model.listado != null && Model.cantidadHabitaciones > Model.listado.Count()){
                @Html.ActionLink("Nueva +", "Crear")
            }
            else
            {
                <div class="alert alert-warning alert-dismissible fade in" role="alert">
                    Se alcanzó el máximo de habitaciones para el abono adquirido.
                </div>
            }*@

        <div class="planContratado">
            <div><b>Plan Ilimitado habitaciones</b></div>
            <div>(Habitaciones disponibles <span id="cantidadDisponiblesWebMostrador"> Infinito</span>)</div>
        </div>

    </p>
    <table class="table">
        <tr>
            <th class="col-md-2 text-center">
                @*(<span id="cantidadDisponiblesWebMostrador" class="positivo">@(Model.cantidadMaximaWebMostrador - Model.cantidadDisponiblesWebMostrador)</span>)*@
                @*Web
                    <h5 class="positivo">Hab. disponibles: <span id="cantidadDisponiblesWebMostrador">@(Model.cantidadMaximaWebMostrador - Model.cantidadDisponiblesWebMostrador)</span></h5>*@

                Activar / Desactivar<br />Portales
            </th>
            <th>Nombre</th>
            <th>Tipo Habitacion</th>
            <th>Estado</th>
            <th>Cantidad Locales</th>
            <th>Cantidad Externas</th>
            <th></th>
        </tr>

        @foreach (ReservasWeb.Models.TiposHabitacione item in Model.listado)
        {
            <tr>
                <td class="col-md-2 text-center">
                    <!-- Rounded switch -->
                    <label class="switch">
                        <input type="checkbox" class="disponibleAbonoHabitacionSwitch" data-id="@(item.idTipoHabitacion)" @*@(item.disponibleAbonoHabitacion.HasValue && item.disponibleAbonoHabitacion.Value ? "checked" : "")*@ />
                        <span class="slider round"></span>
                    </label>

                </td>
                <td>@item.nombreEs</td>
                <td>@item.nombreEs</td>
                <td>
                    Not Connected
                </td>
                <td>@item.Habitaciones.Count()</td>
                <td></td>
                <td>
                    @Html.ActionLink("Linkear","Linkear", new { idTipoHabitacion = item.idTipoHabitacion })
                    @Html.ActionLink("Editar", "Editar", new { idTipoHabitacion = item.idTipoHabitacion }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { idTipoHabitacion = item.idTipoHabitacion }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.nombreEs + "\"?');" })
                </td>
            </tr>
                        }

    </table>

</div>