﻿@model ReservasWeb.ViewModels.CondicionesReservaViewModel

@{
    ViewBag.Title = "Editar Condiciones Reserva";
}

@using (Html.BeginForm())
{

    <script type="text/javascript">
      $(function () {
        $('.disponibleMedioPagoSwitch').change(function () {
            $(".disponibleMedioSwitch").val(this.checked);
        });
      });

      $(function () {
          $('#listaFormaPagos_0__seleccionada').change(function () {
              $("#listaFormaPagos_0__seleccionada").val(this.checked);
          });
      });
      
      $(function () {
          $('#disponibleMedioPagoSwitch1').change(function () {
              $('#disponibleMedioPagoSwitch1').val(this.checked);
              $("#listaFormaPagos_0__seleccionada").val(this.checked);
          });
      });
      $(function () {
          $('#disponibleMedioPagoSwitch2').change(function () {
              $('#disponibleMedioPagoSwitch2').val(this.checked);
              $("#listaFormaPagos_1__seleccionada").val(this.checked);
          });
      });
      $(function () {
          $('#disponibleMedioPagoSwitch3').change(function () {
              $('#disponibleMedioPagoSwitch3').val(this.checked);
              $("#listaFormaPagos_2__seleccionada").val(this.checked);
          });
      });
      $(function () {
          $('#disponibleMedioPagoSwitch4').change(function () {
              $('#disponibleMedioPagoSwitch4').val(this.checked);
              $("#listaFormaPagos_3__seleccionada").val(this.checked);
          });
      });
            
    </script>

    <div class="BarraAdmTopFlotante">
        <div class="container">
            <div class="barraMensajes">
                <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

                <input id="guardarBoton" type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="procesando();" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary btnFrmGeneral" })
            </div>

        </div>
    </div>
    <div class="container">

        <h2>Editar</h2>

        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="col-md-9">
                @Html.ValidationMessageFor(model => model.idCondReserva, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-horizontal">
            <h4>Condiciones Reserva</h4>
            <hr />
            <div class="col-md-6">
                @Html.LabelFor(model => model.nombreEs, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.nombreEs, new { htmlAttributes = new { @class = "form-control texbox-condiciones-reseervas" } })
                @Html.ValidationMessageFor(model => model.nombreEs, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(model => model.nombreEn, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.nombreEn, new { htmlAttributes = new { @class = "form-control texbox-condiciones-reseervas" } })
                @Html.ValidationMessageFor(model => model.nombreEn, "", new { @class = "text-danger" })
                <br />
                @Html.LabelFor(model => model.nombrePt, htmlAttributes: new { @class = "control-label" })
                @Html.EditorFor(model => model.nombrePt, new { htmlAttributes = new { @class = "form-control texbox-condiciones-reseervas" } })
                @Html.ValidationMessageFor(model => model.nombrePt, "", new { @class = "text-danger" })
                <br />
                <div class="form-group col-md-12">
                    @Html.LabelFor(model => model.descripcionEs, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.descripcionEs, 6, 63, new { @title = "Descripción", @class = "form-control textarea-wide" })
                    @Html.ValidationMessageFor(model => model.descripcionEs, "", new { @class = "text-danger" })
                    <br />
                    @Html.LabelFor(model => model.descripcionEn, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.descripcionEn, 6, 63, new { @title = "Descripción", @class = "form-control textarea-wide" })
                    @Html.ValidationMessageFor(model => model.descripcionEn, "", new { @class = "text-danger" })
                    <br />
                    @Html.LabelFor(model => model.descripcionPt, htmlAttributes: new { @class = "control-label" })
                    @Html.TextAreaFor(model => model.descripcionPt, 6, 63, new { @title = "Descripción", @class = "form-control textarea-wide" })
                    @Html.ValidationMessageFor(model => model.descripcionPt, "", new { @class = "text-danger" })
                    <br />
                </div>
            </div>

            <div class="col-md-6">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.idCondReserva)
                @Html.HiddenFor(model => model.IdAlojamiento)
                @Html.HiddenFor(model => model.FechaCreacion)
                @Html.HiddenFor(model => model.FechaModificacion)

                @Html.Label("Tipo Politica", htmlAttributes: new { @class = "control-label col-md-3" })
                @Html.DropDownListFor(model => model.idPoliticaCancelacion, Model.listadoPoliticas, new { @class = "form-control" })
                <br />

                <div class="row" style="margin-left:20px;">

                    <table class="table">
                        <tr>
                            <th></th>
                            <th>Activar / Desactivar </th>
                            <th></th>
                            <th>Medio de Pago</th>
                        </tr>
                        @for (int i = 0; i < Model.listaFormaPagos.Count; i++)
                        {
                            <tr>
                                <td></td>
                                <td>
                                    <label class="switch">
                                        <input type="checkbox" id="disponibleMedioPagoSwitch@(Model.listaFormaPagos[i].idFormadePago)" @(Model.listaFormaPagos[i].seleccionada ? "checked" : "") />
                                        <span class="slider round"></span>
                                    </label>
                                    @Html.HiddenFor(model => model.listaFormaPagos[i].seleccionada)
                                </td>
                                <td></td>
                                <td>
                                    <img src="~/Content/imagenes/mediosdepago/@Model.listaFormaPagos[i].icono" />
                                    <br />
                                    @Html.HiddenFor(model => model.listaFormaPagos[i].idFormadePago)
                                    @Html.HiddenFor(model => model.listaFormaPagos[i].nombre)
                                    @Html.HiddenFor(model => model.listaFormaPagos[i].icono)                                    
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>

        </div>
    </div>

}
