﻿
@model ReservasWeb.ViewModels.ListadoCondicionesReservaViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">





</script>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>
            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }
        </div>
    </div>
</div>

<div class="container">

    <center><h2>Condiciones Reserva</h2></center><br />

    <p>
        @Html.ActionLink("Nueva +", "Crear", null, new { @class = "btn btn-success" })
    </p>

    <table class="table">
        <tr>

            <th>Nombre</th>

            <th></th>
        </tr>

        @foreach (var item in Model.listado)
        {
            <tr>

                <td>@item.nombreEs</td>


                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.idCondReserva }) |
                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idCondReserva }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.nombreEs + "\"?');" })
                </td>
            </tr>
        }

    </table>

</div>