﻿@model ReservasWeb.ViewModels.EstadisticasViewModel

@{
    ViewBag.Title = "Index";
}

<script src="~/Content/charts/loader.js"></script>

    <script type="text/javascript">

        $.validator.setDefaults({ ignore: ".hidden .form-control, .ignore" });
        $.validator.unobtrusive.parse($("form"));

        google.charts.load('current', { 'packages': ['corechart'] });
        google.charts.setOnLoadCallback(drawChart);

        function drawChart2() {

            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Habitaciones');
            data.addColumn('number', 'Ocupacion');
            data.addRows([
              ['Ocupado', 33],
              ['Desocupado', 26]
            ]);

            var options = {
                title: 'Ocupaciones de Habitaciones',
                sliceVisibilityThreshold: .2
            };

            var chart = new google.visualization.PieChart(document.getElementById('ocupacionGrafica'));
            alert(chart);
            chart.draw(data, options);
        }

        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('string', 'Habitaciones');
            data.addColumn('number', 'Ocupacion');
            data.addRows([
              ['Ocupadas ( ' + @Model.habitacionesOcupadas + ' )', @Model.habitacionesOcupadas],
              ['Disponibles ( ' + @Model.habitacionesDisponibles + ' )', @Model.habitacionesDisponibles]
            ]);

            // Set chart options
            var options = {
                'title': 'HABITACIONES',
                'width': 600,
                'height': 400,
                //slices: {
                //    0: { color: '#0077cc' },
                //    1: { color: '#78C5D9' }
                //}
                slices: {
                    0: { color: '#FF0000' },
                    1: { color: '#C7C7C7' }
                }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.PieChart(document.getElementById('ocupacionGrafica'));
            chart.draw(data, options);
        }

        $(function () {

            $('#datosHoy').click(function () {
                $("#fechaDesde").addClass("ignore");
                $("#fechaHasta").addClass("ignore");
                $("#fechaDesde").val("");
                $("#fechaHasta").val("");
            });

            $.datepicker.setDefaults($.datepicker.regional['es']);

            var dateFormat = "dd/mm/yy",
            from = $("#fechaDesde").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                to.datepicker("option", "minDate", getDate(this));
                mostrarActualizarPrecio();
            }),
            to = $("#fechaHasta").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                from.datepicker("option", "maxDate", getDate(this));
                mostrarActualizarPrecio();
            });
        });

    </script>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }            

        </div>
    </div>
</div>

    <div class="container estadisticas">
        <div class="col-md-12">
            <center><h2>Estadísticas</h2></center>
            <br />


            @*<div class="filtroFechas tituloFiltroFechas">
                <div id="datosFiltro">
                    @if (Model.fechaDesde == null)
                    {
                        @:Datos de <b>Hoy</b>
                        }
                    else
                    {
                        @:Datos del <b>@Model.fechaDesde</b> al <b>@Model.fechaHasta</b>
                        }
                </div>

                <div>
                    <span>Fecha Desde</span>
                    @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control fechaPopup", @readonly = "readonly" } })
                </div>
                <div class="fechaHasta">
                    <span>Fecha Hasta</span>
                    @Html.EditorFor(model => model.fechaHasta, new { htmlAttributes = new { @class = "form-control fechaPopup", @readonly = "readonly" } })
                </div>
                <div class="filtrar">
                    <button id="filtrar" type="submit" value="Filtrar" class="btn btn-success btnFrmGeneral" onclick="procesando();">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="filtrar">
                    <button id="datosHoy" type="submit" value="Datos de Hoy" class="btn btn-danger btnFrmGeneral" onclick="procesando();">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>*@
            @*<div class="filtroFechas">

            </div>*@

            <div class="tituloFiltroFechas">
                    <div id="datosFiltro">
                        @if(Model.fechaDesde == null)
                        {
                            @:Datos de <b>Hoy</b>
                        }
                        else
                        {
                            @:Datos del <b>@Model.fechaDesde</b> al <b>@Model.fechaHasta</b>
                        }
                    </div>

                    <div class="filtroFechas">
                        <div id="titulo">
                            <span>Cambiar Fecha: </span>                            
                        </div>
                        <div>
                            <span>Desde</span>
                            @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control fechaPopup", @readonly = "readonly" } })
                        </div>
                        <div class="fechaHasta">
                            <span>Hasta</span>
                            @Html.EditorFor(model => model.fechaHasta, new { htmlAttributes = new { @class = "form-control fechaPopup", @readonly = "readonly" } })
                        </div>
                        <div class="filtrar">
                            <button id="filtrar" type="submit" value="Filtrar" class="btn btn-success btnFrmGeneral" onclick="procesando();">
                                <i class="fa fa-search" aria-hidden="true"></i>
                            </button>
                        </div>
                        <div class="filtrar">
                            <button id="datosHoy" type="submit" value="Datos de Hoy" class="btn btn-danger btnFrmGeneral" onclick="procesando();">
                                <i class="fa fa-times" aria-hidden="true"></i>
                            </button>
                        </div>
                    </div>
            </div>
            @*<div class="filtroFechas">
                <div>
                    <span>Fecha Desde</span>
                    @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control fechaPopup", @readonly = "readonly" } })
                </div>
                <div class="fechaHasta">
                    <span>Fecha Hasta</span>
                    @Html.EditorFor(model => model.fechaHasta, new { htmlAttributes = new { @class = "form-control fechaPopup", @readonly = "readonly" } })
                </div>
                <div class="filtrar">
                    <button id="filtrar" type="submit" value="Filtrar" class="btn btn-success btnFrmGeneral" onclick="procesando();">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </button>
                </div>
                <div class="filtrar">
                    <button id="datosHoy" type="submit" value="Datos de Hoy" class="btn btn-danger btnFrmGeneral" onclick="procesando();">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </div>*@

            <div class="row">
                <div class="col-md-6" id="ocupacionGrafica"></div>                
                <div class="col-md-6 checkInOutPendientes">

                    <div class="col-md-12 datosCheckInOut">
                        @*<div class="valor">
                            <i class="fa fa-sign-in" aria-hidden="true"></i>
                            <span>9@Model.checkIn</span>
                        </div>*@
                        <i class="fa fa-sign-in" aria-hidden="true"></i>
                        <span>@Model.checkInPendientes</span>
                        <div class="titulo">Check-In Pendientes</div>
                    </div>

                    <div class="col-md-12 datosCheckInOut">
                        <div class="valor">
                            <i class="fa fa-sign-out" aria-hidden="true"></i>
                            <span>@Model.checkOutPendientes</span>
                        </div>
                        <div class="titulo">Check-Out Pendientes</div>
                    </div>

                </div>
            </div>
            <div class="row filaInferior">
                <div class="col-md-2">
                    <div class="valor">
                        <i class="fa fa-user-o" aria-hidden="true"></i>
                        <span>@Model.huespedes</span>
                    </div>
                    <div class="titulo">Huespedes</div>
                </div>
                <div class="col-md-2">
                    <div class="valor">
                        <i class="fa fa-bell-o" aria-hidden="true"></i>
                        <span>@Model.reservasNuevas</span>
                </div>
                <div class="titulo">Nuevas <br/>Reservas</div>
            </div>
            <div class="col-md-2 reservasCanceladas">
                <div class="valor">
                    <i class="fa fa-bell-o" aria-hidden="true"></i>
                    <span>@Model.reservasCanceladas</span>
                </div>
                <div class="titulo">Reservas <br/>Canceladas</div>
            </div>
            <div class="col-md-2 datosCheckInOut">
                <div class="valor">
                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                    <span>@Model.checkIn</span>
                </div>
                <div class="titulo">Check-In</div>
            </div>
            <div class="col-md-2 datosCheckInOut">
                <div class="valor">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span>@Model.checkOut</span>
                </div>
                <div class="titulo">Check-Out</div>
            </div>
        </div>


            @*<p>
            @Html.ActionLink("Nuevo +", "Crear", null, new { @class = "modal-link btn btn-success" })
        </p>
        <table class="table" id="ContenedorTiposHabitacion">
            <tr>
                <th class="col-md-3">Nombre</th>
                <th>Plazas</th>
                <th>Cama Matrimonial</th>
                <th>Camas Simples</th>
                <th>Camas Adicionales</th>
                <th></th>
            </tr>

            @foreach (var item in Model.listado)
            {
                bool datosIncompletos = item.plazas == 0 || item.TarifasBases.Count() == 0;
                <tr id="tipoHabitacionItem-@item.idTipoHabitacion" class="@(datosIncompletos ? "danger" : "")">
                    <td class="col-md-3">@item.nombreEs</td>
                    @if (datosIncompletos)
                    {
                        <td colspan="4" class="text-danger errorEnTabla">Datos incompletos, cargue Tarifas Base y Plazas por favor</td>
                    }
                    else
                    {
                        <td>@item.plazas</td>
                        <td>@item.camaMatrimonial</td>
                        <td>@item.camasSimples</td>
                        <td>@item.camasAdicionales</td>
                    }
                    <td>
                        @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTipoHabitacion }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.nombreEs + "\"?');" })
                    </td>
                </tr>
            }

        </table>*@
        </div>
        
    </div>

}