﻿@model ReservasWeb.ViewModels.HojaBuscarViewModel


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Buscar</title>
</head>
<body>
    <div class="container">
        <div class="col-md-12">

        </div> 
    </div>
    <script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});
    </script>
    <link href="~/Content/css/font-awesome.css" rel="stylesheet" />
    <form id="buscar" action="/Reservas/Buscar" method="post">
        <div class="container">
            <div class="content">

                <div id="searchContainer" style="height:100%;position:relative;">
                    <div class="subtitle" style="text-align:center;">
                        <h2>Buscar Reservas</h2>
                    </div>
                    <div class="" >
                        <div class="col-md-3">
                            <div class="form-group">
                                <strong>Número de Reserva:</strong>
                                @*@Html.LabelFor(model => model.idReserva, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                @Html.EditorFor(model => model.idReserva, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.idReserva, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                <strong>Tarjeta (Crédito / Débito):</strong>
                                @*@Html.LabelFor(model => model.tarjeta, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                @Html.EditorFor(model => model.tarjeta, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.tarjeta, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.correo, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.txtHuesped, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.txtHuesped, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.txtHuesped, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.comentarios, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.comentarios, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.comentarios, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.documento, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.EditorFor(model => model.documento, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.documento, "", new { @class = "text-danger" })
                            </div>


                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idTipoHabitacion, htmlAttributes: new { @class = "control-label" })                                                                
                                @Html.DropDownListFor(model => model.idTipoHabitacion, Model.comboTipoHabitaciones, "- Elegir -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idTipoHabitacion, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(model => model.idHabitacion, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.DropDownListFor(model => model.idHabitacion, Model.comboHabitaciones, "- Elegir -", new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.idHabitacion, "", new { @class = "text-danger" })
                            </div>
                            <div class="form-group">
                            </div>


                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                @Html.LabelFor(model => model.idEstado, htmlAttributes: new { @class = "control-label col-md-4" })
                                @Html.DropDownListFor(model => model.idEstado,Model.comboEstado,"-Elegir-", new { @class = "form-control" } )
                                @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
                            </div>

                            <div class="form-group">
                                @*@Html.LabelFor(model => model.fechaEntrada, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                @*@Html.EditorFor(model => model.fechaEntrada, new { htmlAttributes = new { @class = "form-control"} })*@
                                @*@Html.ValidationMessageFor(model => model.fechaEntrada, "", new { @class = "text-danger" })*@
                            </div>
                            <div class="form-group">
                                @*@Html.LabelFor(model => model.fechaSalida, htmlAttributes: new { @class = "control-label col-md-4" })*@
                                @*@Html.EditorFor(model => model.fechaSalida, new { htmlAttributes = new { @class = "form-control"} })*@
                                @*@Html.ValidationMessageFor(model => model.fechaSalida, "", new { @class = "text-danger" })*@
                            </div>


                        </div>

                        <div class="col-md-12" style="text-align:center;">
                            <button class=" btn btn-success"  formaction="/Reservas/Buscar" formmethod="post">Buscar</button>
                            <button class=" btn btn-danger" formaction="/Reservas/Buscar" formmethod="get">Limpiar</button>

                            <br />
                            <p>.</p>
                        </div>

                    </div>
                    <p>.</p>
                    <br />
                    <p></p>
                    <div class="col-md-12" style="font-size:19px;">
@{
    bool i = false;
    if (Model.listadoReserva != null)
    {
                        <div class="Heading">
                            <div class="Cell">Reserva</div>
                            <div class="Cell">Huesped</div>
                            <div class="Cell">Canal</div>
                            <div class="Cell">Entrada</div>
                            <div class="Cell">Salida</div>
                            <div class="Cell">Habitación</div>
                            <div class="Cell">Estado</div>
                            <div class="Cell">Tipo Pago</div>
                            <div class="Cell">Acción</div>                            
                        </div>
                       
                                            foreach (var item in Model.listadoReserva)
                                            {
                                                i = !i;
                                                <div class="Row" style="font-size:14px!important;background:@(i== true ? "#EEEEEE" : "");">
                                                    <div class="Cell" >@item.idReserva</div>
                                                    <div class="Cell">@item.Huespede.nombre @item.Huespede.apellido</div>
                                                    <div class="Cell">@item.Canale.nombreEs</div>
                                                    <div class="Cell">@item.fechaEntrada.ToShortDateString()</div>
                                                    <div class="Cell">@item.fechaSalida.ToShortDateString()</div>
                                                @if (item.HabitacionesPorReservas.Count()!=0)
                                                { 
                                                    <div class="Cell">@item.HabitacionesPorReservas.FirstOrDefault().Habitacione.nombre</div>
                                                }
                                                else
                                                {
                                                    <div class="Cell">-</div>
                                                }
                                    <div class="Cell">@ReservasWeb.Utils.ComboHelper.GetNombreEstadoReserva(@item.idEstado.Value)</div>
                                    <div class="Cell">@ReservasWeb.Utils.ComboHelper.GetNombreTipoMediodePago(@item.idTipoPago)</div>
                                    @{ 
                                        string linkVer = "/Reservas?idReserva=" + item.idReserva;
                                    }
                                    <div class="Cell">
                                        
                                        <a href="@linkVer"  data-toggle="tooltip" title="Ver Reserva"><i class="fa fa-eye" style="color:black;"></i></a>
                                     
                                    </div>
                                                    
                                </div>
                                            }
                                        }
                        }

                        <br />
                    </div>
                    <br />
                </div>
                <p style="height:414px;">.</p>
                <p>.</p>
                <br />

                <style type="text/css">

                    .Table 
                    {
                        display: table;
                    }

                    .Title 
                    {
                        display: table-caption;
                        text-align: center;
                        font-weight: bold;
                        font-size: larger;
                    }

                    .Heading 
                    {
                        display: table-row;
                        font-weight: bold;
                        text-align: center;
                    }

                    .Row 
                    {
                        display: table-row;
                    }

                    .Cell 
                    {
                        display: table-cell;
                        border:solid 0px #EEEEEE !important;
                        border-bottom-width: 1px!important;
                        text-align:center;
                        border-width: thin;
                        padding-left: 5px;
                        padding-right: 5px;
                        vertical-align:middle;
                        height: 40px;
                        width:114px;
                    }

                </style>
            </div>
        </div>
    </form>
</body>
</html>
