﻿@model ReservasWeb.ViewModels.GrillaViewModel

@{
    ViewBag.Title = "Index";
}

<style type="text/css">



















    .icon {
        font-size: 14px;
        text-align: center;
        line-height: 14px;
        vertical-align: middle;
        cursor: pointer;
    }

    .scheduler_default_rowheader_inner {
        border-right: 1px solid #ccc;
    }

    .scheduler_default_rowheadercol2 {
        background: White;
    }

    /*.scheduler_default_rowheadercol2 .scheduler_default_rowheader_inner {*/
    .scheduler_default_rowheader_inner {
        top: 2px;
        bottom: 2px;
        left: 2px;        
        background-color: transparent;
        /*border-left: 5px solid #1a9d13; */
        border-left: 5px solid #28a745; /* green */        
        /*border-right: 0px none;*/
        border-right: 1px solid #ccc;
        /*margin:0 5px 0 0 !important;*/
    }

    .scheduler_default_rowheadercol1.status_habilitada .scheduler_default_rowheader_inner,
    .scheduler_default_rowheadercol1.status_deshabilitada .scheduler_default_rowheader_inner,
    .scheduler_default_rowheadercol1.status_mantenimiento .scheduler_default_rowheader_inner,
    .scheduler_default_rowheadercol1.status_limpieza .scheduler_default_rowheader_inner{
        border-left: 0px solid #ccc;
        padding:0 5px !important;
    }

    .scheduler_default_rowheader_inner div{
        border-left: 0px solid #ccc;
        padding:0 3px ;
    }

    .scheduler_default_rowheader_inner div.tipoHabitacionGrilla{
        /*border-left: 1px solid #ccc;*/
        border-left: 0px solid #ccc;
        padding:0;
    }    

    .status_habilitada .scheduler_default_rowheader_inner {
        border-left: 5px solid #28a745; /* green */        
    }

    .status_deshabilitada .scheduler_default_rowheader_inner {
        border-left: 5px solid #ea3624; /* red */
    }

    .status_mantenimiento .scheduler_default_rowheader_inner {
        border-left: 5px solid #ffc107; /* orange */
    }

    .status_limpieza .scheduler_default_rowheader_inner {
        border-left: 5px solid #007bff; /* orange */
    }

    .PieAdm{
        display:none;
    }

    .pieAdmSimple{
        display:inline-block;        
    }
</style>

<script src="~/Scripts/daypilot_unminify.js"></script>



@if (Model.tiposHabitacion != null && Model.tiposHabitacion.Count > 0)
{
    <div class="container-fluid body-content body-content-reservas">

        <div class="modal fade" id="modal-7">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title">Dynamic Content</h4>
                    </div>

                    <div class="modal-body">

                        Content is loading...

                    </div>

                    <div class="modal-footer">
                        @*<button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-info">Save changes</button>*@

                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Crear" class="btn btn-success" />
                    </div>
                </div>
            </div>
        </div>
        @*<h2 class="tituloPantallaCentrado">Reservas</h2>*@

        <div style="float:left; width:150px; min-height:500px;">
            <div id="nav"></div>
        </div>
        @*<div style="margin-left: 150px; min-height:500px;" class="main-body-reservas">*@
        <div class="main-body-reservas">

            <div class="cabeceraReservas">

                <div class="controlesGrillaReserva">
                    <div class="sinResultadoIdReserva text-danger field-validation-error hidden"></div>
                    <div class="controlGrillaReserva idReservaControl">
                        <strong>Reservas: </strong>
                        <input type="text" id="idReservaBusqueda" class="form-control text-box single-line" placeholder="ID reserva" />
                        <a class="btn btn-danger" id="buscarReserva" href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                    </div>
                    <div class="controlGrillaReserva">
                        <strong>Habitaciones: </strong>
                        <select id="filter" class="form-control">
                            <option value="0">Todas</option>
                            @foreach (var item in Model.tiposHabitacion)
                        {
                                @:
                                <option value="@item.idTipoHabitacion">@item.nombreEs</option>
                        }
                        </select>
                    </div>
                </div>

                <div class="leyendasEstadosReservas">
                    <div class="tituloLeyenda">Estados Reservas</div>
                    <div class="datosLeyenda">
                        <div class="leyendaPrimerItemDiv">
                            <span class="leyendaEstadoPrecarga"></span><span>Precarga</span>
                        </div>
                        <div>
                            <span class="leyendaEstadoPendiente"></span><span>Pendiente</span>
                        </div>
                        <div>
                            <span class="leyendaEstadoConfirmado"></span><span>Confirmado</span>
                        </div>
                        <div>
                            <span class="leyendaEstadoCancelado"></span><span>Cancelado</span>
                        </div>
                        <div class="leyendaEstadoTarjetaInvalidaDiv">
                            <span class="leyendaEstadoTarjetaInvalida"></span><span class="leyendaEstadoTarjetaInvalidaSpan">Tarjeta Invalida</span>
                        </div>
                    </div>
                </div>

                <div class="leyendasCanales">
                    <div class="tituloLeyenda">Canales</div>
                    <div class="datosLeyenda">
                        <div class="leyendaPrimerItemDiv @(Model.canalesHabilitados.Contains(1) ? "" : "hidden")">
                            <span class="leyendaCanalWeb"></span><span class="leyendaCanalWebTitulo">Web</span>
                        </div>
                        <div class="@(Model.canalesHabilitados.Contains(2) ? "" : "hidden")">
                            <span class="leyendaCanalMostrador"></span><span>Mostrador</span>
                        </div>
                        <div class="@(Model.canalesHabilitados.Contains(3) ? "" : "hidden")">
                            <span class="leyendaCanalBooking"></span><span>Booking</span>
                        </div>
                        <div class="@(Model.canalesHabilitados.Contains(4) ? "" : "hidden")">
                            <span class="leyendaCanalTrivago"></span><span>Trivago</span>
                        </div>
                        <div class="@(Model.canalesHabilitados.Contains(5) ? "" : "hidden")">
                            <span class="leyendaCanalDeHoteles"></span><span>DeHoteles</span>
                        </div>
                    </div>
                </div>

            </div>

            <div id="dp"></div>
        </div>

        <div id="print"></div>

        <script type="text/javascript">
            $(document).ready(function () {
                $('#idReservaBusqueda').keyup(function () {
                    if (this.value != this.value.replace(/[^0-9\.]/g, '')) {
                        this.value = this.value.replace(/[^0-9\.]/g, '');
                    }
                });
            });

            $('#idReservaBusqueda').keyup(function (e) {
                if (e.keyCode == 13) {
                    $("#buscarReserva").click();
                }
            });

            if (@Model.idReserva!=0){
                editarReserva(@Model.idReserva);
            }

            $("#buscarReserva").click(function () {
                if ($("#idReservaBusqueda").val().length > 0 && $("#idReservaBusqueda").val().length < 10) {
                    $.ajax({
                        cache: false,
                        type: "POST",
                        url: '/Reservas/verificarReservaID',
                        data: { "id": $("#idReservaBusqueda").val() },
                        dataType: 'JSON',
                        success: function (data) {
                            //alert(data.idReserva);
                            if (data.idReserva == 0) {
                                $(".sinResultadoIdReserva").text("No existe ninguna reserva con ID " + $("#idReservaBusqueda").val());
                                $(".sinResultadoIdReserva").removeClass("hidden");
                            }
                            else {
                                if (!$(".sinResultadoIdReserva").hasClass("hidden"))
                                    $(".sinResultadoIdReserva").addClass("hidden");
                                editarReserva(data.idReserva);
                            }
                            //$.each(data, function (key, val) {
                            //    comboProvs.append($('<option></option>').val(val.idProvincia).html(val.nombreEs));
                            //});
                    },
                        error: function (xhr, ajaxOptions, thrownError) {

                    }
                    });
                } else {
                    $(".sinResultadoIdReserva").text("Cargue un ID de reserva válido");
                    $(".sinResultadoIdReserva").removeClass("hidden");
                }
            });

            function editarReserva(idReserva) {
                var modal = new DayPilot.Modal();
                modal.closed = function () {
                    // reload all events                    
                    var data = this.result;
                    if (data && data.result === "OK") {
                        loadEvents();
                    }
                };
                modal.width = 1000;
                modal.height = 600;
                modal.showUrl("/Reservas/EditarReservaGrilla?id=" + idReserva);
            }

            var estadosHabitaciones = {};
            var nav = new DayPilot.Navigator("nav");
            nav.selectMode = "day";
            nav.showMonths = 1;
            nav.skipMonths = 1;
            nav.rowsPerMonth = "Auto";
            nav.cellHeight = 17;
            nav.dayHeaderHeight = 15;
            nav.titleHeight = 17;
            //nav.Orientation = "horizontal";
            nav.locale = "es-es";
            nav.onTimeRangeSelected = function (args) {
                loadTimeline(args.start);
                loadEvents();
            };
            nav.init();

            var dp = new DayPilot.Scheduler("dp");
            dp.heightSpec = "Parent100Pct";
            dp.allowEventOverlap = false;
            //dp.autoScroll = "Always";
            dp.locale = "es-es";

            //dp.scale = "Day";
            //dp.startDate = new DayPilot.Date().firstDayOfMonth();
            dp.days = dp.startDate.daysInMonth();
            loadTimeline(DayPilot.Date.today().firstDayOfMonth());

            dp.eventDeleteHandling = "Update";

            dp.timeHeaders = [
                { groupBy: "Month", format: "MMMM yyyy" },
                { groupBy: "Day", format: "d" }
            ];

            dp.eventHeight = 35;
            dp.bubble = new DayPilot.Bubble({});

            dp.cellWidth = 50;
            dp.cellWidthSpec = 'Auto';
            dp.rowHeaderColumns = [
                { title: "Habitación", width: 200 },
                { title: "Capacidad", width: 70 }//,
                //{ title: "Estado", width: 80 }
            ];

            dp.onBeforeResHeaderRender = function (args) {
                var beds = function (count) {
                    return count + " Pax" + (count > 1 ? "" : "");
                };

                args.resource.columns[0].html = beds(args.resource.capacity);
                //args.resource.columns[1].html = args.resource.status;

                
                estadosHabitaciones[args.resource.id] = args.resource.status;
                switch (args.resource.status) {
                    case "1":
                        args.resource.cssClass = "status_habilitada";
                        args.resource.toolTip = "Habilitada";
                        break;
                    case "2":
                        args.resource.cssClass = "status_mantenimiento";
                        args.resource.toolTip = "Mantenimiento";
                        break;
                    case "3":
                        args.resource.cssClass = "status_limpieza";
                        args.resource.toolTip = "Limpieza";
                        break;
                    case "4":
                        args.resource.cssClass = "status_deshabilitada";
                        args.resource.toolTip = "Deshabilitada";
                        break;
                    default:
                        args.resource.cssClass = "status_habilitada";
                        args.resource.toolTip = "Habilitada";
                        break;
                }

                /*args.resource.areas = [{
                    top: 3,
                    right: 4,
                    height: 14,
                    width: 14,
                    action: "JavaScript",
                    js: function (r) {
                        var modal = new DayPilot.Modal();
                        modal.onClosed = function (args) {
                            loadResources();
                        };
                        modal.showUrl("room_edit.php?id=" + r.id);
                    },
                    v: "Hover",
                    css: "icon icon-edit",
                }];*/
            };

            // http://api.daypilot.org/daypilot-scheduler-oneventmoved/
            /*dp.onEventMoved = function (args) {
                $.post("backend_move.php",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString(),
                    newResource: args.newResource
                },
                function (data) {
                    dp.message(data.message);
                });
            };*/

            // http://api.daypilot.org/daypilot-scheduler-oneventresized/
            /*dp.onEventResized = function (args) {
                $.post("backend_resize.php",
                {
                    id: args.e.id(),
                    newStart: args.newStart.toString(),
                    newEnd: args.newEnd.toString()
                },
                function () {
                    dp.message("Resized.");
                });
            };*/

            dp.eventResizeHandling = "Disabled";
            dp.eventMoveHandling = "Disabled";

            dp.onEventDelete = function(args) {
                if (!confirm("Seguro desea eliminar esta reserva?")) {
                    args.preventDefault();
                }
            };
            dp.onEventDeleted = function (args) {
                $.post("/Reservas/EliminarReserva",
                {
                    id: args.e.id()
                },
                function (data) {
                    if (data && data.result === "OK") {
                        dp.message("Borrado.");
                    } else {
                        dp.message("Solo se pueden borrar reservas de mostrador.");
                    }
                    loadEvents();
                });
            };

            // event creating
            // http://api.daypilot.org/daypilot-scheduler-ontimerangeselected/
            dp.onTimeRangeSelected = function (args) {
                //var name = prompt("New event name:", "Event");
                //if (!name) return;
                //alert(estadosHabitaciones[args.resource]);
                // si estadosHabitaciones[args.resource] == dehabilitada

                if (estadosHabitaciones[args.resource] != 4) {
                    var modal = new DayPilot.Modal();
                    modal.closed = function () {
                        dp.clearSelection();

                        // reload all events
                        //var data = this.result;
                        //if (data && data.result === "OK") {
                        //    loadEvents();
                        //}
                        loadEvents();
                    };
                    modal.width = 1000;
                    modal.height = 350;
                    modal.showUrl("/Reservas/crearReservaGrilla?start=" + args.start + "&end=" + args.end + "&resource=" + args.resource);
                }

                //$.get("/Reservas/crearReservaGrilla?start=" + args.start + "&end=" + args.end + "&resource=" + args.resource, function (html) {
                //    $('#modal-7 .modal-body').html(html);
                //    $('#modal-7').modal('show', { backdrop: 'static' });                    
                //});

            };

            dp.onEventClick = function (args) {
                editarReserva(args.e.id());
                //var modal = new DayPilot.Modal();                
                //modal.closed = function () {
                //    // reload all events                    
                //    var data = this.result;
                //    if (data && data.result === "OK") {
                //        loadEvents();
                //    }
                //};
                //modal.width = 1000;
                //modal.height = 600;
                //modal.showUrl("/Reservas/EditarReservaGrilla?id=" + args.e.id() + "&resource=" + args.e.resource());






                //modal.showUrl("/Reservas/EditarReservaGrilla?id=" + args.e.id());
                //jQuery.noConflict();
                //(function ($) {
                //        $.get("/Reservas/EditarReservaGrilla?id=" + args.e.id() + "&resource=" + args.e.resource(), function (html) {
                //            //alert(html);
                //            $('#modal-7 .modal-body').html(html);
                //            //$('#modal-7').modal('show', { backdrop: 'static' });
                //            $('#modal-7').modal();
                //            //$('#modal-7').removeClass("fade");
                //        });
                //    }
                //)(jQuery);
            };

            dp.onBeforeCellRender = function (args) {
                var dayOfWeek = args.cell.start.getDayOfWeek();
                if (dayOfWeek === 6 || dayOfWeek === 0) {
                    args.cell.backColor = "#f8f8f8";
                }
            };

            dp.onBeforeEventRender = function (args) {
                var start = new DayPilot.Date(args.e.start);
                var end = new DayPilot.Date(args.e.end);

                var today = DayPilot.Date.today();
                var now = new DayPilot.Date();

                if (args.e.text ==  ", ")
                    args.e.html = "(" + start.toString("d/M/yyyy") + " - " + end.toString("d/M/yyyy") + ")";
                else
                    args.e.html = args.e.text + " (" + start.toString("d/M/yyyy") + " - " + end.toString("d/M/yyyy") + ")";
                
                args.e.bubbleHtml = args.e.html;

                switch (args.e.idCanal) {
                        //WEB
                    case 1:
                        args.e.cssClass = "canalWeb";
                        
                        break;
                        //MOSTRADOR
                    case 2:
                        args.e.cssClass = "canalMostrador";
                        break;
                        //BOOKING
                    case 3:
                        args.e.cssClass = "canalBooking";
                        break;
                        //TRIVAGO
                    case 4: // arrived
                        args.e.cssClass = "canalTrivago";
                        break;
                        //DEHOTELES
                    case 5: // checked out
                        args.e.cssClass = "canalDeHoteles";
                        break;
                    default:
                        args.e.cssClass = "canalWeb";
                        break;
                }

                var estadoReserva;
                switch (args.e.status) {
                    //PRECARGA
                    case "1":
                        args.e.barColor = 'orange';
                        estadoReserva = '@ReservasWeb.Utils.ComboHelper.GetNombreEstadoReserva(1)';
                        /*var in2days = today.addDays(1);

                        if (start < in2days) {
                            args.e.barColor = 'red';
                            args.e.toolTip = 'Expired (not confirmed in time)';
                        }
                        else {
                            args.e.barColor = 'orange';
                            args.e.toolTip = 'New';
                        }*/
                        break;
                    //PENDIENTE
                    case "2":
                        args.e.barColor = 'yellow';
                        estadoReserva = '@ReservasWeb.Utils.ComboHelper.GetNombreEstadoReserva(2)';
                        break;
                    //CONFIRMADO
                    case "3":
                        args.e.barColor = "green";
                        estadoReserva = "@ReservasWeb.Utils.ComboHelper.GetNombreEstadoReserva(3)";

                        /*var arrivalDeadline = today.addHours(18);

                        if (start < today || (start.getDatePart() === today.getDatePart() && now > arrivalDeadline)) { // must arrive before 6 pm
                            args.e.barColor = "#f41616";  // red
                            args.e.toolTip = 'Late arrival';
                        }
                        else {
                            args.e.barColor = "green";
                            args.e.toolTip = "Confirmado";
                        }*/
                        break;
                    //CANCELADO
                    case '4': // arrived
                        args.e.barColor = "#f41616";  // red
                        estadoReserva = "@ReservasWeb.Utils.ComboHelper.GetNombreEstadoReserva(4)";
                        /*var checkoutDeadline = today.addHours(10);

                        if (end < today || (end.getDatePart() === today.getDatePart() && now > checkoutDeadline)) { // must checkout before 10 am
                            args.e.barColor = "#f41616";  // red
                            args.e.toolTip = "Late checkout";
                        }
                        else {
                            args.e.barColor = "#1691f4";  // blue
                            args.e.toolTip = "Arrived";
                        }*/
                        break;
                    //TARJETA INVALIDA
                    case '5': // checked out
                        args.e.barColor = "#68217A";
                        estadoReserva = "@ReservasWeb.Utils.ComboHelper.GetNombreEstadoReserva(5)";
                        break;
                    default:
                        estadoReserva = "Error de Estado";
                        break;
                }

                args.e.bubbleHtml = "<b>" + args.e.html + "</b><br /><span>" + estadoReserva + "</span>";                
                args.e.html = args.e.html + "<br /><span style='color:gray'>" + estadoReserva + "</span>";

                /*var paid = args.e.paid;
                var paidColor = "#aaaaaa";

                args.e.areas = [
                    { bottom: 10, right: 4, html: "<div style='color:" + paidColor + "; font-size: 8pt;'>Paid: " + paid + "%</div>", v: "Visible" },
                    { left: 4, bottom: 8, right: 4, height: 2, html: "<div style='background-color:" + paidColor + "; height: 100%; width:" + paid + "%'></div>", v: "Visible" }
                ];*/

            };


            dp.init();

            loadResources();
            loadEvents();

            function loadTimeline(date) {
                dp.scale = "Manual";
                dp.timeline = [];
                var start = date.getDatePart().addHours(12);

                for (var i = 0; i < dp.days; i++) {
                    dp.timeline.push({ start: start.addDays(i), end: start.addDays(i + 1) });
                }
                dp.update();
            }

            function loadEvents() {
                var start = dp.visibleStart();
                var end = dp.visibleEnd();
                var previous = null;
                var current = null;

                $.post("/Reservas/ObtenerReservas",
                    {
                        start: start.toString(),
                        end: end.toString()
                    },
                    function (data) {
                        previous = JSON.stringify(data);
                        dp.events.list = JSON.parse(data);
                        dp.update();
                    }
                );

                setInterval(function () {
                    $.post("/Reservas/ObtenerReservas",
                        {
                            start: start.toString(),
                            end: end.toString()
                        },
                        function (data) {
                            current = JSON.stringify(data);
                            //alert(current);
                            if (previous && current && previous !== current) {
                                //alert('refresh');
                                dp.events.list = JSON.parse(data);
                                dp.update();
                            }
                            previous = current;
                        }
                    );
                }, 10000);
            }

            function loadResources() {
                $.post("/Reservas/ObtenerHabitacionesPorTipo",
                    { idTipoHabitacion: $("#filter").val() },
                    function (data) {
                        dp.resources = data;
                        dp.update();
                    });
            }

            $(document).ready(function () {
                $("#filter").change(function () {
                    loadResources();
                });
            });

        </script>
</div>
}
else
{
    <div class="container">

        <h2>Reservas</h2>
        <p>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                Es necesario cargar Tipo de Habitación y Habitaciones en el sistema.
            </div>
        </p>
    </div>
}




