﻿@model ReservasWeb.ViewModels.ListadoItemsCuentaPorReservaViewModel

@Html.HiddenFor(model => model.cambiaronCuentas)
<input type="hidden" id="cantidadCuentas" value="0"/>
<div >
    <ul class="CuentaReservaListado" style="overflow-y: scroll;height:186px!important;max-height: 186px !important;">
        <li id="headerCuenta" style="color:#333333;">
            <span>
                <strong>  Fecha</strong>
            </span>
            <span>
                <strong>Concepto</strong>
            </span>
            <span>
                <strong>Forma de Pago</strong>
            </span>
            @*<li>
                itemCuenta.habitacion
            </li>*@
            <span class="CuentaReservaDescripcion">
                <strong>Comentarios</strong>
            </span>
            <span>
                <strong>Monto</strong>
            </span>
        </li>

        <li id="idReserva">
            <span>
                @Model.reservaFecha
            </span>
            <span>
                Cargo
            </span>
            <span>
                -
            </span>
        <span class="CuentaReservaDescripcion">
            Reserva
        </span>
        <span>
            $@Model.reservaMonto
        </span>
            <a href="#" onclick="" data-id="" class="btn btn-success eliminarItemCuenta">
                <b>✓</b>
            </a>
            @*Mauro*@
            @*<input name="sEleccion" value="0" type="checkbox">*@
            @*<br />*@
        </li>

        @foreach (ReservasWeb.ViewModels.CreacionEdicionItemCuentaPorReservaViewModel itemCuenta in Model.listadoItemsCuenta)
        {
            <li id="@itemCuenta.idItemCuenta-itemCuenta" class="@(itemCuenta.concepto == "CH" ? "cargo" : itemCuenta.concepto == "P" ? "pago" : "descuento")-item-cuenta">
                <span>
                    @itemCuenta.fecha
                </span>
                <span>
                    @ReservasWeb.Utils.ComboHelper.getNombreConcepto(@itemCuenta.concepto)
                </span>
                <span>
                    @ReservasWeb.Utils.ComboHelper.getNombreTipoPagoCuenta(@itemCuenta.formaDePago)
                </span>
                @*<li>
                        itemCuenta.habitacion
                    </li>*@
                <span class="CuentaReservaDescripcion">
                    @itemCuenta.comentarios
                </span>
                <span>
                    $@itemCuenta.monto
                </span>
                <a href="#" class="btn btn-danger eliminarItemCuenta"   onclick="javascript:eliminarCuenta(@itemCuenta.idItemCuenta, '@(itemCuenta.concepto == "CH" ? "cargo" : itemCuenta.concepto == "P" ? "pago" : "descuento")', '@itemCuenta.monto');"  data-id="@itemCuenta.idItemCuenta">
                    <b>X</b>
                </a>
                @*Mauro*@
                @*<input name="sEleccion" data-id="@itemCuenta.idItemCuenta" value="0" type="checkbox">*@
                @*<br />*@
            </li>
        }

    </ul>

    @*Mauro*@
   @*<p style="color:red;">Los descuentos se actualizan al cambiar el valor del item de la cuenta.</p>*@

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
  $( function() {
    $( "#fecha0" ).datepicker();
  } );
    </script>

    <div id="cuentas"></div>
    @Html.HiddenFor(model=>model.idReserva)
        <div class="col-md-3" style="margin-left: -14px;">
            Fecha
            <input id="fecha0" class="form-control" type="text" value="" />
        </div>
    <div class="col-md-3">
        Forma de Pago
        @Html.DropDownList("listaPago", Model.listaTipodePago, new { @class = "form-control" })
    </div>
        <div class="col-md-3">
            Comentarios
            <input id="comentarios0" class="form-control" type="text" value=" " />
        </div>
        <div class="col-md-3">
            Monto
            <input id="monto0" class="form-control" type="text" value=" " />

            <script>
                $("#monto0").inputmask("numeric", {
                        placeholder: "0",
                        radixPoint: ".",
                        groupSeparator: "",
                        digits: 2,
                        autoGroup: true,
                        prefix: '@Model.simboloMoneda ', //No Space, this will truncate the first character
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });
            </script>

        </div>
        
    
    
        <a href="#" id="agregarCargo" style="margin-top: 10px;" class="btn btn-danger" data-id="">
            <b>Agregar Cargo</b>
        </a>

        <a href="#" id="agregarPago" style="margin-top: 10px;" class="btn btn-success" data-id="">
            <b>Agregar Pago</b>
        </a>
    @*Mauro*@
        @*<a href="#" id="agregarDescuento" style="margin-top: 10px;" class="btn btn-danger" data-id="">
            <b>Agregar Descuento</b>
        </a>*@
        
    </div>
        <script>

            function controlCambioCuentas(){
                if($("#idReserva").val() != "0")
                    $("#cambiaronCuentas").val("true");
            }

            function eliminarCuenta(orden, concepto, monto) {

                @*if(confirm('¿Desea eliminar el ' + concepto + ' de @Model.simboloMoneda' + monto.replace("@Model.simboloMoneda", "") + '?')){*@
                if (confirm('¿Desea eliminar el ' + concepto + ' de @Model.simboloMoneda' + monto + '?')) {

                    var link = document.getElementById(orden+'-itemCuenta')

                    //MAURO
                    //var quitarC = 0;

                    link.style.display = 'none'; //or
                    link.style.visibility = 'hidden';
                    link.remove();

                    //MAURO
                    //$.post("/ItemsCuentaPorReserva/obtenerMonto",
                    //{
                    //    idCuenta: orden
                    //},
                    //function(data,status){
                    //    quitarC = data;
                    //});

                    $.post("/ItemsCuentaPorReserva/Eliminar",
                    {
                    id: orden
                    },
                    function(data,status){
                    });

                    //alert("mostrarActualizarPrecio");
                    mostrarActualizarPrecio();
                    $('#actualizarPrecio').trigger('click');

                }


            }


                $("#agregarCargo").click(function () {
                    //var cantidadCuentas = $("#cantidadCuentas").val();
                    //var tb = $('#cantidadCuentas');
                    //var num = Number(tb.val());
                    //tb.val(num + 1);
                    //tb.html(tb.val());
                    //num = num +1;
                    //cantidadCuentas = num;
                    var reserva = document.getElementById("idReserva").value;
                    var fecha = document.getElementById("fecha0").value;
                    var comentarios = document.getElementById("comentarios0").value;
                    var monto = document.getElementById("monto0").value.replace("@Model.simboloMoneda ","@Model.simboloMoneda");
                    var forma = document.getElementById("listaPago").value;
                    //alert(monto);
                    var x = document.getElementById("idTipoPago").value;
                    var control = false;
                    if (fecha=="")
                    {
                        control = true;
                    }
                    if (monto == " ")
                    {
                        control = true;
                    }
                    //if (comentarios == " ")
                    //{
                    //    control = true;
                    //}
                    if (forma == 0)
                    {
                        control = true;
                    }

                    if (fecha==" ")
                    {
                        control = true;
                    }
                    if (monto == "")
                    {
                        control = true;
                    }
                    if (comentarios == "")
                    {
                        control = true;
                    }

                    if (control == false)
                    {
                                    switch (forma) {
                                        case "0":
                                            txtForma = "Seleccione";
                                            break;
                                        case "1":
                                            txtForma = "Efectivo";
                                            break;
                                        case "2":
                                            txtForma = "Tarjeta de Debito";
                                            break;
                                        case "3":
                                            txtForma = "Tarjeta de Credito";
                                            break;
                                        case "4":
                                            txtForma = "Deposito";
                                            break;
                                    }

                                    $.post("/ItemsCuentaPorReserva/agregarCargo",
                        {
                            monto: monto.replace("@Model.simboloMoneda","").replace(".",","),
                            fecha: fecha,
                            forma: forma,
                            comentarios: comentarios,
                            idReserva: reserva
                        },
                        function(data,status){
                            var idItemCuenta = data;
                            $("<li id=\"" + idItemCuenta + "-itemCuenta\" class=\"cargo-item-cuenta\"> <span id=\"fecha" + idItemCuenta + "\"></span> <span>Cargo</span> <span id=\"forma" + idItemCuenta + "\"></span> <span class=\"CuentaReservaDescripcion\" id=\"comentarios" + idItemCuenta + "\">  </span> <span id=\"monto" + idItemCuenta + "\"></span> <a href=\"#\" class=\"btn btn-danger eliminarItemCuenta\"  onclick=\"javascript:eliminarCuenta(" + idItemCuenta + ", 'cargo', '" + monto.replace("@Model.simboloMoneda", "") + "');\" data-id=\"itemCuenta-" + idItemCuenta + "\"> <b>X</b></a></li>").appendTo(".CuentaReservaListado");
                            document.getElementById("fecha" + idItemCuenta).innerHTML = fecha;
                            //document.getElementById("monto"+idItemCuenta).innerHTML = "$ "+monto;
                            document.getElementById("monto" + idItemCuenta).innerHTML = monto;
                            document.getElementById("comentarios" + idItemCuenta).innerHTML = comentarios;

                            document.getElementById("forma" + idItemCuenta).innerHTML = txtForma;

                        });

                            document.getElementById("fecha0").value = " ";
                            document.getElementById("monto0").value = " ";
                            document.getElementById("comentarios0").value = " ";
                            document.getElementById("idTipoPago").value = " ";

                            mostrarActualizarPrecio();
                            $('#actualizarPrecio').trigger('click');

                            sTotal = Number(document.getElementById("sTotal").value);
                            //alert(sTotal);
                            tTotal = document.getElementById("tTotal").value;
                            document.getElementById("precioSubTotal").innerHTML = "$ " + numberWithCommas(sTotal);
                            document.getElementById("precioTotal").innerHTML = "$ " + numberWithCommas(tTotal);
                            document.getElementById("precioImpuestos").innerHTML = "$ " + numberWithCommas((tTotal - sTotal).toFixed(2));

                        }

                    var arr = [
                    @foreach (@ReservasWeb.ViewModels.CreacionEdicionItemCuentaPorReservaViewModel item in Model.listadoItemsCuenta)
                    {
                        @:{ val: '@item.concepto', text: '@Html.Raw(item.monto)' },
                    }
                    ];

                    $(arr).each(function () {
                        //sel.append($("<option>").attr('value', this.val).text(this.text));
                    });


                    //cargarComboCuentas(arr[0].val, cantidadHabitaciones);
                    //$("#cantidadCuentas").val(parseInt(cantidadHabitaciones)+1);
                });

                $("#agregarPago").click(function () {
                    //var cantidadCuentas = $("#cantidadCuentas").val();
                    //var tb = $('#cantidadCuentas');
                    //var num = Number(tb.val());
                    //tb.val(num + 1);
                    //tb.html(tb.val());
                    //num = num +1;
                    //cantidadCuentas = num;
                    var reserva = document.getElementById("idReserva").value;
                    var fecha = document.getElementById("fecha0").value;
                    var comentarios = document.getElementById("comentarios0").value;
                    var monto = document.getElementById("monto0").value.replace("@Model.simboloMoneda ","@Model.simboloMoneda");;
                    var forma = document.getElementById("listaPago").value;

                    var x = document.getElementById("idTipoPago").value;
                    var control = false;
                    if (fecha=="")
                    {
                        control = true;
                    }
                    if (monto == " ")
                    {
                        control = true;
                    }
                    //if (comentarios == " ")
                    //{
                    //    control = true;
                    //}
                    if (forma == 0)
                    {
                        control = true;
                    }

                    if (fecha==" ")
                    {
                        control = true;
                    }
                    if (monto == "")
                    {
                        control = true;
                    }
                    if (comentarios == "")
                    {
                        control = true;
                    }

                    if (control == false)
                    {
                        //agrego combo habitaciones nuevo, vacio

                        document.getElementById("fecha0").value = " ";
                        document.getElementById("monto0").value = " ";
                        document.getElementById("comentarios0").value = " ";
                        document.getElementById("idTipoPago").value = " ";

                        $.post("/ItemsCuentaPorReserva/agregarPago",
                        {
                            monto: monto.replace("@Model.simboloMoneda","").replace(".",","),
                            fecha: fecha,
                            forma: forma,
                            comentarios: comentarios,
                            idReserva: reserva
                        },
                        function(data,status){
                            var idItemCuenta = data;
                            //$("<li id=\"itemCuenta-"+idItemCuenta+"\"> <span id=\"fecha"+idItemCuenta+"\"></span> <span>Pago</span> <span id=\"forma"+idItemCuenta+"\"></span> <span class=\"CuentaReservaDescripcion\" id=\"comentarios"+idItemCuenta+"\">  </span> <span id=\"monto"+idItemCuenta+"\"></span> <a href=\"#\" class=\"btn btn-danger eliminarItemCuenta\"  onclick=\"javascript:eliminarCuenta("+idItemCuenta+");\" data-id=\"itemCuenta-"+idItemCuenta+"\"> <b>X</b></a></li>").appendTo(".CuentaReservaListado");
                            $("<li id=\"" + idItemCuenta + "-itemCuenta\" class=\"pago-item-cuenta\"> <span id=\"fecha" + idItemCuenta + "\"></span> <span>Pago</span> <span id=\"forma" + idItemCuenta + "\"></span> <span class=\"CuentaReservaDescripcion\" id=\"comentarios" + idItemCuenta + "\">  </span> <span id=\"monto" + idItemCuenta + "\"></span> <a href=\"#\" class=\"btn btn-danger eliminarItemCuenta\"  onclick=\"javascript:eliminarCuenta(" + idItemCuenta + ", 'pago', '" + monto.replace("@Model.simboloMoneda", "") + "');\" data-id=\"itemCuenta-" + idItemCuenta + "\"> <b>X</b></a></li>").appendTo(".CuentaReservaListado");
                            document.getElementById("fecha" + idItemCuenta).innerHTML = fecha;
                            //document.getElementById("monto"+idItemCuenta).innerHTML = "$ "+monto;
                            document.getElementById("monto" + idItemCuenta).innerHTML = monto;
                            document.getElementById("comentarios" + idItemCuenta).innerHTML = comentarios;

                            switch (forma) {
                                case "0":
                                    txtForma = "Seleccione";
                                    break;
                                case "1":
                                    txtForma = "Efectivo";
                                    break;
                                case "2":
                                    txtForma = "Tarjeta de Debito";
                                    break;
                                case "3":
                                    txtForma = "Tarjeta de Credito";
                                    break;
                                case "4":
                                    txtForma = "Deposito";
                                    break;
                            }

                            document.getElementById("forma" + idItemCuenta).innerHTML = txtForma;

                        });
                        mostrarActualizarPrecio();
                        $('#actualizarPrecio').trigger('click');

                        sTotal = document.getElementById("sTotal").value;
                        tTotal = document.getElementById("tTotal").value;
                        document.getElementById("precioSubTotal").innerHTML = "* " + numberWithCommas(sTotal);
                        document.getElementById("precioTotal").innerHTML = "* " + numberWithCommas(tTotal);
                        document.getElementById("precioImpuestos").innerHTML = "* " + numberWithCommas((tTotal - sTotal).toFixed(2));

                    }

                    var arr = [
                    @foreach (@ReservasWeb.ViewModels.CreacionEdicionItemCuentaPorReservaViewModel item in Model.listadoItemsCuenta)
                    {
                        @:{ val: '@item.concepto', text: '@Html.Raw(item.monto)' },
                    }
                    ];

                    $(arr).each(function () {
                        //sel.append($("<option>").attr('value', this.val).text(this.text));
                    });


                    //cargarComboCuentas(arr[0].val, cantidadCuentas);
                    //$("#cantidadCuentas").val(parseInt(cantidadCuentas)+1);


            });


                    $("#agregarDescuento").click(function () {
                        //var cantidadCuentas = $("#cantidadCuentas").val();
                        //var tb = $('#cantidadCuentas');
                        //var num = Number(tb.val());
                        //tb.val(num + 1);
                        //tb.html(tb.val());
                        //num = num +1;
                        //cantidadCuentas = num;
                        var reserva = document.getElementById("idReserva").value;
                        var fecha = document.getElementById("fecha0").value;
                        var comentarios = document.getElementById("comentarios0").value;
                        var monto = document.getElementById("monto0").value;
                        var forma = document.getElementById("listaPago").value;

                        var x = document.getElementById("idTipoPago").value;
                        var control = false;
                        if (fecha=="")
                        {
                            control = true;
                        }
                        if (monto == " ")
                        {
                            control = true;
                        }
                        if (comentarios == " ")
                        {
                            control = true;
                        }
                        if (forma == 0)
                        {
                            control = true;
                        }

                        if (fecha==" ")
                        {
                            control = true;
                        }
                        if (monto == "")
                        {
                            control = true;
                        }
                        if (comentarios == "")
                        {
                            control = true;
                        }

                        if (control == false)
                        {

                            document.getElementById("fecha0").value = " ";
                            document.getElementById("monto0").value = " ";
                            document.getElementById("comentarios0").value = " ";
                            document.getElementById("idTipoPago").value = " ";

                            $.post("/ItemsCuentaPorReserva/agregarDescuento",
                            {
                                monto: monto.replace("@Model.simboloMoneda", "").replace(".", ","),
                                fecha: fecha,
                                forma: forma,
                                comentarios: comentarios,
                                idReserva: reserva
                            },
                            function(data,status){
                                var idItemCuenta = data;
                                //agrego combo habitaciones nuevo, vacio
                                $("<li id=\"" + idItemCuenta + "-itemCuenta\" class=\"descuento-item-cuenta\"> <span id=\"fecha" + idItemCuenta + "\"></span> <span>Descuento</span> <span id=\"forma" + idItemCuenta + "\"></span> <span class=\"CuentaReservaDescripcion\" id=\"comentarios" + idItemCuenta + "\">  </span> <span id=\"monto" + idItemCuenta + "\"></span> <a href=\"#\" class=\"btn btn-danger eliminarItemCuenta\"  onclick=\"javascript:eliminarCuenta(" + idItemCuenta + ", 'descuento', '" + monto.replace("@Model.simboloMoneda", "") + "');\" data-id=\"itemCuenta-" + idItemCuenta + "\"> <b>X</b></a></li>").appendTo(".CuentaReservaListado");
                                document.getElementById("fecha" + idItemCuenta).innerHTML = fecha;
                                //document.getElementById("monto"+idItemCuenta).innerHTML = "$ "+monto;
                                document.getElementById("monto" + idItemCuenta).innerHTML = monto;
                                document.getElementById("comentarios" + idItemCuenta).innerHTML = comentarios;

                                switch (forma) {
                                    case "0":
                                        txtForma = "Seleccione";
                                        break;
                                    case "1":
                                        txtForma = "Efectivo";
                                        break;
                                    case "2":
                                        txtForma = "Tarjeta de Debito";
                                        break;
                                    case "3":
                                        txtForma = "Tarjeta de Credito";
                                        break;
                                    case "4":
                                        txtForma = "Deposito";
                                        break;
                                }

                                document.getElementById("forma" + idItemCuenta).innerHTML = txtForma;

                            });
                            mostrarActualizarPrecio();
                            $('#actualizarPrecio').trigger('click');

                            sTotal = document.getElementById("sTotal").value;
                            tTotal = document.getElementById("tTotal").value;
                            document.getElementById("precioSubTotal").innerHTML = "* " + numberWithCommas(sTotal);
                            document.getElementById("precioTotal").innerHTML = "* " + numberWithCommas(tTotal);
                            document.getElementById("precioImpuestos").innerHTML = "* " + numberWithCommas((tTotal - sTotal).toFixed(2));

                        }

                    var arr = [
                        @foreach (@ReservasWeb.ViewModels.CreacionEdicionItemCuentaPorReservaViewModel item in Model.listadoItemsCuenta)
                        {
                            @:{ val: '@item.concepto', text: '@Html.Raw(item.monto)' },
                        }
                    ];

                    $(arr).each(function () {
                        //sel.append($("<option>").attr('value', this.val).text(this.text));
                    });


                    //cargarComboCuentas(arr[0].val, cantidadCuentas);
                    //$("#cantidadCuentas").val(parseInt(cantidadCuentas) + 1);

                    });

            function cargarComboCuentas(idCuenta, orden){
                controlCambioCuentas();
                $('#idCuenta_' + orden + '_').children().remove().end();
                $('#idCuenta_' + orden + '_').removeClass("warning");
                var comboCuentas = $("#idCuenta_" + orden + "_");
                var comboCondiciones = $("#idCondicion_" + orden + "_");
                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '/Reservas/obtenerHabitaciones',
                    data: { "idTipoHabitacion": idCuenta },
                    dataType: 'JSON',
                    success: function (data) {
                        $.each(data, function (key, val) {
                            comboCuentas.append($('<option></option>').val(val.idCuenta).html(val.nombre));
                        });
                        mostrarActualizarPrecio();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                });

                $.ajax({
                    cache: false,
                    type: "POST",
                    url: '/Reservas/obtenerCondiciones',
                    data: { "idTipoHabitacion": idCuenta },
                    dataType: 'JSON',
                    success: function (data) {
                        comboCondiciones.empty();
                        comboCondiciones.append($('<option></option>').val(-1).html("Sin Condiciones"));
                        $.each(data, function (key, val) {
                            comboCondiciones.append($('<option></option>').val(val.idCondReserva).html(val.nombreEs));
                        });
                        mostrarActualizarPrecio();
                    },
                    error: function (xhr, ajaxOptions, thrownError) {
                    }
                });
            }


        </script>
