﻿@model ReservasWeb.ViewModels.CreacionEdicionReservaGrilla
@using System.Globalization

<link href="/Content/bootstrap3_3_7.min.css" rel="stylesheet" />
<script src="/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="~/Scripts/jquery-ui.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" />

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link href="~/Content/TouchSpin/jquery.bootstrap-touchspin.css" rel="stylesheet" />
<script src="~/Content/TouchSpin/jquery.bootstrap-touchspin.js"></script>

<script src="~/Content/inputMask/jquery.inputmask.bundle.js"></script>    
<style>
 .h320{
    height:320px;
}   
 .h496{
     /*height:501px!important;*/
     height:437px!important;
 }

 .habitaControl{
          overflow-y: scroll;
 }

 .masterpestana{
     background:#F0F0F0;
     }

 .nav-tabs.nav-justified > .active > a, .nav-tabs.nav-justified > .active > a:focus, .nav-tabs.nav-justified > .active > a:hover{
 background:#F8F8F8;
 }

 .pestana{
     color:#333333!important;
 }

 .idReservaPopUp{
    position:absolute;
    margin-left:-485px;
 }

 body{
     overflow-y:hidden;
 }

 .letraRoja{color:red!important;}

</style>


<script type="text/javascript">

    $.validator.setDefaults({ ignore: ".hidden .form-control, .ignore" });
    $.validator.unobtrusive.parse($("form"));

    $(document).ready(function () {
        
        $("#verHistorial").click(function () {
            $("#formularioReserva").addClass("hidden");
            $("#historialReserva").removeClass("hidden");
            //$(".modal_default_main", window.parent.document).css('height', 800);
            //$("iframe", window.parent.document).css('height', 800);
        });
        $("#ocultarHistorial").click(function () {
            $("#formularioReserva").removeClass("hidden");
            $("#historialReserva").addClass("hidden");
        });

        

    });

</script>
<div class="container-fluid">
    <div class="col-lg-12 col-md-12">
        
        @{ 
            string textoTitu = "Editar";
            if (Model.idReserva == 0)
            {
                textoTitu = "Nueva";
            }
        }
        <div style="text-align: right;font-size:larger;">
            @*<strong>Saldo: $<span id="saldo1">0</span></strong>*@
            <input type="hidden" id="saldo1" value="0" />@*MAURO*@
        </div>
        <center> <div class="idReservaPopUp @(@Model.idReserva == 0 ? "hidden" : "")">ID <b>@Model.idReserva</b></div> <h3>@textoTitu Reserva</h3></center>        
        @using (Html.BeginForm("GuardarReserva", "Reservas", FormMethod.Post, new { id = "frmReservaGrilla" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            @*@Html.HiddenFor(model => model.idHabitacion)*@
            @Html.HiddenFor(model => model.idReserva)
            @*@Html.HiddenFor(model => model.idTipoPago)*@
            @Html.HiddenFor(model => model.esMostrador)
            @Html.HiddenFor(model => model.cambiaronHabitaciones)

            @Html.HiddenFor(model => Model.idHabitacionPrevio)
            @Html.HiddenFor(model => Model.idCondicionPrevio)
            @*@Html.HiddenFor(model => Model.fechainPrevio)
            @Html.HiddenFor(model => Model.fechaoutPrevio)*@
            @Html.HiddenFor(model => Model.impuesto)
            @Html.HiddenFor(model => Model.checkIn)
            @Html.HiddenFor(model => Model.checkOut)

            <input type="hidden" id="cantidadHabitaciones" value="@Model.idHabitacion.Count()" />

            <div class="form-horizontal" id="formularioReserva">
                <div class="row">
                    <ul class="nav nav-tabs nav-justified masterpestana">
                        <li class="active"><a href="#detallereserva" class="pestana"><strong>Detalle Reserva</strong></a></li>
                        <li><a href="#tabhuesped" class="pestana"><strong>Huesped</strong></a></li>
                        <li><a href="#tabhabitaciones" class="pestana"><strong>Habitaciones</strong></a></li>
                        <li><a href="#tabcuenta" class="pestana"><strong>Cuenta</strong></a></li>
                        <li><a href="#tabobservaciones" class="pestana"><strong>Observaciones</strong></a></li>
                        
                    </ul>
                    <br />
                    <div class="tab-content">
                        <div id="tabhuesped" class="h320 tab-pane fade @(Model.tarjetaNro != null ? "h496" : "h320")">
                            <div class="col-md-2"></div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 @(Model.idReserva > 0 ? "" : "hidden")" id="datosPersonales">

                                <div class="form-group">
                                    <span>Apellido</span>
                                    @{ 
                                        string strRed = "";
                                        if (Model.apellido == "Falta Completar")
                                        {
                                            strRed = " letraRoja";
                                        }


                                    @Html.EditorFor(model => model.apellido, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control" + @strRed) })
                                    }
                                    @Html.ValidationMessageFor(model => model.apellido, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span>Nombre</span>
                                @{
                                    strRed = "";
                                    if (Model.nombre == "Falta Completar")
                                    {
                                        strRed = " letraRoja";
                                    }
                                    @Html.EditorFor(model => model.nombre, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control" + strRed) })
                                    }
                                    @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span>Email</span>
                                    @{ 
                                        strRed = "";
                                        if (Model.email == "Falta Completar")
                                        {
                                            strRed = " letraRoja";
                                        }
                                    
                                    @Html.EditorFor(model => model.email, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control"+ strRed) })
                                    }
                                    @Html.ValidationMessageFor(model => model.email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span>Documento</span>
                                    @{ 
                                        strRed = "";
                                        if (Model.dni == "Falta Completar")
                                        {
                                            strRed = " letraRoja";
                                        }
                                    
                                    @Html.EditorFor(model => model.dni, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control"+ strRed) })
                                    }
                                    @Html.ValidationMessageFor(model => model.dni, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span>Teléfono</span>
                                    @Html.EditorFor(model => model.telefono, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control") })
                                    @Html.ValidationMessageFor(model => model.telefono, "", new { @class = "text-danger" })
                                </div>

                                
                                
                            </div>

                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 @(Model.idReserva > 0 ? "" : "hidden")" id="datosCiudad">

                                <div class="form-group">
                                    <span>Pais</span>
                                    @Html.DropDownListFor(model => model.idPais, Model.paises, @getHtmlAttributes(Model.idCanal, "form-control"))
                                    @Html.ValidationMessageFor(model => model.idPais, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span>Provincia</span>
                                    @Html.EditorFor(model => model.provincia, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control") })
                                    @*@Html.DropDownListFor(model => model.idProvincia, Model.provincias, @getHtmlAttributes(Model.idCanal, "form-control"))*@
                                    @Html.ValidationMessageFor(model => model.provincia, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <span>Ciudad</span>
                                    @*@Html.DropDownListFor(model => model.idCiudad, Model.ciudades, @getHtmlAttributes(Model.idCanal, "form-control"))*@
                                    @Html.EditorFor(model => model.ciudad, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control") })
                                    @*@Html.ValidationMessageFor(model => model.ciudad, "", new { @class = "text-danger" })*@
                                </div>

                                <div class="form-group">
                                    <span>Dirección</span>
                                    @Html.EditorFor(model => model.direccion, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control") })
                                    @Html.ValidationMessageFor(model => model.direccion, "", new { @class = "text-danger" })
                                </div>

                                <div class="form-group">
                                    <span>Celular</span>
                                    @Html.EditorFor(model => model.celular, new { htmlAttributes = @getHtmlAttributes(Model.idCanal, "form-control") })
                                    @Html.ValidationMessageFor(model => model.celular, "", new { @class = "text-danger" })
                                </div>

                                


                            </div>
                        </div>
                            <div id="detallereserva" class="tab-pane fade in active h320">
                                @*<div class="col-md-4"></div>*@ 

                                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                    <div class="form-group @(Model.idReserva > 0 ? "" : "hidden")" id="contenedorCheckInOut">
                                        <div class="checkInContenedorReserva @(Model.checkIn != null ? "hidden" : "")">
                                            <a href="#" class="btn btn-success" id="checkInBoton">Check In</a>
                                        </div>
                                        <div class="checkInValor col-md-4 @(Model.checkIn == null ? "hidden" : "")">
                                            <span>Check In</span>
                                            <label class="control-label col-md-8 left checkInDato" id="checkInLabel">@Model.checkIn</label>
                                            <a href="#" class="btn btn-danger eliminarCheckIn @(Model.checkOut != null ? "hidden" : "")">
                                                <b>X</b>
                                            </a>
                                        </div>

                                        <div class="checkOutContenedorReserva @(Model.checkOut != null ? "hidden" : "")">
                                            <a href="#" class="btn   @(Model.checkIn == null ? "btn-default not-active" : "btn-success")" id="checkOutBoton">Check Out</a>
                                        </div>
                                        <div class="checkOutValor @(Model.checkOut == null ? "hidden" : "")">
                                            <span>Check Out</span>
                                            <label class="control-label col-md-5 left checkOutDato" id="checkOutLabel">@Model.checkOut</label>
                                            <a href="#" class="btn btn-danger eliminarCheckOut">
                                                <b>X</b>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="fechaContenedorReservaFechaIn">
                                            <span class="tituloAncho">Fecha In</span>
                                            @Html.EditorFor(model => model.fechain, new { htmlAttributes = @getHtmlAttributesFechas(Model.idCanal, "form-control fechaPopup") })
                                        </div>
                                        <div class="fechaContenedorReserva">
                                            <span>Fecha Out</span>
                                            @Html.EditorFor(model => model.fechaout, new { htmlAttributes = @getHtmlAttributesFechas(Model.idCanal, "form-control fechaPopup") })
                                        </div>
                                    </div>

                                    @*<div class="form-group @(Model.idReserva > 0 ? "" : "hidden")" id="datosEstado">
                <span>Estado Reserva</span>
                @Html.DropDownListFor(model => model.idEstado, Model.ListaEstados, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
            </div>

            <div class="form-group col-md-11 @(Model.idReserva > 0 ? "" : "hidden")" id="datosPasajeros">
                <span>Cant. Pasajeros</span>
                @Html.EditorFor(model => model.pasajeros, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                @Html.ValidationMessageFor(model => model.pasajeros, "", new { @class = "text-danger" })
            </div>*@




                                    <div class="form-group @(Model.idReserva > 0 ? "" : "hidden")" id="contenedorEstadoPasajeros">
                                        <div class="form-group col-md-5" id="datosEstado">
                                            <span>Estado Reserva</span>
                                            @Html.DropDownListFor(model => model.idEstado, Model.ListaEstados, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(model => model.idEstado, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group col-md-1"></div>
                                        <div class="form-group col-md-5" id="datosPasajeros">
                                            <span>Pasajeros</span>
                                            @Html.EditorFor(model => model.pasajeros, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                            @Html.ValidationMessageFor(model => model.pasajeros, "", new { @class = "text-danger" })
                                            <script>
                                                $("#pasajeros").TouchSpin({
                                                    verticalbuttons: true,
                                                    min: 1
                                                });
                                            </script>
                                        </div>
                                    </div>
                                        <div class="form-group">
                                            <span>Forma de Pago</span>
                                            <br />
                                            @Html.DropDownListFor(model => model.idTipoPago, Model.eligeTiposPago, @getHtmlAttributes(Model.idCanal, "form-control"))                                            
                                            @Html.ValidationMessageFor(model => model.idTipoPago, "", new { @class = "text-danger" })
                                      
                                        </div>

                                        @*@if (Model.nombreTipoPago != null)
                                        {
                                            <div class="form-group">
                                                <span>Forma de Pago</span>
                                                <br />
                                                @Html.Label(Model.nombreTipoPago, htmlAttributes: new { @class = "control-label col-md-10 left formaDePago" })
                                            </div>
                                        }*@

                                        @if (Model.idTipoPago == 1)
                                        {
                                            @*<div class="form-group @(Model.idReserva > 0 ? "" : "hidden")" id="pagoEnHotel">
                                                <span>Pago en Hotel</span>
                                                @Html.DropDownListFor(model => model.idTipoPagoEnHotel, Model.tiposPagoEnHotel, @getHtmlAttributes(Model.idCanal, "form-control"))
                                                @Html.ValidationMessageFor(model => model.idTipoPagoEnHotel, "", new { @class = "text-danger" })
                                            </div>*@
                                        }

                                        @if (Model.idTipoPago == 5)
                                        {
                                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                                <a href="#" id="verDepositoBancario">Ver Deposito Bancario</a>
                                            </div>
                                        }

                                        @if (Model.tarjetaNro != null)
                                        {
                                            <div class="form-group">
                                                <span>Nº Tarjeta</span><br />
                                                @Html.Label(Model.tarjetaNro, htmlAttributes: new { @class = "control-label col-md-10 left" })
                                            </div>
                                        }

                                        @if (Model.tarjetaTitular != null)
                                        {
                                            <div class="form-group">
                                                <span>Titular Tarjeta</span> <br />
                                                @Html.Label(Model.tarjetaTitular, htmlAttributes: new { @class = "control-label col-md-10 left" })
                                            </div>
                                        }

                                        @if (Model.tarjetaFecha != null && Model.tarjetaCvc != null)
                                        {
                                            <div class="form-group">
                                                <div class="form-group col-md-8 fechaContenedorReservaFechaIn">
                                                    <span>CVC</span>
                                                    @Html.Label(Model.tarjetaCvc, htmlAttributes: new { @class = "control-label col-md-11 left" })
                                                </div>
                                                <div class="form-group  col-md-3 fechaContenedorReservaFechaOut">
                                                    <span>Fecha Vto.</span>
                                                    @Html.Label(Model.tarjetaFecha, htmlAttributes: new { @class = "control-label col-md-12 left" })
                                                </div>
                                            </div>
                                        }



                                    </div>
                            
                                <div class="col-md-8">
                                    <span>Comentarios</span>
                                    @Html.TextAreaFor(model => model.comentarios, 4, 63, new { @title = "Observaciones", @class = "form-control textarea-wide", style = "height:290px;" })
                                    @Html.ValidationMessageFor(model => model.comentarios, "", new { @class = "text-danger" })
                                </div>

                            </div>

                            <div id="tabhabitaciones" style="overflow-x:hidden;" class="h320 tab-pane fade habitaControl @(Model.tarjetaNro != null ? "h496" : "h320")">
                                <div class="row">
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group" id="tiposHabitaciones">
                                            <span class="tituloAncho">Tipo Habitación</span>
                                            @for (int i = 0; i < Model.idTipoHabitacion.Count(); i++)
                                            {
                                                @Html.DropDownListFor(model => model.idTipoHabitacion[i], new SelectList(Model.tiposHabitaciones, "value", "text", Model.idTipoHabitacion[i]), new { @class = "form-control idTipoHabitacion", @data_orden = i, @onchange = "javascript:cargarComboHabitacionesOnChange(this);" })
                                                @Html.ValidationMessageFor(model => model.idTipoHabitacion[i], "", new { @class = "text-danger" })
                                            }
                                        </div>
                                        <div class="form-group">
                                            <a href="#" id="agregarHabitacion">Agregar habitación</a>
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group" id="habitaciones">
                                            <span class="tituloAncho">Habitación</span>
                                            @for (int i = 0; i < Model.habitaciones.Count(); i++)
                                            {
                                                @*@Html.DropDownListFor(model => model.idHabitacion[i], new SelectList(Model.habitaciones[i], "value", "text", Model.idHabitacion[i]), new { @class = "form-control select-wide habitacionSelect", @data_orden = i, @onchange = "javascript:mostrarActualizarPrecio();" })*@
                                                @Html.DropDownListFor(model => model.idHabitacion[i], new SelectList(Model.habitaciones[i], "value", "text", Model.idHabitacion[i]), new { @class = "form-control select-wide habitacionSelect", @data_orden = i })
                                            }
                                        </div>
                                    </div>
                                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        <div class="form-group" id="condiciones">
                                            <span class="tituloAncho">Condición</span>
                                            @for (int i = 0; i < Model.idCondicion.Count(); i++)
                                            {
                                                @*@Html.DropDownListFor(model => model.idCondicion[i], new SelectList(Model.condiciones[i], "value", "text", Model.idCondicion[i]), new { @class = "form-control select-wide condicionSelect", @data_orden = i, @onchange = "javascript:mostrarActualizarPrecio();" })*@
                                                @Html.DropDownListFor(model => model.idCondicion[i], new SelectList(Model.condiciones[i], "value", "text", Model.idCondicion[i]), new { @class = "form-control select-wide condicionSelect", @data_orden = i })
                                                @:<a href="#" class="btn btn-danger eliminarHabitacion @(Model.idHabitacion.Count() == 1 ? "hidden" : "")" id="eliminarHabitacion_@i" onclick="javascript:eliminarHabitacion(@i);" data-orden="@i"><b>X</b></a>
                                            }
                                        </div>
                                    </div>

                                    @if (Model.historialListado != null && Model.historialListado.Count() > 0)
                                    {
                                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                            <a href="#" id="verHistorial">Ver historial</a>
                                        </div>
                                    }

                                </div>
                                                                

                            </div>
                            
                            <div id="tabcuenta" class="h320 tab-pane fade @(Model.tarjetaNro != null ? "h496" : "h320")">
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 @(Model.idReserva > 0 ? "" : "hidden")" id="datosCuenta">
                                    <div class="form-group">
                                        <span></span>

                                        @Html.Action("Index", "ItemsCuentaPorReserva", new { idReserva = Model.idReserva, resultado = "" })

                                        @*@Html.Partial("_CuentaReservaPartialPage", new ViewDataDictionary { { "idReserva", Model.idReserva } })*@
                                        @*@Html.Partial("ImagesUploaderTipoHabitacion", new ViewDataDictionary { { "idTipoHabitacion", Model.idTipoHabitacion }, { "Fotos", Model.fotos }, { "IdsFotosOrden", Model.GetIdsFotosOrden() } })*@
                                        
                                    </div>
                                </div>
                            </div>
                        <div id="tabobservaciones" class="h320 tab-pane fade @(Model.tarjetaNro != null ? "h496" : "h320")">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 @(Model.idReserva > 0 ? "" : "hidden")" id="datosObservaciones">
                                <div class="form-group">
                                    <span>Observaciones</span>
                                    @Html.TextAreaFor(model => model.observaciones, 4, 63, new { @title = "Observaciones", @class = "form-control textarea-wide", style = "height:290px;" })
                                    @Html.ValidationMessageFor(model => model.observaciones, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                        


                    </div>
                   


                </div>

                        
                        <div class="alert alert-danger hidden" role="alert" id="errorOverbooking"></div>
                        

                        <hr />

                        <div class="form-group reservaModalPie">
                            <input class="btn btn-success" type="submit" value="@(Model.idReserva > 0 ? "Guardar" : "Siguiente")" id="guardar" />
                            <a class="btn btn-default" href="javascript:cancelar();">Cancelar</a>
                            @Html.Hidden("sTotal",@Model.precioSubTotal)
                            @Html.Hidden("tTotal",@Model.precioTotal)
                            <div id="preciosTotales" class="@(@Model.precioTotal == null ? "hidden" : "")">
                                <div class="precioLinea">
                                    <div id="precioSubTotal">
                                        @Model.simboloMoneda @Model.precioSubTotal
                                    </div>
                                    <div class="precioTitulo">Subtotal</div>
                                </div>
                                <div class="precioLinea">
                                    <div id="precioImpuestos">
                                        @{ decimal tasas = (Model.precioTotal == null || @Model.precioSubTotal == null ? 0 : Convert.ToDecimal(Model.precioTotal.Replace(",", "").Replace(".", ",")) - Convert.ToDecimal(Model.precioSubTotal.Replace(",", "").Replace(".", ",")));  }
                                        @Model.simboloMoneda @(Model.precioTotal != "" && Model.precioSubTotal != "" ? @tasas.ToString("N", new CultureInfo("en-US")) : "")
                                    </div>
                                    <div class="precioTitulo">Impuestos y tasas</div>
                                </div>
                                <div class="precioLineaTotal">
                                    <div id="precioTotal">
                                        @Model.simboloMoneda @Model.precioTotal
                                    </div>
                                    <div class="precioTitulo"><b>Total</b></div>
                                </div>
                            </div>
                            <div id="precioCargando" class="hidden"></div>
                            <input class="btn btn-danger hidden" type="button" value="Actualizar precio" id="actualizarPrecio" />
                        </div>
                    </div>


                    <div class="form-horizontal hidden" id="historialReserva">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group">
                                <a href="#" id="ocultarHistorial">Ocultar historial</a>
                            </div>
                        </div>

                        <ul class="form-horizontal historialReserva">
                            @if (Model.historialListado != null && Model.historialListado.Count() > 0)
                            {
                                foreach (ReservasWeb.ViewModels.HistorialReservaViewModel historial in Model.historialListado)
                                {
                                    <li>
                                        <div class="historialReservaFechaModificacion">
                                            <span><b>Fecha:</b></span>
                                            <span>@historial.fechaModificacion</span>

                                            @*<span class="usuarioHistorialDato">@historial.apellidoUsuario, @historial.nombreUsuario</span>
                                                <span class="usuarioHistorialTitulo"><b>Usuario: </b></span>*@
                                        </div>
                                        <div>
                                            <span><b>Fecha In:</b></span>
                                            <span>@historial.fechaIn</span>
                                        </div>
                                        <div>
                                            <span><b>Fecha Out:</b></span>
                                            <span>@historial.fechaOut</span>
                                        </div>
                                        <div>
                                            <span><b>Cant.Pasajeros:</b></span>
                                            <span>@historial.cantidadHuespedes</span>
                                        </div>
                                        <div>
                                            <span><b>Estado Reserva:</b></span>
                                            <span>@historial.idEstado</span>
                                        </div>
                                        @if (historial.tiposHabitaciones != null && historial.tiposHabitaciones != null)
                                        {
                                            <div class="historialReservaHabitaciones">
                                                <span><b>Habitaciones</b></span>
                                                <ul>
                                                    @{
                                                        string[] tiposHabitaciones = historial.tiposHabitaciones.Split('|');
                                                        string[] habitaciones = historial.habitaciones.Split('|');
                                                        for (int i = 0; i < tiposHabitaciones.Length; i++)
                                                        {
                                                            <li>- @tiposHabitaciones[i] / @habitaciones[i]</li>
                                                        }
                                                    }
                                                </ul>
                                            </div>
                                                        }
                                        <div class="historialReservaObservaciones">
                                            <span class="historialReservaObservacionesTitulo"><b>Observaciones</b></span>
                                            <span>@historial.observaciones</span>
                                        </div>
                                    </li>
                                                            }
                                                        }
                        </ul>
                    </div>

            <div class="form-horizontal hidden" id="depositoBancarioReserva">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-group">
                        <a href="#" id="ocultarDepositoBancario">Ocultar Deposito Bancario</a>
                    </div>
                </div>

                <ul class="form-horizontal depositoBancarioReserva">
                    @if (Model.idTipoPago ==5)
                    {

                    }
                    
                            <li>
                                @*historialReservaFechaModificacion*@
                                <div class="">
                                    <span><b>Nombre Banco:</b></span>
                                    <span>@Html.EditorFor(model => model.tbBanco, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.tbBanco, "", new { @class = "text-danger" }) @*@Model.tbBanco*@</span>

                                </div>
                                <div>
                                    <span><b>Numero de Cuenta:</b></span>
                                    <span>@Html.EditorFor(model => model.tbNumeroCuenta, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.tbNumeroCuenta, "", new { @class = "text-danger" }) @*@Model.tbNumeroCuenta*@</span>
                                </div>
                                <div>
                                    <span><b>Numero de Operacion:</b></span>
                                    <span>@Html.EditorFor(model => model.tbNumeroOperacion, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.tbNumeroOperacion, "", new { @class = "text-danger" }) @*@Model.tbNumeroOperacion*@</span>
                                </div>
                                <div>
                                    <span><b>Sucursal:</b></span>
                                    <span>@Html.EditorFor(model => model.tbSucursal, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.tbSucursal, "", new { @class = "text-danger" }) @*@Model.tbSucursal*@</span>
                                </div>
                                <div>
                                    <span><b>Fecha:</b></span>
                                    <span>@Html.EditorFor(model => model.tbFecha, new { htmlAttributes = new { @class = "form-control fechaPopup", @type = "text" } })
                                    @Html.ValidationMessageFor(model => model.tbFecha, "", new { @class = "text-danger" }) @*@Model.tbFecha*@</span>
                                </div>
                                
                            </li>
                                                 
                </ul>
            </div>
                                                }
            </div>
</div>

<script>

    function aumentarAlturaModal(sumarPixeles){
        var altura = $(".modal_default_main", window.parent.document).height();
        if(((altura < 860 && sumarPixeles > 0) || (sumarPixeles < 0 && altura > 720))){
            setAlturaModal(altura + sumarPixeles);
        }
    }

    function setAlturaModal(altura){
        $(".modal_default_main", window.parent.document).css('height', altura);
        $("iframe", window.parent.document).css('height', altura);
    }

    function cancelar() {
        parent.DayPilot.ModalStatic.close();
    }

    function close(result) {
        if (parent && parent.DayPilot && parent.DayPilot.ModalStatic) {
            if (result.result.indexOf("OVERBOOKING") >= 0) {
                var idsHabitaciones = result.id.split(",");
                var habitacionesOverbooking = "";
                var cantOverbooking = 0;
                $.each(idsHabitaciones, function () {
                    var idHabitacion = this;
                    var i = 0;
                    item = document.getElementById("idHabitacion_" + i + "_");
                    while(item != null){
                        if(item.value==idHabitacion){
                            item.className += " warning";
                            habitacion = item.options[item.selectedIndex].text;
                            if(habitacionesOverbooking == "")
                                habitacionesOverbooking = habitacion;
                            else
                                habitacionesOverbooking = habitacionesOverbooking + ', ' + habitacion;
                        }
                        cantOverbooking++;
                        i++;
                        item = document.getElementById("idHabitacion_" + i + "_");
                    }
                });

                $("#observaciones").attr("rows", "1");
                var textoInicial = "Ya existe una reserva para la habitación: ";
                if(cantOverbooking > 1)
                    textoInicial = "Ya existe una reserva para las habitaciones: ";
                $("#errorOverbooking").text(textoInicial + habitacionesOverbooking);
                $("#errorOverbooking").removeClass("hidden");
            }
            else if (result.result.indexOf("PRECARGA") >= 0) {
                var idReserva = result.result.replace("PRECARGA_OK[","").replace("]","");
                $("#idReserva").val(result.id);
                $("#datosPersonales").removeClass("hidden");
                $("#datosCiudad").removeClass("hidden");
                $("#datosEstado").removeClass("hidden");
                $("#datosPasajeros").removeClass("hidden");
                $("#pagoEnHotel").removeClass("hidden");
                $("#datosObservaciones").removeClass("hidden");
                $("#contenedorCheckInOut").removeClass("hidden");
                $("#contenedorEstadoPasajeros").removeClass("hidden");
                $(".checkInContenedorReserva").removeClass("hidden");
                $(".checkOutContenedorReserva").removeClass("hidden");
                $(".modal_default_main", window.parent.document).css('height', 700);
                $("iframe", window.parent.document).css('height', 700);
                $("#guardar").val("Guardar");
                actualizarIdsItemsPrevio("idHabitacion_", "idHabitacionPrevio");
                actualizarIdsItemsPrevio("idCondicion_", "idCondicionPrevio");
                mostrarActualizarPrecio();
                $('#actualizarPrecio').trigger('click');
            }
            else
                parent.DayPilot.ModalStatic.close(result);
        }
    }

    $("#frmReservaGrilla").submit(function () {

        $('.warning').removeClass('warning');
        if(controlarHabitacionesRepetidas()){
            var f = $("#frmReservaGrilla");
            $.post(f.attr("action"), f.serialize(), function (result) {
                close(eval(result));
            });
        }
        return false;
    });

    function controlarHabitacionesRepetidas(){
        var i = 0;
        var item = document.getElementById("idHabitacion_" + i + "_");
        var ids = "";
        var validation = true;
        var cantRepeticiones = 0;
        var habitacionesRepetidas = "";
        var habitacion = "";
        while(item != null){
            if(ids.indexOf("|" + item.value + "|") == -1){
                if(ids == "")
                    ids = "|" + item.value + "|";
                else
                    ids = ids + item.value + "|";
            }else{
                habitacion = item.options[item.selectedIndex].text;
                if(habitacionesRepetidas.indexOf(habitacion) == -1 && habitacionesRepetidas.indexOf(habitacion + ",") == -1 && habitacionesRepetidas.indexOf(", " + habitacion + ",") == -1 ){
                    if(habitacionesRepetidas == "")
                        habitacionesRepetidas = habitacion;
                    else
                        habitacionesRepetidas = habitacionesRepetidas + ", " + habitacion;
                    cantRepeticiones++;
                }
                item.className += " warning";
                validation = false;
            }
            i++;
            item = document.getElementById("idHabitacion_" + i + "_");
        }

        if(!validation){
            var textoInicial = "Habitación seleccionada más de una vez: ";
            if(cantRepeticiones > 1)
                textoInicial = "Habitaciones seleccionadas más de una vez: ";
            $("#errorOverbooking").text(textoInicial + habitacionesRepetidas);
            $("#errorOverbooking").removeClass("hidden");
        }else{
            $("#errorOverbooking").text("");
            $("#errorOverbooking").addClass("hidden");
        }
        return validation;
    }

    function cargarComboHabitaciones(idTipoHabitacion, orden){
        controlCambioHabitaciones();
        $('#idHabitacion_' + orden + '_').children().remove().end();
        $('#idHabitacion_' + orden + '_').removeClass("warning");
        var comboHabitaciones = $("#idHabitacion_" + orden + "_");
        var comboCondiciones = $("#idCondicion_" + orden + "_");
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Reservas/obtenerHabitaciones',
            data: { "idTipoHabitacion": idTipoHabitacion },
            dataType: 'JSON',
            success: function (data) {
                $.each(data, function (key, val) {
                    comboHabitaciones.append($('<option></option>').val(val.idHabitacion).html(val.nombre));
                });
                mostrarActualizarPrecio();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });

        $.ajax({
            cache: false,
            type: "POST",
            url: '/Reservas/obtenerCondiciones',
            data: { "idTipoHabitacion": idTipoHabitacion },
            dataType: 'JSON',
            success: function (data) {
                comboCondiciones.empty();
                comboCondiciones.append($('<option></option>').val(-1).html("Sin Condiciones"));
                $.each(data, function (key, val) {
                    comboCondiciones.append($('<option></option>').val(val.idCondReserva).html(val.nombreEs));
                });
                mostrarActualizarPrecio();
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }

    function cargarComboHabitacionesOnChange(element){
        cargarComboHabitaciones(element.options[element.selectedIndex].value, element.getAttribute("data-orden"));
    }

    function eliminarPorIndex(arrayString, index, splitElement){
        var arrayElement = arrayString.substring(1, arrayString.length-1).split(splitElement);
        arrayElement.splice(index ,1);
        return splitElement + arrayElement.join(splitElement) + splitElement;
    }

    function eliminarHabitacion(orden) {
        controlCambioHabitaciones();
        document.getElementById('idHabitacion_' + orden + '_').remove();
        document.getElementById('idTipoHabitacion_' + orden + '_').remove();
        document.getElementById('idCondicion_' + orden + '_').remove();
        document.getElementById('eliminarHabitacion_' + orden).remove();

        $("#idHabitacionPrevio").val(eliminarPorIndex($("#idHabitacionPrevio").val(), orden, '|'));
        $("#idCondicionPrevio").val(eliminarPorIndex($("#idCondicionPrevio").val(), orden, '|'));

        var searchEles = document.getElementById("tiposHabitaciones").children;
        var orden = 0;
        for(var i = 0; i < searchEles.length; i++) {
            if(searchEles[i].tagName == 'SELECT' || searchEles.tagName == 'INPUT') {
                searchEles[i].id = "idTipoHabitacion_" + orden + "_";
                searchEles[i].name = "idTipoHabitacion[" + orden + "]";
                searchEles[i].setAttribute("data-orden", orden);
                orden++;
                }
        }

        var searchEles = document.getElementById("condiciones").children;
        var orden = 0;
        for(var i = 0; i < searchEles.length; i++) {
            if(searchEles[i].tagName == 'SELECT' || searchEles.tagName == 'INPUT') {
                searchEles[i].id = "idCondicion_" + orden + "_";
                searchEles[i].name = "idCondicion[" + orden + "]";
                searchEles[i].setAttribute("data-orden", orden);
            }else if(searchEles[i].tagName == 'A') {
                searchEles[i].id = "eliminarHabitacion_" + (orden);
                searchEles[i].setAttribute("data-orden", (orden));
                searchEles[i].setAttribute("onclick", "javascript:eliminarHabitacion(" + (orden) + ");");
                orden++;
            }
        }

        var searchEles = document.getElementById("habitaciones").children;
        orden = 0;
        for(var i = 0; i < searchEles.length; i++) {
            if(searchEles[i].tagName == 'SELECT' || searchEles.tagName == 'INPUT') {
                searchEles[i].id = "idHabitacion_" + orden + "_";
                searchEles[i].name = "idHabitacion[" + orden + "]";
                searchEles[i].setAttribute("data-orden", orden);
                orden++;
            }
        }



        if(orden == 1)
            document.getElementById("eliminarHabitacion_0").classList.add("hidden");

        $("#cantidadHabitaciones").val(parseInt($("#cantidadHabitaciones").val())-1);
        //aumentarAlturaModal(-45);
        mostrarActualizarPrecio();
    }

    function controlCambioHabitaciones(){
        //si es edicion, => controlo si se modificaron habitaciones
        if($("#idReserva").val() != "0")
            $("#cambiaronHabitaciones").val("true");
    }

    function actualizarIdsItemsPrevio(idItems, idItemGuardar){
        var i = 0;
        var item = document.getElementById(idItems + i + "_");
        var ids = "";
        while(item != null){
            if(ids == "")
                ids = "|" + item.value + "|";
            else
                ids = ids + item.value + "|";
            i++;
            item = document.getElementById(idItems + i + "_");
        }
        $("#" + idItemGuardar).val(ids);
    }

    var precioGlobal, precioImpuestoGlobal;

    function mostrarActualizarPrecio() {
        $("#preciosTotales").addClass("hidden");
        if ($("#idReserva").val() != "0") {
            $("#actualizarPrecio").removeClass("hidden");
        }
    }

    function ocultarActualizarPrecio() {
        $("#preciosTotales").removeClass("hidden");
    }

    function numberWithCommas(x) {
        return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }

    function actualizarPrecio() {
        var saldo = Number(document.getElementById("saldo1").innerHTML);
        precioGlobal = 0;

        precioImpuestoGlobal = 0;
        var i = 0;
        var item = document.getElementById("idCondicion_" + i + "_");
        var precio = 0;
        $("#preciosTotales").addClass("hidden");
        while(item != null){
            //actualizarPrecioItem(i, );
            i++;
            item = document.getElementById("idCondicion_" + i + "_");
            i--;
            //alert(i);
            actualizarPrecioItem(i, item == null);
        }
        @*var impuesto = parseFloat($("#impuesto").val() == "" ? "0" : $("#impuesto").val());

        var sTotal = Number(precioGlobal + Number(saldo));
        var tTotal = (sTotal * impuesto / 100) + sTotal;

        document.getElementById("precioSubTotal").innerHTML = "@Model.simboloMoneda " + numberWithCommas(sTotal);
        document.getElementById("precioTotal").innerHTML = "@Model.simboloMoneda " + numberWithCommas(tTotal);
        document.getElementById("precioImpuestos").innerHTML = "@Model.simboloMoneda " + numberWithCommas((tTotal - sTotal).toFixed(2));
        document.getElementById("sTotal").value = sTotal;
        document.getElementById("tTotal").value = tTotal;*@

    }

    function actualizarPrecioItem(orden, ultimo) {
        var idTipoHabitacion = document.getElementById('idTipoHabitacion_' + orden + '_').value;
        var idHabitacion = document.getElementById('idHabitacion_' + orden + '_').value;
        var idCondicion = document.getElementById('idCondicion_' + orden + '_').value;

        $("#actualizarPrecio").addClass("hidden");
        $("#precioCargando").removeClass("hidden");
        $("#precioSubTotal").addClass("hidden");


        $.ajax({
            cache: false,
            type: "POST",
            url: '/Reservas/obtenerPrecioHabitacion',
            data: { "idReserva": $("#idReserva").val(), "idTipoHabitacion": idTipoHabitacion, "idHabitacion": idHabitacion, "idCondicion": idCondicion, "fechaDesde": $("#fechain").val(), "fechaHasta": $("#fechaout").val() },
            dataType: 'JSON',
            success: function (data) {
                var preciosArray = data.split('|');
                //alert(data);
                precioGlobal = precioGlobal + parseFloat(preciosArray[0]);
                precioImpuestoGlobal = precioImpuestoGlobal + parseFloat(preciosArray[1]);
                //si el orden actual es el ultimo, entonces actualizo el precio
                var impuesto = parseFloat($("#impuesto").val() == "" ? "0" : $("#impuesto").val());
                var precioTotal, precioSubtotal;
                precioSubtotal = precioGlobal.toFixed(2);
                //precioTotal = ((precioGlobal * impuesto / 100) + precioGlobal).toFixed(2);
                precioTotal = precioImpuestoGlobal.toFixed(2);
                //alert(precioSubtotal + " | " + precioTotal);
                document.getElementById("precioSubTotal").innerHTML = "@Model.simboloMoneda " + numberWithCommas(precioSubtotal);
                document.getElementById("precioTotal").innerHTML = "@Model.simboloMoneda " + numberWithCommas(precioTotal);
                document.getElementById("precioImpuestos").innerHTML = "@Model.simboloMoneda " + numberWithCommas((precioTotal - precioSubtotal).toFixed(2));
                //alert(ultimo);
                if(ultimo){







                    //alert(ultimo);
                    ocultarActualizarPrecio();
                    $("#precioCargando").addClass("hidden");
                    $("#precioSubTotal").removeClass("hidden");
                    
                    //setTimeout(function() {
                    //    ocultarActualizarPrecio();
                    //    $("#precioCargando").addClass("hidden");
                    //    $("#precioSubTotal").removeClass("hidden");
                    //}, 2000);



                    var impuesto = parseFloat($("#impuesto").val() == "" ? "0" : $("#impuesto").val());

                    var sTotal = Number(precioGlobal + Number(saldo));
                    var tTotal = (sTotal * impuesto / 100) + sTotal;

                    document.getElementById("precioSubTotal").innerHTML = "@Model.simboloMoneda " + numberWithCommas(sTotal);
                    document.getElementById("precioTotal").innerHTML = "@Model.simboloMoneda " + numberWithCommas(tTotal);
                    document.getElementById("precioImpuestos").innerHTML = "@Model.simboloMoneda " + numberWithCommas((tTotal - sTotal).toFixed(2));
                    document.getElementById("sTotal").value = sTotal;
                    document.getElementById("tTotal").value = tTotal;


                }



            },
            error: function (xhr, ajaxOptions, thrownError) {
                return 0;
            }
        });
    };

    $(document).ready(function () {
        $(".eliminarCheckIn").click(function () {
            $(".checkInContenedorReserva").removeClass("hidden");
            $("#checkInLabel").text("");
            $(".checkInValor").addClass("hidden");
            $("#checkOutBoton").addClass("btn-default");
            $("#checkOutBoton").addClass("not-active");
            $("#checkOutBoton").removeClass("btn-success");
            $("#checkIn").val("");
        });

        $(".eliminarCheckOut").click(function () {
            $(".checkOutContenedorReserva").removeClass("hidden");
            $("#checkOutLabel").text("");
            $(".checkOutValor").addClass("hidden");
            $(".eliminarCheckIn").removeClass("hidden");
            $("#checkOut").val("");
            //$("#checkOutBoton").addClass("btn-default");
            //$("#checkOutBoton").addClass("not-active");
            //$("#checkOutBoton").removeClass("btn-success");
        });

        $("#checkInBoton").click(function () {
            $(".checkInContenedorReserva").addClass("hidden");
            $.ajax({
                cache: false,
                type: "POST",
                url: '/Reservas/obtenerFechaHora',
                //data: { "idProvincia": idProvincia },
                dataType: 'JSON',
                success: function (data) {
                    if(data != "error"){
                        $(".checkInValor").removeClass("hidden");
                        $("#checkIn").val(data.fechaHora);
                        $("#checkInLabel").text(data.fechaHora);
                        $("#checkOutBoton").removeClass("btn-default");
                        $("#checkOutBoton").removeClass("not-active");
                        $("#checkOutBoton").addClass("btn-success");
                    }
                    //$.each(data, function (key, val) {
                    //    comboCiuds.append($('<option></option>').val(val.idCiudad).html(val.nombreEs));
                    //});
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $(".checkInContenedorReserva").removeClass("hidden");
                }
            });
        });

        $("#checkOutBoton").click(function () {
            $(".checkOutContenedorReserva").addClass("hidden");
            $(".eliminarCheckIn").addClass("hidden");
            $.ajax({
                cache: false,
                type: "POST",
                url: '/Reservas/obtenerFechaHora',
                //data: { "idProvincia": idProvincia },
                dataType: 'JSON',
                success: function (data) {
                    if(data != "error"){
                        $(".checkOutValor").removeClass("hidden");
                        $("#checkOut").val(data.fechaHora);
                        $("#checkOutLabel").text(data.fechaHora);
                        //$("#checkOutBoton").removeClass("btn-default");
                        //$("#checkOutBoton").removeClass("not-active");
                        //$("#checkOutBoton").addClass("btn-success");
                    }
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $(".checkOutContenedorReserva").removeClass("hidden");
                }
            });
        });

        $("#actualizarPrecio").click(function () {
            //$("#actualizarPrecio").addClass("hidden");
            //$("#precioCargando").removeClass("hidden");
            //$("#precioSubTotal").addClass("hidden");
            actualizarPrecio();
            //setTimeout(function() {
            //    ocultarActualizarPrecio();
            //    $("#precioCargando").addClass("hidden");
            //    $("#precioSubTotal").removeClass("hidden");
            //}, 5500);
        });

        $(".habitacionSelect").change(function () {
            controlCambioHabitaciones();
        });

        $("#idPais").change(function () {
            $('#idProvincia').children().remove().end().append('<option selected value="">--Seleccione--</option>');
            $('#idCiudad').children().remove().end().append('<option selected value="">--Seleccione--</option>');
            var idPais = $("#idPais").val();
            var comboProvs = $("#idProvincia");
            $.ajax({
                cache: false,
                type: "POST",
                url: '/Reservas/obtenerProvincias',
                data: { "idPais": idPais },
                dataType: 'JSON',
                success: function (data) {
                    $.each(data, function (key, val) {
                        comboProvs.append($('<option></option>').val(val.idProvincia).html(val.nombreEs));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {

                }
            });
        });

        $("#idProvincia").change(function () {
            $('#idCiudad').children().remove().end().append('<option selected value="">--Seleccione--</option>');
            var idProvincia = $("#idProvincia").val();
            var comboCiuds = $("#idCiudad");
            $.ajax({
                cache: false,
                type: "POST",
                url: '/Reservas/obtenerCiudades',
                data: { "idProvincia": idProvincia },
                dataType: 'JSON',
                success: function (data) {
                    $.each(data, function (key, val) {
                        comboCiuds.append($('<option></option>').val(val.idCiudad).html(val.nombreEs));
                    });
                },
                error: function (xhr, ajaxOptions, thrownError) {
                }
            });
        });

        $("#verHistorial").click(function () {
               $("#formularioReserva").addClass("hidden");
          //  $("#verHistorial").addClass("hidden");
            $("#historialReserva").removeClass("hidden");
            //$(".modal_default_main", window.parent.document).css('height', 800);
            //$("iframe", window.parent.document).css('height', 800);
        });


        $(".habitacionSelect").change(function () {
            mostrarActualizarPrecio();
            $('#actualizarPrecio').trigger('click');
        });

        $(".condicionSelect").change(function () {
            mostrarActualizarPrecio();
            $('#actualizarPrecio').trigger('click');
        });

        $("#ocultarHistorial").click(function () {
            $("#formularioReserva").removeClass("hidden");
            $("#historialReserva").addClass("hidden");
         //   $("#verHistorial").removeClass("hidden");
        });

        $("#agregarHabitacion").click(function () {
            //aumentarAlturaModal(45);
            document.getElementById("eliminarHabitacion_0").classList.remove("hidden");
            controlCambioHabitaciones();
            var cantidadHabitaciones = $("#cantidadHabitaciones").val();
            //agrego combo habitaciones nuevo, vacio
            $("<select id=\"idHabitacion_" + cantidadHabitaciones + "_\" name=\"idHabitacion[" + cantidadHabitaciones + "]\" class=\"form-control\" />").appendTo('#habitaciones');
            //$("<select id=\"idCondicion_" + cantidadHabitaciones + "_\" name=\"idCondicion[" + cantidadHabitaciones + "]\" class=\"form-control condicionSelect\" onchange=\"javascript:mostrarActualizarPrecio();\" />").appendTo('#condiciones');
            $("<select id=\"idCondicion_" + cantidadHabitaciones + "_\" name=\"idCondicion[" + cantidadHabitaciones + "]\" class=\"form-control condicionSelect\" />").appendTo('#condiciones');

            var arr = [
            @foreach (SelectListItem item in Model.tiposHabitaciones)
            {
                @:{ val: @item.Value, text: '@Html.Raw(item.Text)' },
            }
            ];
            var sel = $("<select id=\"idTipoHabitacion_" + cantidadHabitaciones + "_\" name=\"idTipoHabitacion[" + cantidadHabitaciones + "]\" class=\"form-control idTipoHabitacion\" data-orden=\"" + cantidadHabitaciones + "\" onchange=\"javascript:cargarComboHabitacionesOnChange(this);\" />").appendTo('#tiposHabitaciones');
            $(arr).each(function () {
                sel.append($("<option>").attr('value', this.val).text(this.text));
            });

            var eliminar = $("<a id=\"eliminarHabitacion_" + cantidadHabitaciones + "\" href=\"#\" class=\"btn btn-danger eliminarHabitacion eliminarHabitacionJavascript\" data-orden=\"" + cantidadHabitaciones + "\" onclick=\"javascript:eliminarHabitacion(" + cantidadHabitaciones + ");\"><b>X</b></a>").appendTo('#condiciones');

            cargarComboHabitaciones(arr[0].val, cantidadHabitaciones);
            $("#cantidadHabitaciones").val(parseInt(cantidadHabitaciones)+1);
        });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }
            return date;
        }

        $(function () {
            $.datepicker.regional['es'] = {
                closeText: 'Cerrar',
                prevText: '<Ant',
                nextText: 'Sig>',
                currentText: 'Hoy',
                monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                monthNamesShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
                dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
                dayNamesShort: ['Dom', 'Lun', 'Mar', 'Mié', 'Juv', 'Vie', 'Sáb'],
                dayNamesMin: ['Do', 'Lu', 'Ma', 'Mi', 'Ju', 'Vi', 'Sá'],
                weekHeader: 'Sm',
                dateFormat: 'dd/mm/yy',
                firstDay: 1,
                isRTL: false,
                showMonthAfterYear: false,
                yearSuffix: ''
            };
            $.datepicker.setDefaults($.datepicker.regional['es']);

            var dateFormat = "dd/mm/yy",
            from = $("#fechain").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function() {
                to.datepicker("option", "minDate", getDate(this));
                mostrarActualizarPrecio();
            }),
            to = $("#fechaout").datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function() {
                from.datepicker("option", "maxDate", getDate(this));
                mostrarActualizarPrecio();
            });

            function getDate(element) {
                var date;
                try {
                    date = $.datepicker.parseDate(dateFormat, element.value);
                } catch (error) {
                    date = null;
                }

                return date;
            }
        });

    });


</script>

<script>
$(document).ready(function(){
    $(".pestana").click(function(){
        $(this).tab('show');
    });


    $("#verDepositoBancario").click(function () {
        $("#formularioReserva").addClass("hidden");
        $("#depositoBancarioReserva").removeClass("hidden");
        //$(".modal_default_main", window.parent.document).css('height', 800);
        //$("iframe", window.parent.document).css('height', 800);
    });

    $("#ocultarDepositoBancario").click(function () {
        $("#formularioReserva").removeClass("hidden");
        $("#depositoBancarioReserva").addClass("hidden");
    });

});
</script>


@functions {
    object getHtmlAttributes(int idCanal, string CssClass)
    {
        return new { @class = CssClass };
    }

    object getHtmlAttributesFechas(int idCanal, string CssClass)
    {
        return new { @class = CssClass, @readonly = "readonly" };
    }
}