﻿@model ReservasWeb.Utils.GoogleMap

<div id="map" style="width:100%; height:400px;"></div><br />

<script type="text/javascript" src="//maps.google.com/maps/api/js?key=@System.Configuration.ConfigurationManager.AppSettings["GoogleMap_API_KEY"]"></script>
<script>

    var map;
    var myOptions;
    var marker;

    function initMap() {        

        var latitudAloj = '';
        var longitudAloj = '';
        var zoomAloj = '';
        var tipoMapaAloj = '';

        @{
            if (Model.latitud != null && Model.longitud != null & Model.zoomMapa != null)
            {
                @:latitudAloj = @Model.latitud;
                @:longitudAloj = @Model.longitud;
                @:zoomAloj = @Model.zoomMapa;
                @:tipoMapaAloj = '@Model.tipoMapa';
            }
        }

        myOptions = {
            zoom: 2,
            center: new google.maps.LatLng(0, 0),
            scrollwheel: false,
            mapTypeId: 'ROADMAP'
        };

        map = new google.maps.Map(document.getElementById('map'), myOptions);

        var punto = new google.maps.LatLng(latitudAloj, longitudAloj);
        map.setMapTypeId(google.maps.MapTypeId[tipoMapaAloj]);
        placeMarker(punto);
        map.setCenter(punto);
        map.setZoom(zoomAloj);
    }

    function placeMarker(location) {
        if (marker) {
            marker.setPosition(location);
        } else {
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }        
    }
</script>