﻿@model ReservasWeb.Utils.GoogleMap

<div id="map" style="width:100%; height:400px;"></div><br/>

<script>
    window.onload = function () {
        initMap();
    }
</script>

<script type="text/javascript" src="//maps.google.com/maps/api/js?sensor=false&libraries=geometry&language=ES&key=@System.Configuration.ConfigurationManager.AppSettings["GoogleMap_API_KEY"]"></script>
<script type="text/javascript">

    var geocoder = new google.maps.Geocoder();
    var map;
    var myOptions;
    var marker;

    function initMap() {

        var paisAloj = '@Model.pais';
        var provAloj = '@Model.provincia';
        var ciudAloj = '@Model.ciudad';
        var latitudAloj = '';
        var longitudAloj = '';
        var zoomAloj = '';
        var tipoMapaAloj = '';

        @{
            if (Model.latitud != null && Model.longitud != null & Model.zoomMapa != null)
            {
                <text>
                latitudAloj = @Model.latitud;
                longitudAloj = @Model.longitud;
                zoomAloj = @Model.zoomMapa;
                tipoMapaAloj = '@Model.tipoMapa';
                </text>
            }
        }        

        myOptions = {
            zoom: 2,
            center: new google.maps.LatLng(0, 0),
            scrollwheel: false,
            mapTypeId: 'ROADMAP'
        };

        map = new google.maps.Map(document.getElementById('map'), myOptions);

        if (latitudAloj == '' || longitudAloj ==  '' || zoomAloj == '') {
            geocoder.geocode({ 'address': ciudAloj + ', ' + provAloj + ', ' + paisAloj }, function (results, status) {
                if (status == google.maps.GeocoderStatus.OK) {                    
                    punto = new google.maps.LatLng(results[0].geometry.location.lat(), results[0].geometry.location.lng());
                    map.setMapTypeId(google.maps.MapTypeId['ROADMAP']);
                    placeMarker(punto);
                    map.setCenter(punto);
                    map.setZoom(15);
                    llenarTextBox(punto);
                }
            });
        } else {            
            punto = new google.maps.LatLng(latitudAloj, longitudAloj);
            map.setMapTypeId(google.maps.MapTypeId[tipoMapaAloj]);
            placeMarker(punto);
            map.setCenter(punto);
            map.setZoom(zoomAloj);
            llenarTextBox(punto);
        }

        google.maps.event.addListener(map, 'click', function(event) {
            placeMarker(event.latLng);
            // display the lat/lng in your form's lat/lng fields
            document.getElementById("ubicacion_latitud").value = event.latLng.lat();
            document.getElementById("ubicacion_longitud").value = event.latLng.lng();
            document.getElementById("ubicacion_zoomMapa").value = map.getZoom();
        });
    }

    function placeMarker(location) {
        if (marker) {
            marker.setPosition(location);
        } else {
            marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
        llenarTextBox(location);
    }

    function llenarTextBox(punto) {
        document.getElementById("ubicacion_latitud").value = punto.lat();
        document.getElementById("ubicacion_longitud").value = punto.lng();
        document.getElementById("ubicacion_zoomMapa").value = map.getZoom();
    }
</script>