﻿@model ReservasWeb.ViewModels.RecuperarClaveViewModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reservas.travel</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jqueryval")

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>

    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script type="text/javascript">
        //esto redirige la ventana padre en caso que el login se muestre en un iframe, al vencerse la sesion
        if(window.top != window.self)
            window.top.location = window.self.location;
    </script>

    <style>
        .EnvFrm,
        .EnvFrmContinuar {
            display: none;
            width: 90%;
            margin: 0px;
            padding: 0 50px 0 0;
            min-height: 100px;
            line-height: 47px;
            text-align: center;
            background-color: transparent;
        }

        .EnvFrm{
            padding: 70px 50px 0 0 !important;
        }
    </style>
</head>

<body>








    <nav class="navbar navbar-inverse TopBar">
        <div class="container">
            <a href="/" class="navbar-brand logoBarra"><img src="~/Content/imagenes/nuevologo7-1-1.png" alt="logo" /></a>
        </div>
    </nav>
    <div class="navbar navbar-inverse">
        <div class="container">

        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align:center;">
                <div class="contenedorLogin">
                    @*<div class="formu">
                        @using (Html.BeginForm("IniciarSesion", "Login", FormMethod.Post, new { @class = "form-signin", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <h2 class="form-signin-heading TituloLogin">Login Usuario</h2>
                            @Html.ValidationSummary(true, "", new { @class = "MensajeErrorLogin" })
                            @Html.LabelFor(m => m.usuario, new { @class = "sr-only" })
                            @Html.TextBoxFor(m => m.usuario, new { @class = "form-control ControlLogin", @placeholder = "Usuario" })
                            @Html.ValidationSummary(true, "El campo Usuario es requerido.", new { @class = "MensajeErrorLogin" })
                            @Html.LabelFor(m => m.clave, new { @class = "sr-only" })
                            @Html.PasswordFor(m => m.clave, new { @class = "form-control ControlLogin", @placeholder = "Contraseña" })
                            @Html.ValidationSummary(true, "El campo Password es requerido.", new { @class = "MensajeErrorLogin" })
                            <button class="btn btn-lg btn-primary btn-block BotonLogin" type="submit">Ingresar</button>
                        }
                        <a href="/Account/RecuperarClave" class="RecuperarClaveLink">Olvid&eacute; mi contrase&ntilde;a</a>
                    </div>*@




                    <form class="form-signin" data-toggle="validator" role="form" id="frmRecuperarClave">
                        <h2 class="form-signin-heading TituloLogin">Recuperar Contrase&ntilde;a</h2>
                        <div class="form-group">
                            <input type="text" class="form-control ControlLogin" name="email" id="email" placeholder="Email" required>
                        </div>
                        <div class="form-group">
                            <button id="enviarCntFrm" type="submit" class="btn btn-lg btn-primary btn-block BotonLogin">Recuperar</button>
                        </div>
                    </form>

                    <div id="frmEnviando" class="EnvFrm">
                        <span><img src="~/Content/imagenes/2.gif" alt="cargando" /><br /><b>Enviando</b></span>
                    </div>

                    <div id="frmGracias" class="EnvFrmContinuar">
                        <span><i class="fa fa-check"></i><br /><b>Su contrase&ntilde;a ha sido enviada <br /> a su casilla de email</b></span>
                        <a href="/admin" class="btn btn-lg btn-primary btn-block BotonLogin">Continuar</a>
                    </div>

                    <script type="text/javascript">
                $(document).ready(function () {
                    $("#frmRecuperarClave").submit(function () {
                        var postData = $(this).serializeArray();
                        document.getElementById("frmRecuperarClave").style.display = "none";
                        document.getElementById("frmEnviando").style.display = "inline-block";
                        document.getElementById("frmGracias").style.display = "none";
                        $.ajax({
                            cache: false,
                            type: "POST",
                            url: '/Login/RecuperarClaveJson',
                            dataType: 'JSON',
                            data: postData,
                            success: function (resdata) {
                                //alert(resdata.enviado);
                                document.getElementById("frmRecuperarClave").style.display = "none";
                                document.getElementById("frmEnviando").style.display = "none";
                                document.getElementById("frmGracias").style.display = "inline-block";
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                            }
                        });
                        return false;
                    });
                });
                    </script>

                </div>
            </div>
        </div>
    </div>

    @*<div class="container-fluid body-content">
            <div class="row">
                <div class="col-md-12">
                    <hr />
                    <footer>
                        <p><center>&copy; @DateTime.Now.Year - Reservas.travel</center></p>
                    </footer>
                </div>
            </div>
        </div>*@

    @*@Scripts.Render("~/bundles/jquery")*@
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>

