﻿@model ReservasWeb.ViewModels.EdicionTarifasPorDiaViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    var actualizando = false;

    $(document).ready(function () {
        $("#idTipoHabitacion").change(function () {
            actualizarTarifasPorDiaListado()
        });
        $("#idCanal").change(function () {
            actualizarTarifasPorDiaListado()
        });
        $("#idCondicionReserva").change(function () {
            actualizarTarifasPorDiaListado()
        });
    });

    function actualizarTarifasPorDiaListado(dias) {
        actualizando = true;
        dias = typeof dias !== 'undefined' ? dias : 0;
        var idHabitcion = $("#idTipoHabitacion").val();
        var idCanal = $("#idCanal").val();
        var idCondicionReserva = $("#idCondicionReserva").val();
        if (idCondicionReserva == "-1")
            idCondicionReserva = null;
        var fechaDesde = $("#fechaDesde").val();

        var fechaDesdeSplit = $("#fechaDesde").val().split("/");
        var date = new Date(fechaDesdeSplit[2], fechaDesdeSplit[1] - 1, fechaDesdeSplit[0]);
        if (!isNaN(date.getTime())) {
            date.setDate(date.getDate() + dias);
            fechaDesde = $.datepicker.formatDate('dd/mm/yy', date);
        }
        
        $("#tarifaCargando").fadeIn("slow");
        $("#TarifaPorDiaListadoDiv").load('@(Url.Action("TarifasPorDiaListado", "TarifasPorDia", null, null))?idHabitcion=' + idHabitcion + '&idCanal=' + idCanal + '&idCondicionReserva=' + idCondicionReserva + '&fechaDesde=' + fechaDesde,
            function () {
                $("#tarifaCargando").fadeOut("slow");
                actualizando = false;
            }
        );
    }

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    });
    
</script>

@using (Html.BeginForm())
    {
    @Html.AntiForgeryToken()

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }
            <input id="guardarBoton" disabled="disabled" type="submit" value="Guardar Cambios" class="btn btn-normal btnFrmGeneral" onclick="procesando();" data-toggle="tooltip" data-placement="bottom" title="Se podrá Guardar Cambios, cuando modifique al menos un dato en la grilla." />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary btnFrmGeneral" })            
        </div>        
        
    </div>
</div>

    <div class="container">

        <center><h2>Tarifas y Restricciones por Día</h2></center>

    @if (Model.tiposHabitacion != null && Model.tiposHabitacion.Count() > 0)
    {
        <p>
            @Html.ActionLink("Carga Masiva", "EditarMasivo", null, new { @class = "modal-link btn btn-success" })
        </p>

        <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="row filtrosTarifasPorDia">
                <div class="form-group col-md-4">
                    @Html.LabelFor(model => model.tiposHabitacion, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.idTipoHabitacion, Model.tiposHabitacion, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group col-md-3">
                    @Html.LabelFor(model => model.canales, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.idCanal, Model.canales, new { @class = "form-control" })
                    </div>
                </div>
                
                <div class="form-group col-md-5">
                    @Html.LabelFor(model => model.condicionesReservas, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-7">
                        @Html.DropDownListFor(model => model.idCondicionReserva, Model.condicionesReservas, new { @class = "form-control" })
                    </div>
                </div>                
            </div>

            <div class="row" id="TarifaPorDiaListadoDiv">
                @Html.Partial("TarifaPorDiaListado", Model)
            </div>       

            @*<div class="row" id="TarifaBaseListadoDiv">
                @Html.Partial("TarifaBaseListado", Model)
            </div>*@

     
        </div>
    }
    else
    {
        <p>
            <div class="alert alert-warning alert-dismissible fade in" role="alert">
                Es necesario cargar Tipos de Habitación en el sistema.
            </div>
        </p>    
    }
</div>

    }
    