﻿@model ReservasWeb.ViewModels.EdicionTarifasPorDiaViewModel


<script>
    $(function () {
          $("#fechaDesde")
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                changeYear: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                actualizarTarifasPorDiaListado();
           })
    });

    $(document).ready(function () {

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        $("#semanaAnterior").click(function () {        
            actualizarTarifasPorDiaListado(-7);
        });
        $("#diaAnterior").click(function () {        
            actualizarTarifasPorDiaListado(-1);
        });
        $("#diaSiguiente").click(function () {        
            actualizarTarifasPorDiaListado(1);
        });
        $("#semanaSiguiente").click(function () {        
            actualizarTarifasPorDiaListado(7);
        });

        $('input[type=checkbox]').change(function() { 
            if($(this).is(":checked").toString() != $(this).attr('data-original-value').toLowerCase()){
                habilitarGuardar($(this).attr('data-nro-dia'));
            }
        });

        $('input[type=text]').keydown(function() {             
            habilitarGuardarInputText(this);
        });

        $('input[type=text]').change(function() {             
            habilitarGuardarInputText(this);
        });

        function habilitarGuardarInputText(thisItem){
            if($(thisItem).val().toString().replace('.00','').replace('$','') != $(thisItem).attr('data-original-value').replace('.00','').replace('$','')){
                habilitarGuardar($(thisItem).attr('data-nro-dia'));
            }
        }

        function habilitarGuardar(dia){
            if(!actualizando){
                if($('#diasEditados').val().indexOf(',' + dia + ',') < 0){
                    $('#diasEditados').val($('#diasEditados').val() + dia + ',');
                }            
                $('#idTipoHabitacion').prop('disabled', true);
                $('#idCanal').prop('disabled', true);
                $('#idCondicionReserva').prop('disabled', true);
                $('#fechaDesde').prop('disabled', true);
                $('#semanaAnterior').prop('disabled', true);
                $('#diaAnterior').prop('disabled', true);
                $('#diaSiguiente').prop('disabled', true);
                $('#semanaSiguiente').prop('disabled', true);
            
                $('#guardarBoton').prop('disabled', false);
                $('#guardarBoton').removeClass('btn-normal');
                $('#guardarBoton').addClass('btn-success');
            }
        }
    });
</script>

        @Html.HiddenFor(model => model.diasEditados)

        @{
        for (int i = 0; i < Model.tarifaPorDiaListado.Count; i++)
        {
            @Html.HiddenFor(model => model.tarifaPorDiaListado[i].idTipoHabitacion)
            @Html.HiddenFor(model => model.tarifaPorDiaListado[i].idCanal)
            @Html.HiddenFor(model => model.tarifaPorDiaListado[i].idCondicionReserva)

                if (i == 0)
                {
                <div class="col-md-2 columnaTarifaPorDiaTitulos">

                    <div class="form-group fechaColumnaTitulo">                        
                        @if (i == 0)
                        {                            
                            <div class="input-group">
                                <div class="input-group-btn">
                                    <button id="semanaAnterior" class="btn btn-default" type="button" aria-label="Bold" title="Mostrar la semana anterior"><span class="glyphicon glyphicon-fast-backward" aria-hidden="true"></span></button>
                                    <button id="diaAnterior" class="btn btn-default" type="button" aria-label="Italic" title="Mostrar el día anterior"><span class="glyphicon glyphicon-step-backward" aria-hidden="true"></span></button>
                                </div>
                                @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control fechaDesdeTarifaPorDia", @readonly = "readonly" } })
                                <div class="input-group-btn">
                                    <button id="diaSiguiente" class="btn btn-default" type="button" aria-label="Bold" title="Mostrar el día siguiente"><span class="glyphicon glyphicon-step-forward" aria-hidden="true"></span></button>
                                    <button id="semanaSiguiente" class="btn btn-default" type="button" aria-label="Italic" title="Mostrar la semana siguiente"><span class="glyphicon glyphicon-fast-forward" aria-hidden="true"></span></button>
                                </div>
                            </div>
                        }

                    </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].disponibilidadCanal, htmlAttributes: new { @class = "control-label col-md-10"})
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].disponibilidadReal, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group tarifaBaseTitulo">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].tarifaBase, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].estadiaMinima, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].descuentoPax, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].adicionalCuna, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].adicionalMenor, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].adicionalAdulto, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].permiteIngreso, htmlAttributes: new { @class = "control-label col-md-10", @data_toggle = "tooltip", @data_placement = "left", @title = "Indica si permite o no, que una reserva comienze en el día indicado." })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].permiteEgreso, htmlAttributes: new { @class = "control-label col-md-10", @data_toggle = "tooltip", @data_placement = "left", @title = "Indica si permite o no, que una reserva finalice en el día indicado." })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].aceptaMenores, htmlAttributes: new { @class = "control-label col-md-10" })
                        </div>
                        <div class="tarifaDivisor"></div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.tarifaPorDiaListado[i].abierta, htmlAttributes: new { @class = "control-label col-md-10", @data_toggle = "tooltip", @data_placement = "left", @title = "Indica si la habitación esta disponible para el canal seleccionado." })
                        </div>
                        <div class="tarifaDivisor"></div>
                </div>

            }
            
            string fechaColumnaWeekendCss = "fechaColumna";
            if ((int)Model.tarifaPorDiaListado[i].fecha.DayOfWeek == 6 || (int)Model.tarifaPorDiaListado[i].fecha.DayOfWeek == 0)
            {
                fechaColumnaWeekendCss = "fechaColumnaWeekend";
            }

    <div class="col-md-1 columnaTarifaPorDia @fechaColumnaWeekendCss">

        <div class="form-group">
            <div class="col-md-11 fechaColumna @fechaColumnaWeekendCss">
                @Html.HiddenFor(model => model.tarifaPorDiaListado[i].fecha)
                <ul>
                    <li>@Html.LabelFor(model => model.tarifaPorDiaListado[i].fecha, Model.tarifaPorDiaListado[i].fecha.ToString("MMMM").Substring(0, 3))</li>
                    <li class="nroDia">@Html.LabelFor(model => model.tarifaPorDiaListado[i].fecha, Model.tarifaPorDiaListado[i].fecha.ToString("dd"))</li>
                    <li>@Html.LabelFor(model => model.tarifaPorDiaListado[i].fecha, Model.tarifaPorDiaListado[i].fecha.ToString("dddd").Substring(0, 3))</li>
                </ul>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDiaNumerico">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].disponibilidadCanal, new { htmlAttributes = new { @class = "form-control box-shadow", @data_original_value = Model.tarifaPorDiaListado[i].disponibilidadCanal, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].disponibilidadCanal, "", new { @class = "text-danger" })
                <script>
                    $("input[name='tarifaPorDiaListado[@i].disponibilidadCanal']").TouchSpin({
                        verticalbuttons: true,
                        max: @Model.tarifaPorDiaListado[i].disponibilidadReal
                        });
                </script>
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11">
                @Html.LabelFor(model => model.tarifaPorDiaListado[i].disponibilidadReal, Model.tarifaPorDiaListado[i].disponibilidadReal, htmlAttributes: new { @class = "control-label col-md-11 disponibilidadRealListado" })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].disponibilidadReal, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDia">


                @Html.EditorFor(model => model.tarifaPorDiaListado[i].tarifaBase, new { htmlAttributes = new { @class = "form-control", @data_original_value = Model.tarifaPorDiaListado[i].tarifaBase, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].tarifaBase, "", new { @class = "text-danger" })

                <script>
                    $("input[name='tarifaPorDiaListado[@i].tarifaBase']").inputmask("numeric", {
                        placeholder: "0",
                        radixPoint: ".",
                        groupSeparator: "",
                        digits: 2,
                        autoGroup: true,
                        prefix: '$ ', //No Space, this will truncate the first character
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });
                </script>

            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDiaNumerico">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].estadiaMinima, new { htmlAttributes = new { @class = "form-control", @data_original_value = Model.tarifaPorDiaListado[i].estadiaMinima, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].estadiaMinima, "", new { @class = "text-danger" })
                <script>
                    $("input[name='tarifaPorDiaListado[@i].estadiaMinima']").TouchSpin({
                        verticalbuttons: true,
                        min: 1
                    });
                </script>
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDiaDinero">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].descuentoPax, new { htmlAttributes = new { @class = "form-control", @data_original_value = Model.tarifaPorDiaListado[i].descuentoPax, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].descuentoPax, "", new { @class = "text-danger" })

                <script>
                    $("input[name='tarifaPorDiaListado[@i].descuentoPax']").inputmask("numeric", {
                        placeholder: "0",
                        radixPoint: ".",
                        groupSeparator: "",
                        digits: 2,
                        autoGroup: true,
                        prefix: '$ ', //No Space, this will truncate the first character
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });
                </script>

            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDiaDinero">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].adicionalCuna, new { htmlAttributes = new { @class = "form-control", @data_original_value = Model.tarifaPorDiaListado[i].adicionalCuna, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].adicionalCuna, "", new { @class = "text-danger" })

                <script>
                    $("input[name='tarifaPorDiaListado[@i].adicionalCuna']").inputmask("numeric", {
                        placeholder: "0",
                        radixPoint: ".",
                        groupSeparator: "",
                        digits: 2,
                        autoGroup: true,
                        prefix: '$ ', //No Space, this will truncate the first character
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });
                </script>
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDiaDinero">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].adicionalMenor, new { htmlAttributes = new { @class = "form-control", @data_original_value = Model.tarifaPorDiaListado[i].adicionalMenor, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].adicionalMenor, "", new { @class = "text-danger" })

                <script>
                    $("input[name='tarifaPorDiaListado[@i].adicionalMenor']").inputmask("numeric", {
                        placeholder: "0",
                        radixPoint: ".",
                        groupSeparator: "",
                        digits: 2,
                        autoGroup: true,
                        prefix: '$ ', //No Space, this will truncate the first character
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });
                </script>
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11 tarifaBasePorDiaDinero">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].adicionalAdulto, new { htmlAttributes = new { @class = "form-control", @data_original_value = Model.tarifaPorDiaListado[i].adicionalAdulto, @data_nro_dia = i } })
                @Html.ValidationMessageFor(model => model.tarifaPorDiaListado[i].adicionalAdulto, "", new { @class = "text-danger" })

                <script>
                    $("input[name='tarifaPorDiaListado[@i].adicionalAdulto']").inputmask("numeric", {
                        placeholder: "0",
                        radixPoint: ".",
                        groupSeparator: "",
                        digits: 2,
                        autoGroup: true,
                        prefix: '$ ', //No Space, this will truncate the first character
                        rightAlign: false,
                        oncleared: function () { self.Value(''); }
                    });
                </script>
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].permiteIngreso, new { htmlAttributes = new { @data_original_value = Model.tarifaPorDiaListado[i].permiteIngreso, @data_nro_dia = i} })
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].permiteEgreso, new { htmlAttributes = new { @data_original_value = Model.tarifaPorDiaListado[i].permiteEgreso, @data_nro_dia = i} })
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].aceptaMenores, new { htmlAttributes = new { @data_original_value = Model.tarifaPorDiaListado[i].aceptaMenores, @data_nro_dia = i } })
            </div>
        </div>
        <div class="tarifaDivisor"></div>
        <div class="form-group">
            <div class="col-md-11">
                @Html.EditorFor(model => model.tarifaPorDiaListado[i].abierta, new { htmlAttributes = new { @data_original_value = Model.tarifaPorDiaListado[i].abierta, @data_nro_dia = i } })
            </div>
        </div>
        <div class="tarifaDivisor"></div>
    </div>

        }

    <div id="tarifaCargando">
        <div class="loader"></div>
    </div>
}

    