﻿@model ReservasWeb.ViewModels.CreacionMercadoPagoViewModel

@{
    ViewBag.Title = "Crear";
}

@using (Html.BeginForm())
{

    <div class="BarraAdmTopFlotante">
        <div class="container">
            <div class="barraMensajes">
                <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

                <input id="guardarBoton" type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="procesando();" />
                @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary btnFrmGeneral" })
            </div>

        </div>
    </div>
    <div class="container">

        <h2>Crear</h2>

        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>MercadoPago</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })


            <div class="form-group">
                @Html.LabelFor(model => model.clientId, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clientId, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clientId, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.clientSecret, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clientSecret, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clientSecret, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.clientStatus, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.clientStatus, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.clientStatus, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.standBy, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.standBy)
                        @Html.ValidationMessageFor(model => model.standBy, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

        </div>
    </div>

}