﻿@model ReservasWeb.ViewModels.ListadoMercadoPagoViewModel

@{
    ViewBag.Title = "Index";
}

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }

        </div>
    </div>
</div>

<div class="container">

    <h2>MercadoPago</h2>

    <p>
        @Html.ActionLink("Nuevo +", "Crear", null, new { @class = "btn btn-success" })
    </p>
    <table class="table">
        <tr>
            <th>Client ID</th>
            <th>Client Secret</th>
            <th>client Status</th>
            <th>Stand By</th>
            <th></th>
            <th></th>
        </tr>

        @foreach (var item in Model.listado)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.clientId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientSecret)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.clientStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.standBy)
                </td>

                <td></td>
                <td>
                    @Html.ActionLink("Editar", "Editar", new { id = item.idMercadoPago }) |
                    @Html.ActionLink("SandBox", "Test", new { id = item.idMercadoPago }) |
                    @Html.ActionLink("Eliminar", "Borrar", new { id = item.idMercadoPago }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.clientId + "\"?');" })
                </td>
            </tr>
        }

    </table>
</div>