﻿@model ReservasWeb.ViewModels.ComodidadesAlojamientoViewModel

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">
    $(document).ready(function () {
        $('input[class="comodidadCheckBox"]').on('change', function () {
            if ($(this).is(':checked'))
                $("#fa-" + $(this).data("orden")).addClass("comodidadActivada");
            else
                $("#fa-" + $(this).data("orden")).removeClass("comodidadActivada");
        });
    });
</script>

@using (Html.BeginForm("Comodidades", "Alojamiento", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="BarraAdmTopFlotante">
        <div class="container">
            <div class="barraMensajes">
                <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

                @if (Model.MensajeExito != null)
                {
                    <span class="MensajeOk">@Model.MensajeExito</span>
                }
                else if (Model.MensajeError != null)
                {
                    <span class="MensajeError">@Model.MensajeError</span>
                }

                <input type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="procesando();" />
            </div>

        </div>
    </div>

    <div class="container">
        <center><h2>Comodidades del Alojamiento</h2></center>

        @Html.AntiForgeryToken()

        <div class="row">
            @{
                int cont = 1;
            }
            @for (int i = 0; i < Model.listaComodidades.Count; i++)
            {
                <div class="col-lg-4 col col-md-4 col-sm-12 col-xs-12 itemComodidad">
                    @Html.CheckBoxFor(model => model.listaComodidades[i].seleccionada, new { @data_orden = @i, @class="comodidadCheckBox" })
                    <i class="fa @Model.listaComodidades[i].icono @(Model.listaComodidades[i].seleccionada ? "comodidadActivada" : "")" id="fa-@i" aria-hidden="true"></i>
                    <span>@Model.listaComodidades[i].nombre</span>
                    @Html.HiddenFor(model => model.listaComodidades[i].idComodidad)
                    @Html.HiddenFor(model => model.listaComodidades[i].nombre)
                    @Html.HiddenFor(model => model.listaComodidades[i].icono)
                </div>

                if ((cont % 3 == 0))
                {
                    @:</div>
                    @:<div class="row">
                }
                cont++;
            }
        </div>


    </div>
}