﻿    @model ReservasWeb.ViewModels.DatosAlojamientoViewModel

@{
    ViewBag.Title = "Index";
}
@*<script>
$(document).ready(function(){
    //$('[data-toggle="tooltip"]').tooltip();

    $('[data-toggle="tooltip"]').tooltip({
        animated: 'fade',
        placement: 'bottom',
        html: true
    });

});


</script>*@

<style>
    .uiTool{
width:1000px!important;
background:white;
min-width:900px!important;
}

    .bgDark{
        color:black!important;
    }
</style>

<script>
  


</script>



@using (Html.BeginForm("Index", "Alojamiento", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmDatosAlojamiento" }))
{

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }
            <input type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="validarUpload();" />
        </div>               
    </div>    
</div>

<div class="container">
    <center><h2>Datos Alojamiento</h2></center>
    
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-6">

                @*<div class="form-group">
                    @Html.LabelFor(model => model.idZona, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idZona, Model.listaZonas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idZona, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.idTipoAlojamiento, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idTipoAlojamiento, Model.listaTiposAlojamiento, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idTipoAlojamiento, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.estrellas, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.estrellas, Model.listaEstrellas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.estrellas, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.idMoneda, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.DropDownListFor(model => model.idMoneda, Model.listaMonedas, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.idMoneda, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.impuesto, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.impuesto, new { htmlAttributes = new { @class = "form-control" } })                        
                        @Html.ValidationMessageFor(model => model.impuesto, "", new { @class = "text-danger" })
                    </div>
                    <script>
                        $("input[name='impuesto']").TouchSpin({
                            verticalbuttons: true,
                            min: 0,
                            max: 100,
                            step: 0.1,
                            decimals: 2,
                            boostat: 5,
                            maxboostedstep: 10,
                            prefix: '%'
                        });
                    </script>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.paisPiePagina, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.paisPiePagina, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.paisPiePagina, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ciudadPiePagina, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ciudadPiePagina, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ciudadPiePagina, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.ubicacion.direccion, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.ubicacion.direccion, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ubicacion.direccion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.telefonos, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.telefonos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.telefonos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.website, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.website, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.website, "", new { @class = "text-danger" })
                    </div>
                </div>

                

            </div>

            <div class="col-md-6">

                <ul class="nav nav-tabs" id="tabsNombre">
                    <li><strong class="labelTabs">Nombre</strong></li>
                    <li data-tab="nombreEspa" class="active"><a><img src="~/Content/imagenes/es_adm.jpg" /></a></li>
                    <li data-tab="nombreIng"><a><img src="~/Content/imagenes/en_adm.jpg" /></a></li>
                    <li data-tab="nombrePort"><a><img src="~/Content/imagenes/pt_adm.jpg" /></a></li>
                </ul>

                <div class="contDescripciones" id="nombreEspa">
                    @Html.EditorFor(model => model.nombreEs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombreEs, "", new { @class = "text-danger" })
                </div>

                <div class="contDescripciones hidden" id="nombreIng">
                    @Html.EditorFor(model => model.nombreEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombreEn, "", new { @class = "text-danger" })
                </div>

                <div class="contDescripciones hidden" id="nombrePort">
                    @Html.EditorFor(model => model.nombrePt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.nombrePt, "", new { @class = "text-danger" })
                </div>

                <br />
                @*<div class="form-group">
                    @Html.LabelFor(model => model.nombreEs, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nombreEs, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombreEs, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nombreEn, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nombreEn, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombreEn, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.nombrePt, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.nombrePt, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombrePt, "", new { @class = "text-danger" })
                    </div>
                </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.emailReserva, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.emailReserva, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailReserva, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.emailContacto, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.emailContacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailContacto, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.logoUpload, htmlAttributes: new { @class = "control-label col-md-3" })
                    <div class="col-md-8">
                        <input type="file" name="logoUpload" id="logoUpload" />
                        <span class="hidden text-danger" id="extVal">Extension inválida</span>
                        @{
                            if (Model.logo != null && Model.logo != "")
                            {
                                <img src="/files/@Model.idAlojamiento/@Model.logo" width="150" class="logoSubido" id="imgLogo" />
                                <a id="eliminarLogoBtn" onclick="eliminarLogo()"><i class="fa fa fa-times"></i> Eliminar</a>
                            }
                        }
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.colorBarra, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.colorBarra, new { htmlAttributes = new { @class = "form-control jscolor {hash:true}", id = "tbColorBarra", maxlength = "7" } })
                    </div>
                    <div class="col-md-4">
                        
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.colorBotones, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.colorBotones, new { htmlAttributes = new { @class = "form-control jscolor {hash:true}", id = "tbColorBotones", maxlength = "7" } })
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.colorTextoBotones, htmlAttributes: new { @class = "control-label col-md-4" })
                    <div class="col-md-4">
                        @Html.EditorFor(model => model.colorTextoBotones, new { htmlAttributes = new { @class = "form-control jscolor {hash:true}", id = "tbcolorTextoBotones", maxlength = "7" } })
                    </div>
                    <div class="col-md-4">

                    </div>
                </div>

            </div>
            @if (Model.idTipoAlojamiento == 4 || Model.idTipoAlojamiento == 2)
            {            
            <div class="col-md-12">

                <ul class="nav nav-tabs" id="tabsPersonalizadoHabitacion">
                    <li><strong class="labelTabs" >Titulo Buscador</strong>
                        
                        
                    </li>
                    <li data-tab="habEspa" class="active"><a><img src="~/Content/imagenes/es_adm.jpg" /></a></li>
                    <li data-tab="habIng"><a><img src="~/Content/imagenes/en_adm.jpg" /></a></li>
                    <li data-tab="habPort"><a><img src="~/Content/imagenes/pt_adm.jpg" /></a></li>
                </ul>
                

                <div class="contDescripciones" id="habEspa">
                    @Html.EditorFor(model => model.habitacionEs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.habitacionEs, "", new { @class = "text-danger" })
                    <div id="contenidoPersonalizadoHabitacion">

                    </div>
                </div>

                <div class="contDescripciones hidden" id="habIng">
                    @Html.EditorFor(model => model.habitacionEn, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.habitacionEn, "", new { @class = "text-danger" })
                </div>

                <div class="contDescripciones hidden" id="habPort">
                    @Html.EditorFor(model => model.habitacionPt, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.habitacionPt, "", new { @class = "text-danger" })
                </div>
                <p></p>
            </div>
            }
            <div class="col-md-12">
                
                <ul class="nav nav-tabs" id="tabsDescripcion">
                    <li><strong class="labelTabs">Descripción</strong></li>
                    <li data-tab="descEspa" class="active"><a><img src="~/Content/imagenes/es_adm.jpg" /></a></li>
                    <li data-tab="descIng"><a><img src="~/Content/imagenes/en_adm.jpg" /></a></li>
                    <li data-tab="descPort"><a><img src="~/Content/imagenes/pt_adm.jpg" /></a></li>
                </ul>
                                                    
                <div class="contDescripciones" id="descEspa">
                    @Html.TextAreaFor(model => model.descripcionEs, 7, 63, new { @title = "Descripción", @class = "form-control textarea-wide" })
                    @Html.ValidationMessageFor(model => model.descripcionEs, "", new { @class = "text-danger" })
                </div>
                    
                <div class="contDescripciones hidden" id="descIng">
                    @Html.TextAreaFor(model => model.descripcionEn, 7, 63, new { @title = "Descripción", @class = "form-control textarea-wide" })
                    @Html.ValidationMessageFor(model => model.descripcionEn, "", new { @class = "text-danger" })
                </div>
                    
                <div class="contDescripciones hidden" id="descPort">
                    @Html.TextAreaFor(model => model.descripcionPt, 7, 63, new { @title = "Descripción", @class = "form-control textarea-wide" })
                    @Html.ValidationMessageFor(model => model.descripcionPt, "", new { @class = "text-danger" })
                </div>                

            </div>

            <hr />

            <div class="row">
                <div class="col-md-12">
                    <h3 class="text-center">Condiciones del Hotel</h3>
                    <hr />
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.horaCheckin, htmlAttributes: new { @class = "control-label" })<br />
                        @Html.EditorFor(model => model.horaCheckin, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.horaCheckin, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-md-4">
                        @Html.LabelFor(model => model.horaCheckout, htmlAttributes: new { @class = "control-label" })<br />
                        @Html.EditorFor(model => model.horaCheckout, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                        @Html.ValidationMessageFor(model => model.horaCheckout, "", new { @class = "text-danger" })
                    </div>
                </div>                
            </div>

            <div class="contCondFrm">                
                <div class="col-md-6">
                    <ul class="nav nav-tabs" id="tabsMascotas">
                        <li><strong class="labelTabs">Mascotas</strong></li>
                        <li data-tab="mascotasEspa" class="active"><a><img src="~/Content/imagenes/es_adm.jpg" /></a></li>
                        <li data-tab="mascotasIngles"><a><img src="~/Content/imagenes/en_adm.jpg" /></a></li>
                        <li data-tab="mascotasPortu"><a><img src="~/Content/imagenes/pt_adm.jpg" /></a></li>
                    </ul>

                    <div class="contDescripciones" id="mascotasEspa">
                        @Html.TextAreaFor(model => model.mascotasEs, new { @class = "form-control textarea-wide" })
                        @Html.ValidationMessageFor(model => model.mascotasEs, "", new { @class = "text-danger" })
                    </div>

                    <div class="contDescripciones hidden" id="mascotasIngles">
                        @Html.TextAreaFor(model => model.mascotasEn, new { @class = "form-control textarea-wide" })
                        @Html.ValidationMessageFor(model => model.mascotasEn, "", new { @class = "text-danger" })
                    </div>

                    <div class="contDescripciones hidden" id="mascotasPortu">
                        @Html.TextAreaFor(model => model.mascotasPt, new { @class = "form-control textarea-wide" })
                        @Html.ValidationMessageFor(model => model.mascotasPt, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="col-md-6">                    
                    <ul class="nav nav-tabs" id="tabsCancelaciones">
                        <li><strong class="labelTabs">Cancelaciones</strong></li>
                        <li data-tab="cancelEspa" class="active"><a><img src="~/Content/imagenes/es_adm.jpg" /></a></li>
                        <li data-tab="cancelIng"><a><img src="~/Content/imagenes/en_adm.jpg" /></a></li>
                        <li data-tab="cancelPortu"><a><img src="~/Content/imagenes/pt_adm.jpg" /></a></li>
                    </ul>

                    <div class="contDescripciones" id="cancelEspa">
                        @Html.TextAreaFor(model => model.cancelacionesEs, new { @class = "form-control textarea-wide" })
                        @Html.ValidationMessageFor(model => model.cancelacionesEs, "", new { @class = "text-danger" })
                    </div>

                    <div class="contDescripciones hidden" id="cancelIng">
                        @Html.TextAreaFor(model => model.cancelacionesEn, new { @class = "form-control textarea-wide" })
                        @Html.ValidationMessageFor(model => model.cancelacionesEn, "", new { @class = "text-danger" })
                    </div>

                    <div class="contDescripciones hidden" id="cancelPortu">
                        @Html.TextAreaFor(model => model.cancelacionesPt, new { @class = "form-control textarea-wide" })
                        @Html.ValidationMessageFor(model => model.cancelacionesPt, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>

            <hr />

                <div class="row">
                    <div class="col-md-12">
                        <h2>Ubicación</h2>
                        @Html.Partial("GoogleMapPartialPage", Model.ubicacion)
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ubicacion.latitud, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ubicacion.latitud, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ubicacion.latitud, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ubicacion.longitud, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ubicacion.longitud, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.ubicacion.longitud, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ubicacion.zoomMapa, htmlAttributes: new { @class = "control-label" })
                        @Html.EditorFor(model => model.ubicacion.zoomMapa, new { htmlAttributes = new { @class = "form-control", @type = "text" } })
                        @Html.ValidationMessageFor(model => model.ubicacion.zoomMapa, "", new { @class = "text-danger" })
                        <script>
                            $("input[name='ubicacion.zoomMapa']").TouchSpin({
                                verticalbuttons: true,
                                max: 19
                                });
                        </script>
                    </div>

                    <div class="col-md-3">
                        @Html.LabelFor(model => model.ubicacion.tipoMapa, htmlAttributes: new { @class = "control-label" })
                        @{
                        List<string> listaTipos = new List<string>();
                        listaTipos.Add("ROADMAP");
                        listaTipos.Add("SATELLITE");
                        listaTipos.Add("HYBRID");
                        listaTipos.Add("TERRAIN");
                        SelectList comboTipos = new SelectList(listaTipos);
                        }
                        @Html.DropDownListFor(model => model.ubicacion.tipoMapa, comboTipos, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.ubicacion.tipoMapa, "", new { @class = "text-danger" })
                    </div>
                </div>

                @Html.HiddenFor(model => model.IdsFotosOrden)

            </div>
        <hr />
</div>

}
<div class="container">
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-12">
                <h2>Imagenes</h2>
                @Html.Partial("ImagesUploaderPartialPage", new ViewDataDictionary { { "idAlojamiento", Model.idAlojamiento }, { "Fotos", Model.fotos }, { "IdsFotosOrden", Model.IdsFotosOrden } })
                @*@Html.Partial("ImagesUploaderPartialPage", new ViewDataDictionary { { "idAlojamiento", Model.idAlojamiento }, { "Fotos", Model.fotos }, { "IdsFotosOrden", Model.GetIdsFotosOrden() } })*@
            </div>
        </div>
    </div>  
</div>

<script src="/Content/colorPicker/jscolor.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        

        $("#contenidoPersonalizadoHabitacion").html('<a id="riverroad" href="#" title="" ><i class="fa fa-question-circle bgDark" aria-hidden="true"></i></a>');
        $("#contenidoPersonalizadoHabitacion #riverroad").tooltip(
            {
                classes: {
                    "ui-tooltip": "ui-corner-all uiTool"
                },
                html: true,
                content: '<p style="width:1000px;backgroud:red!important;" >Aquí podra cambiar el nombre del campo de busqueda</p><img src="https://pms.reservas.travel/Content/imagenes/descripcionTituloBuscador.png" />'
            });

        
        $('#horaCheckin').timepicker({
            //showLeadingZero: false,
            //onSelect: tpStartSelect,
            amPmText: ['', ''],
            hourText: 'Hora',             // Define the locale text for "Hours"
            minuteText: 'Minuto',
            defaultTime: '10:00',
            atPosition: 'right top'            
        });
        $('#horaCheckout').timepicker({
            //showLeadingZero: false,
            //onSelect: tpEndSelect,
            amPmText: ['', ''],
            hourText: 'Hora',             // Define the locale text for "Hours"
            minuteText: 'Minuto',
            defaultTime: '10:00',
            atPosition: 'right top'            
        });
        $('#horaCheckin').keypress(function (e) {
            e.preventDefault();
        });
        $('#horaCheckout').keypress(function (e) {
            e.preventDefault();
        });

        $("#frmDatosAlojamiento").submit(function (event) {
            if (validarUpload() == false) {
                event.preventDefault();
                document.getElementById("logoUpload").value = "";
            }
        });

        $('#tabsDescripcion li').click(function (e) {
            e.preventDefault();
            if ($(this).data('tab') != null) {
                $('#tabsDescripcion>li.active').removeClass('active');
                $(this).addClass('active');
                $('#descEspa').addClass('hidden');
                $('#descIng').addClass('hidden');
                $('#descPort').addClass('hidden');
                $('#' + $(this).data('tab')).removeClass('hidden');
            }
        });

        $('#tabsCancelaciones li').click(function (e) {
            e.preventDefault();
            if ($(this).data('tab') != null) {
                $('#tabsCancelaciones>li.active').removeClass('active');
                $(this).addClass('active');
                $('#cancelEspa').addClass('hidden');
                $('#cancelIng').addClass('hidden');
                $('#cancelPortu').addClass('hidden');
                $('#' + $(this).data('tab')).removeClass('hidden');
            }
        });

        $('#tabsMascotas li').click(function (e) {
            e.preventDefault();
            if ($(this).data('tab') != null) {
                $('#tabsMascotas>li.active').removeClass('active');
                $(this).addClass('active');
                $('#mascotasEspa').addClass('hidden');
                $('#mascotasIngles').addClass('hidden');
                $('#mascotasPortu').addClass('hidden');
                $('#' + $(this).data('tab')).removeClass('hidden');
            }
        });
        
        $('#tabsNombre li').click(function (e) {
            e.preventDefault();
            if ($(this).data('tab') != null) {
                $('#tabsNombre>li.active').removeClass('active');
                $(this).addClass('active');
                $('#nombreEspa').addClass('hidden');
                $('#nombreIng').addClass('hidden');
                $('#nombrePort').addClass('hidden');
                $('#' + $(this).data('tab')).removeClass('hidden');
            }
        });

        $('#tabsPersonalizadoHabitacion li').click(function (e) {
            e.preventDefault();
            if ($(this).data('tab') != null) {
                $('#tabsPersonalizadoHabitacion>li.active').removeClass('active');
                $(this).addClass('active');
                $('#habEspa').addClass('hidden');
                $('#habIng').addClass('hidden');
                $('#habPort').addClass('hidden');
                $('#' + $(this).data('tab')).removeClass('hidden');
            }
        });

        
        // when start time change, update minimum for end timepicker
        //function tpStartSelect( time, endTimePickerInst ) {
        //    $('#horaCheckout').timepicker('option', {
        //        minTime: {
        //            hour: endTimePickerInst.hours,
        //            minute: endTimePickerInst.minutes
        //        }
        //    });
        //}

        //// when end time change, update maximum for start timepicker
        //function tpEndSelect( time, startTimePickerInst ) {
        //    $('#horaCheckin').timepicker('option', {
        //        maxTime: {
        //            hour: startTimePickerInst.hours,
        //            minute: startTimePickerInst.minutes
        //        }
        //    });
        //}
   
    });

    function eliminarLogo() {
        if (!confirm("Desea eliminar el logo?")) {
            return false;
        }
        $.ajax({
            cache: false,
            type: "POST",
            url: '/Alojamiento/eliminarLogo',
            dataType: 'JSON',            
            success: function (resdata) {
                $('#imgLogo').addClass('hidden');
                $('#eliminarLogoBtn').addClass('hidden');
            },
            error: function (xhr, ajaxOptions, thrownError) {
            }
        });
    }

    function validarUpload() {
        var ext = $('#logoUpload').val().split('.').pop().toLowerCase();
        if (ext != "") {
            if ($.inArray(ext, ['gif', 'png', 'jpg', 'jpeg']) == -1) {
                $('#extVal').removeClass('hidden');
                return false;
            } else {
                $('#extVal').addClass('hidden');
                return true;
                procesando();
            }
        } else {
            return true;
            procesando();
        }
    }
    
</script>



