﻿@model ReservasWeb.ViewModels.CreacionTipoHabitacionViewModel

    @{
    ViewBag.Title = "Create";

    Layout = "";

    AjaxOptions options = new AjaxOptions();
    options.HttpMethod = "POST";
    options.Url = Url.Action("Create", "Clientes");
    options.UpdateTargetId = "modal-container";
    options.InsertionMode = InsertionMode.Replace;
    options.OnSuccess = "onSuccess";
}

<script type="text/javascript">
    //$.validator.setDefaults({ ignore: ".hidden .form-control, .ignore" });
    $.validator.unobtrusive.parse($("form"));
</script>

<div class="modal-dialog" role="document">
    <div class="modal-content">
        @using (Ajax.BeginForm("Crear", "TiposHabitacion", null, options, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()

            <div class="modal-header">
                <center><h2>Nuevo Tipo de Habitación</h2></center>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-12">

                        @Html.ValidationSummary(true)

                        <div class="form-group">
                            @Html.LabelFor(model => model.nombre, new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.nombre, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="modal-footer">

                <div class="row">
                    &nbsp;
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        <input type="submit" value="Crear" class="btn btn-success" />
                    </div>
                </div>

            </div>
        }
    </div>
</div>
<script type="text/javascript">
    $(function () {
        $('#approve-btn').click(function () {
            $('#modal-container').modal('hide');
        });
    });

    var onSuccess = function (result) {
        if (result.url) {
            // if the server returned a JSON object containing an url
            // property we redirect the browser to that url
            window.location.href = result.url;
        }
    }
</script>