﻿<!-- Bootstrap styles -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<!-- Generic page styles -->
<link rel="stylesheet" href="/content/css/blueimp/style.css">
<!-- CSS to style the file input field as button and adjust the Bootstrap progress bars -->
<link rel="stylesheet" href="/content/css/blueimp/jquery.fileupload.css">

@*<link rel="stylesheet" href="/content/css/estilo.css">*@
<link rel="stylesheet" href="/content/Site.css">


<!--sortable-->
@*<link href="//rubaxa.github.io/Ply/ply.css" rel="stylesheet" type="text/css" />
<link href="//fonts.googleapis.com/css?family=Roboto:300" rel="stylesheet" type="text/css" />
<link href="/Scripts/sortable/st/app.css" rel="stylesheet" type="text/css" />*@

<script src="/Scripts/sortable/Sortable.js"></script>
@*<script src="//rubaxa.github.io/Ply/Ply.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>*@
@*<script src="/Scripts/sortable/ng-sortable.js"></script>
<script src="/Scripts/sortable/st/app.js"></script>*@

<div class="form-horizontal">
    <form id="fileupload" action="/Galerias/UploadImageTipoHabitacion" method="POST" enctype="multipart/form-data" data-upload-template-id="template-upload-1" data-download-template-id="template-download-1">

        @*<input type="hidden" id="idsFotosOrden" value="@ViewData["idsFotosOrden"]" />*@

        <!-- Redirect browsers with JavaScript disabled to the origin page -->
        <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
        <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
        <div class="row fileupload-buttonbar">
            <div class="col-lg-7">
                <!-- The fileinput-button span is used to style the file input field as button -->
                <span class="btn btn-success fileinput-button">
                    <i class="glyphicon glyphicon-plus"></i>
                    <span>Agregar fotos...</span>
                    <input type="file" name="filesImages[]" multiple>
                </span>
                <button type="submit" class="btn btn-primary start" style="display:none;">
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Cargar fotos</span>
                </button>
                <!-- The global file processing state -->
                <span class="fileupload-process"></span>
            </div>
            <!-- The global progress state -->
            <div class="col-lg-6 fileupload-progress fade" style="margin-right:30%;margin-left:30%;">
                    <!-- The global progress bar -->
                    <div class="progress-bar-procesando">Cargando fotos, espere por favor ...</div>
                    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                        <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                    </div>
                    <!-- The extended global progress state -->
                    <div class="progress-extended">&nbsp;</div>
                </div>
        </div>
        <!-- The table listing the files available for upload/download -->
        <div role="presentation" class="table table-striped">
            <ul class="files" id="fotos_listado">

@foreach (var item in (List<ReservasWeb.Models.Imagene>)ViewData["Fotos"])
{
    <li class="template-download fade in" id="@item.archivo.Replace(".", "")_holder" data-image="@ViewData["idTipoHabitacion"]" data-image-id="@item.idImagen">
        <div>
            <span class="preview">
                <span id="@item.archivo.Replace(".", "")_loading" class="loading_circle"></span>
                <img title="@item.archivo" download="@item.archivo" data-gallery id="@item.archivo.Replace(".", "")" src="/Files/TiposHabitacion/@ViewData["idTipoHabitacion"]/small/@item.archivo"></img>

            </span>
        </div>
        <div>
            <button class="btn btn-default " data-image="@item.archivo" id="rotate-image" title="Rotar 90º esta imagen">
                <i class="glyphicon glyphicon-repeat"></i>
                <span>Rotar</span>
            </button>
            <button class="btn btn-danger delete" style="float:right;" data-image="@item.archivo" data-image-id="@item.idImagen" data-type="DELETE" data-url="/Galerias/DeleteImage/">
                <i class="glyphicon glyphicon-trash"></i>
                <span>Eliminar</span>
            </button>
        </div>
    </li>
}

            </ul>
        </div>
    </form>

    <!-- The template to display files available for upload -->
    <script id="template-upload-1" type="text/x-tmpl">

        {% for (var i=0, file; file=o.files[i]; i++) { %}

        <li class="template-upload fade">
            <div>
                <p class="name">{%=file.name%}</p>
                <strong class="error text-danger"></strong>
            </div>
            <div>
                <p class="size">Procesando...</p>
                <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
            </div>
            <div class="botones_preload">
                {% if (!i && !o.options.autoUpload) { %}
                <button class="btn btn-primary start" disabled>
                    <i class="glyphicon glyphicon-upload"></i>
                    <span>Cargar</span>
                </button>
                {% } %}
                {% if (!i) { %}
                <button class="btn btn-warning cancel" style="float:right;">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar</span>
                </button>
                {% } %}
            </div>
        </li>
        {% } %}
    </script>
    <!-- The template to display files available for download -->
    <script id="template-download-1" type="text/x-tmpl">
        {% for (var i=0, file; file=o.files[i]; i++) { %}            
        <li class="template-download fade" id="{%=file.name.replace(".","")%}_holder" data-image="@ViewData["idTipoHabitacion"]" data-image-id="{%=file.id%}">
            <div>
                <span class="preview">
                    @*<script type="text/javascript">addIdFoto({%=file.id%});</script>*@
                    <span id="{%=file.name.replace(".","")%}_loading" class="loading_circle"></span>
                    {% if (file.thumbnailUrl) { %}
                    <img title="{%=file.name%}" download="{%=file.name%}" data-gallery id="{%=file.name.replace(".","")%}" src="{%=file.thumbnailUrl%}"></img>
                    {% } %}
                </span>
            </div>
            <div>
                <button class="btn btn-default " data-image="{%=file.name%}" id="rotate-image" title="Rotar 90º esta imagen">
                    <i class="glyphicon glyphicon-repeat"></i>
                    <span>Rotar</span>
                </button>
                {% if (file.deleteUrl) { %}
                <button class="btn btn-danger delete" style="float:right;" data-image="{%=file.name%}" data-image-id="{%=file.id%}" data-type=" {%=file.deleteType%}" data-url="{%=file.deleteUrl%}" {% if (file.deletewithcredentials) { %} data-xhr-fields='{"withCredentials":true}' {% } %}>
                    <i class="glyphicon glyphicon-trash"></i>
                    <span>Eliminar</span>
                </button>
                {% } else { %}
                <button class="btn btn-warning cancel">
                    <i class="glyphicon glyphicon-ban-circle"></i>
                    <span>Cancelar</span>
                </button>
                {% } %}
            </div>
        </li>

                        {% } %}
                    </script>

    <script type="text/javascript">
        //<![CDATA[
        // Simple list
        var list = document.getElementById("fotos_listado");
        var sortable = Sortable.create(list, {            
            // Changed sorting within list
            onUpdate: function (evt) {
                //alert('test');
                //alert(evt.item.getAttribute("data-image-id"));
                
                //var idInmueble = evt.item.getAttribute("data-image");  // dragged HTMLElement
                //imageReOrder(idInmueble, evt.oldIndex, evt.newIndex);

                //var idFoto = evt.item.getAttribute("data-image-id");  // dragged HTMLElement
                imageReOrder(evt.oldIndex, evt.newIndex);
            }
        });

        //sortable.destroy();
        //]]>
    </script>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <!-- The Load Image plugin is included for the preview images and image resizing functionality -->
    <script src="//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
    <!-- The jQuery UI widget factory, can be omitted if jQuery UI is already included -->
    <script src="/Scripts/blueimp/vendor/jquery.ui.widget.js"></script>
    <!-- The basic File Upload plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload.js"></script>
    <!-- The Templates plugin is included to render the upload/download listings -->
    <script src="/Scripts/blueimp/tmpl.min.js"></script>
    <!-- The Canvas to Blob plugin is included for image resizing functionality -->
    <script src="/Scripts/blueimp/canvas-to-blob.min.js"></script>
    <!-- Bootstrap JS is not required, but included for the responsive demo navigation -->
    @*<script src="/Scripts/blueimp/bootstrap.min.js"></script>*@
    <!-- blueimp Gallery script -->
    <script src="/Scripts/blueimp/jquery.blueimp-gallery.min.js"></script>
    <!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
    <script src="/Scripts/blueimp/jquery.iframe-transport.js"></script>
    <!-- The File Upload processing plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload-process.js"></script>
    <!-- The File Upload image preview & resize plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload-image.js"></script>
    <!-- The File Upload audio preview plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload-audio.js"></script>
    <!-- The File Upload video preview plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload-video.js"></script>
    <!-- The File Upload validation plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload-validate.js"></script>
    <!-- The File Upload user interface plugin -->
    <script src="/Scripts/blueimp/jquery.fileupload-ui.js"></script>
    <!-- The main application script -->
    <script src="/Scripts/blueimp/mainTipoHabitacion.js"></script>
    <!-- The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9 -->
    <!--[if (gte IE 8)&(lt IE 10)]>
    <script src="js/cors/jquery.xdr-transport.js"></script>
    <![endif]-->

    <script>
        var $l = jQuery.noConflict();
        /*jslint unparam: true, regexp: true */
        /*global window, $ */
        $l(function () {
            //'use strict';
            // Change this to the location of your server-side upload handler:
            var url = '/Galerias/UploadImageTipoHabitacion/',
                uploadButton = $l('<button/>')
                    .addClass('btn btn-primary')
                    .prop('disabled', true)
                    .text('Processing...')
                    .on('click', function () {
                        var $this = $l(this),
                            data = $this.data();
                        $this
                            .off('click')
                            .text('Abort')
                            .on('click', function () {
                                $this.remove();
                                data.abort();
                            });
                        data.submit().always(function () {
                            $this.remove();
                        });
                    });

            $l('#fotos_listado').on('click', 'div #rotate-image', function (e) {
                e.preventDefault();
                imageRotate(this, this.getAttribute("data-image"));
            });

            $l('#fotos_listado').on('click', 'div .delete', function (e) {
                e.preventDefault();
                imageDelete(this.getAttribute("data-image-id"), this.getAttribute("data-image"));
            });

            $l.blueimp.fileupload.prototype.processActions.duplicateImage = function (data, options) {
                if (data.canvas) {
                    data.files.push(data.files[data.index]);
                }
                return data;
            };            

            $l('#fileupload').each(function () {
                $l(this).fileupload({
                    dropZone: $l(this),
                    processQueue: [
                            {
                                action: 'loadImage',
                                fileTypes: /^image\/(gif|jpeg|png)$/,
                                disableImageResize: false,
                                maxFileSize: 20000000 // 20MB
                            },
                            {
                                action: 'resizeImage',
                                maxWidth: 1024,
                                maxHeight: 900
                            },
                            { action: 'saveImage' },
                            { action: 'duplicateImage' },
                            {
                                action: 'resizeImage',
                                maxWidth: 1024,
                                maxHeight: 768,
                                minWidth: 801,
                                minHeight: 601
                            },
                            { action: 'saveImage' },
                            { action: 'duplicateImage' },
                            {
                                action: 'resizeImage',
                                maxWidth: 800,
                                maxHeight: 600,
                                minWidth: 241,
                                minHeight: 181
                            },
                            { action: 'saveImage' },
                            { action: 'duplicateImage' },
                            {
                                action: 'resizeImage',
                                maxWidth: 240,
                                maxHeight: 180
                            },
                            { action: 'saveImage' }
                    ],
                    formData: { idTipoHabitacion: @ViewData["idTipoHabitacion"] }
                });
            }).bind('fileuploadadd', function (e, data) {
                data.context = $l('<div/>').appendTo('#filesImages');
                $l.each(data.files, function (index, file) {                    
                    var node = $l('<p/>')
                            .append($l('<span/>').text(file.name));
                    if (!index) {
                        node
                            .append('<br>')
                            .append(uploadButton.clone(true).data(data));
                    }
                    node.appendTo(data.context);
                });
            }).on('fileuploadprocessalways', function (e, data) {
                var index = data.index,
                    file = data.files[index],
                    node = $l(data.context.children()[index]);
                if (file.preview) {
                    node
                        .prepend('<br>')
                        .prepend(file.preview);
                }
                if (file.error) {
                    node
                        .append('<br>')
                        .append($l('<span class="text-danger"/>').text(file.error));
                }
                if (index + 1 === data.files.length) {
                    data.context.find('button')
                        .text('Upload')
                        .prop('disabled', !!data.files.error);
                }
            }).on('fileuploadprogressall', function (e, data) {
                var progress = parseInt(data.loaded / data.total * 100, 10);
                $l('#progress .progress-bar').css(
                    'width',
                    progress + '%'
                );
            }).on('fileuploaddone', function (e, data) {
                
                
                $l.each(data.result.files, function (index, file) {
                    //addIdFoto(file.id, file.orden);
                    
                    var delay=1000; //1 second
                    setTimeout(function() {
                        refreshIdsFotosList();
                    }, delay);


                    //alert(file.name);

                        //if (file.url) {
                        //    var link = $l('<a>')
                        //        .attr('target', '_blank')
                        //        .prop('href', file.url);
                        //    $l(data.context.children()[index])
                        //        .wrap(link);
                        //} else if (file.error) {
                        //    var error = $l('<span class="text-danger"/>').text(file.error);
                        //    $l(data.context.children()[index])
                        //        .append('<br>')
                        //        .append(error);
                        //}
                    });
                //$l.each(data.result.files, function (index, file) {
                //    if (file.url) {
                //        var link = $l('<a>')
                //            .attr('target', '_blank')
                //            .prop('href', file.url);
                //        $l(data.context.children()[index])
                //            .wrap(link);
                //    } else if (file.error) {
                //        var error = $l('<span class="text-danger"/>').text(file.error);
                //        $l(data.context.children()[index])
                //            .append('<br>')
                //            .append(error);
                //    }
                //});
            }).on('fileuploadfail', function (e, data) {
                $l.each(data.files, function (index) {
                    var error = $l('<span class="text-danger"/>').text('File upload failed.');
                    $l(data.context.children()[index])
                        .append('<br>')
                        .append(error);
                });
            }).prop('disabled', !$l.support.fileInput)
                .parent().addClass($l.support.fileInput ? undefined : 'disabled');


            function imageRotate(img, fileName) {
                $l('.preview #' + fileName.replace('.', '') + '_loading').attr('style', 'visibility:visible;');
                $l.ajax({
                    url: '/Galerias/RotateImageBase/',
                    dataType: 'json',
                    type: 'post',
                    data: {
                        idElemento: @ViewData["idTipoHabitacion"],
                        archivo: fileName,
                        rutaRaiz: "/Files/TiposHabitacion/"
                    },
                    success: function (response) {
                        if (response.statusCode == 200) {
                            $l('.preview #' + fileName.replace('.', '')).attr('src', '/Files/TiposHabitacion/' + @ViewData["idTipoHabitacion"] + '/small/' + fileName + '?' + new Date().getTime());
                            $l('.preview #' + fileName.replace('.', '') + '_loading').attr('style', 'visibility:hidden;');
                        }
                    }
                });
            }

            function imageDelete(id, fileName) {
                if (!confirm('¿Realmente desea eliminar esta Foto?'))
                    return;
                $l.ajax({
                    url: '/Galerias/DeleteImageTipoHabitacion/',
                    dataType: 'json',
                    type: 'post',
                    data: {
                        idTipoHabitacion: @ViewData["idTipoHabitacion"],
                        id: id,
                        fileName: fileName
                    },
                    success: function (response) {
                        if (response.statusCode == 200) {
                            //$l('.files #' + fileName.replace('.', '') + '_holder').fadeOut(500);
                            var elem = document.getElementById(fileName.replace('.', '') + '_holder');
                            if(elem == null){          
                                //alert("imageDelete elem null");
                                //alert('.files #' + fileName.replace('.', '') + '_holder');
                                $l('.files #' + fileName.replace('.', '') + '_holder').fadeOut(500);                                
                                deleteIdFotor(id);
                            }
                            else{
                                //alert("imageDelete elem");
                                $(elem).fadeOut(500);
                                //$l('.files #' + fileName.replace('.', '') + '_holder').fadeOut(500);
                                deleteIdFotor(id);
                            }
                        }
                    }
                });
            }


        });

        //function imageReOrder(idInmueble, oldIndex, newIndex) {
        //    $l.ajax({
        //        url: '/Inmueble/ReOrderImage/',
        //        dataType: 'json',
        //        type: 'post',
        //        data: {
        //            idInmueble: idInmueble,
        //            oldIndex: oldIndex,
        //            newIndex: newIndex
        //        }
        //        ,
        //        success: function (response) {
        //            if (response.statusCode == 200) {
        //            }
        //        }
        //    });
        //}

        function imageReOrder(oldIndex, newIndex) {

            var idsFotosOrden = $("#IdsFotosOrden").val();
            var array = idsFotosOrden.split(',');
            //alert(array[0]);
            var idFoto = array[oldIndex];
            if(newIndex < oldIndex){
                for(var i = oldIndex; i>newIndex; i--){
                    array[i] = array[i-1];
                }
                array[newIndex] = idFoto;
            }else{
                for(var i = oldIndex; i<newIndex; i++){
                    array[i] = array[i+1];
                }
                array[newIndex] = idFoto;
            }            
            $("#IdsFotosOrden").val(array.toString().replace(",,", ","));            
            //alert(array.toString());
        }

        //function addIdFoto(idFoto, orden) {
        //    var idsFotosOrden = $("#IdsFotosOrden").val();
        //    var array = idsFotosOrden.split(',');            
        //    if(idsFotosOrden == ""){                
        //        $("#IdsFotosOrden").val(orden + "_" + idFoto);
        //    }
        //    else
        //    {                                
        //        array.splice(orden, 0, orden + "_" + idFoto);
        //        array.sort();
        //        $("#IdsFotosOrden").val(array.toString().replace(",,", ","));
        //    }
        //}

        function refreshIdsFotosList(){
            var idsFotosOrden = "";
            var ul = document.getElementById("fotos_listado");
            var items = ul.getElementsByTagName("li");
            for (var i = 0; i < items.length; ++i) {
                // do something with items[i], which is a <li> element                
                if(items[i].getAttribute("data-image-id") != null){
                    if(idsFotosOrden == "")
                        idsFotosOrden = items[i].getAttribute("data-image-id");
                    else
                        idsFotosOrden = idsFotosOrden + "," + items[i].getAttribute("data-image-id");
                }
            }
            $("#IdsFotosOrden").val(idsFotosOrden);
        }

        function deleteIdFotor(idFoto) {
            var idsFotosOrden = $("#IdsFotosOrden").val();
            var array = idsFotosOrden.split(',');
            var indexFoto = array.indexOf(idFoto);
            if (indexFoto > -1) {
                array.splice(indexFoto, 1);
            }            
            $("#IdsFotosOrden").val(array.toString().replace(",,", ","));
            //alert(array.toString());
        }

    </script>

</div>
