﻿@model ReservasWeb.ViewModels.ListadoTiposHabitacionViewModel

@{
    ViewBag.Title = "Index";
}

    <script type="text/javascript">

        //function eliminar(idTipoHabitacion) {
        //    var borra = confirm("¿Está seguro que desea eliminar este Tipo de Habitación?")
        //    if (borra) {
        //        //var idTipoHabitacion = $(this).attr('data-id');
        //        $.ajax({
        //            cache: false,
        //            type: "POST",
        //            url: '/TiposHabitacion/Eliminar/',
        //            dataType: 'JSON',
        //            data: { id: idTipoHabitacion },
        //            success: function (resdata) {
        //                $('#ContenedorTiposHabitacion #tipoHabitacionItem-' + idTipoHabitacion).fadeOut(500);
        //            },
        //            error: function (xhr, ajaxOptions, thrownError) {
        //                alert("tiro Error");
        //            }
        //        });
        //    }
        //}

    </script>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }            
        </div>
    </div>
</div>

    <div class="container">
        <div class="col-md-12">
            <center><h2>Tipos de Habitación</h2></center>

            <p>
                @Html.ActionLink("Nuevo +", "Crear", null, new { @class = "modal-link btn btn-success" })
            </p>
            <table class="table" id="ContenedorTiposHabitacion">
                <tr>
                    <th class="col-md-3">Nombre</th>
                    <th>Plazas</th>
                    <th>Cama Matrimonial</th>
                    <th>Camas Simples</th>
                    <th>Camas Adicionales</th>
                    <th></th>
                </tr>

                @foreach (var item in Model.listado)
                {
                    bool datosIncompletos = item.plazas == 0 || item.TarifasBases.Count() == 0 || item.plazas == null;
                    <tr id="tipoHabitacionItem-@item.idTipoHabitacion" class="@(datosIncompletos ? "danger" : "")">
                        <td class="col-md-3">@item.nombreEs</td>
                        @if (datosIncompletos)
                        {
                            <td colspan="4" class="text-danger errorEnTabla">Datos incompletos, cargue Plazas por favor</td>
                        }
                        else
                        {
                            <td>@item.plazas</td>
                            <td>@item.camaMatrimonial</td>
                            <td>@item.camasSimples</td>
                            <td>@item.camasAdicionales</td>
                        }                        
                        <td>
                            @Html.ActionLink("Editar", "Editar", new { id = item.idTipoHabitacion }) |
                            @*@Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTipoHabitacion, @class = "Eliminar", @data_id = item.idTipoHabitacion })*@
                            @*@Html.ActionLink("Eliminar", "Eliminar", null, new { @class = "Eliminar", @data_id = item.idTipoHabitacion })*@
                            @*<a href="javascript:void(0);" onclick="eliminar(@item.idTipoHabitacion);" data-id="@item.idTipoHabitacion" class="Eliminar"> Eliminar</a>*@
                            @*<a href="javascript:void(0);" onclick="eliminar(@item.idTipoHabitacion);" class="Eliminar"> Eliminar</a>*@
                            @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTipoHabitacion }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.nombreEs + "\"?');" })                            
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>


