﻿@model ReservasWeb.ViewModels.CreacionEdicionTemporadaViewModel

@{
    ViewBag.Title = "Crear";
}

<script>

    $(function () {
        var dateFormat = "dd/mm/yy",
          from = $("#fechaDesde")
            .datepicker({
                defaultDate: "+1w",
                changeMonth: true,
                numberOfMonths: 1
            })
            .on("change", function () {
                var fechaMaxima = getDate(this);                
                if ($('select[id=tipo]').val() == "@System.Configuration.ConfigurationManager.AppSettings["tipoFechaEspecial"]") {
                    var rangoDias = @System.Configuration.ConfigurationManager.AppSettings["diasFechaEspecial"];
                    fechaMaxima.setDate(fechaMaxima.getDate() + rangoDias);
                }else{
                    var rangoMeses = @System.Configuration.ConfigurationManager.AppSettings["mesesTemporada"];
                    fechaMaxima.setMonth(fechaMaxima.getMonth() + rangoMeses);
                }
                to.datepicker("option", "minDate", getDate(this));
                to.datepicker("option", "maxDate", fechaMaxima);
            }),
          to = $("#fechaHasta").datepicker({
              defaultDate: "+1w",
              changeMonth: true,
              numberOfMonths: 1

          })
          .on("change", function () {
              from.datepicker("option", "maxDate", getDate(this));
          });

        function getDate(element) {
            var date;
            try {
                date = $.datepicker.parseDate(dateFormat, element.value);
            } catch (error) {
                date = null;
            }

            return date;
        }

        $("#tipo").on("change", function () {
            $("#fechaDesde").val("");
            $("#fechaHasta").val("");
            $("#fechaDesde").datepicker("option", "minDate", null);
            $("#fechaDesde").datepicker("option", "maxDate", null);
            $("#fechaHasta").datepicker("option", "minDate", null);
            $("#fechaHasta").datepicker("option", "maxDate", null);
        });

    });

    $(document).ready(function() {
        $('select[name="colorpicker-picker-longlist"]').simplecolorpicker({picker: true, theme: 'glyphicons'});

        $('select[name="colorpicker-picker-longlist"]').on('change', function() {
            $('#cssColor').val($('select[name="colorpicker-picker-longlist"]').val());
        });
    });
</script>

@using (Html.BeginForm())
        {
    @Html.AntiForgeryToken()


<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            <span class="MensajeProcesando" id="Procesando" style="display:none;">Procesando...</span>

            <input id="guardarBoton" type="submit" value="Guardar Cambios" class="btn btn-success btnFrmGeneral" onclick="procesando();" />
            @Html.ActionLink("Cancelar", "Index", null, new { @class = "btn btn-primary btnFrmGeneral" })
        </div>

    </div>
</div>

<div class="container">
    <div class="col-md-12">
        <h2>Crear</h2>

            <div class="form-horizontal">
                <h4>
                @if (Model.tipo == "T") { 
                    @:Nueva Temporada
                }
                else { 
                    @:Nueva Fecha Especial
                }
                </h4>
                @if (Model.tipo != "T")
                {

                <h9 style="color:red;">*El rango maximo de las fechas especiales no puede superar los 20 dias. Las fechas especiales tienen prioridad por sobre las temporadas.</h9>
                }
                else
                {
                    <h9 style="color:red;">*El rango maximo de las temporadas no puede superar los 370 dias. Las fechas especiales tienen prioridad por sobre las temporadas.</h9>
                }
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })                

                <div class="form-group">
                    @Html.LabelFor(model => model.nombre, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.nombre, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.nombre, "", new { @class = "text-danger" })
                    </div>
                </div>

                @*<div class="form-group">
                    @Html.LabelFor(model => model.tipo, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.tipo, Model.tiposSelectList, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.tipo, "", new { @class = "text-danger" })
                    </div>
                </div>*@
                @Html.HiddenFor(model => model.tipo)

                <div class="form-group">
                    @Html.LabelFor(model => model.fechaDesde, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fechaDesde, new { htmlAttributes = new { @class = "form-control fecha"} })
                        @Html.ValidationMessageFor(model => model.fechaDesde, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.fechaHasta, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.fechaHasta, new { htmlAttributes = new { @class = "form-control"} })
                        @Html.ValidationMessageFor(model => model.fechaHasta, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">                        
                        @Html.TextAreaFor(model => model.descripcion, 6, 63, new { @title = "Descripcion", @class = "form-control fichaDescripcion" })
                        @Html.ValidationMessageFor(model => model.descripcion, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.cssColor, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.HiddenFor(model => model.cssColor)
                        <div class="simplecolorpickerBorder">
                            <select name="colorpicker-picker-longlist">
                                @foreach (var option in Model.cssColorSelectList)
                                {
                                    <option value="@option.Value" @(option.Selected ? "selected=\"selected\"" : string.Empty)>@option.Text</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

            </div>
    </div>
</div>

        }
