﻿@model ReservasWeb.ViewModels.ListadoTemporadasViewModel

@{
    ViewBag.Title = "Index";
}

<script>
    var dateFormat = "dd/mm/yy";
    $(function () {

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        $("#temporadasAlmanaque")
          .datepicker({
              defaultDate: "+1w",              
              numberOfMonths: 6,
              beforeShowDay: function (date) {

                  @foreach (var item in Model.listadoFechasEspeciales)
                  {
                      <text>
                      if (date >= getDate("@item.fechaDesde") && date @Html.Raw("<")= getDate("@item.fechaHasta")) {
                          return [true, 'bg-color-datepicker-@item.cssColor', '@item.nombre'];
                      }

                  </text>
              }

                  @foreach (var item in Model.listadoTemporadas)
                  {
                      <text>
                      if (date >= getDate("@item.fechaDesde") && date @Html.Raw("<")= getDate("@item.fechaHasta")) {
                          return [true, 'bg-color-datepicker-@item.cssColor', '@item.nombre'];
                  }

                  </text>
              }


                              return [true];
                          }
                      })
    });

    $(function () { // $(document).ready(...
        $('#tu-input-fecha').datepicker({
            beforeShowDay: function (date) {
                if (date.getDate() === 8) {
                    return [true, 'bg-red', 'titulo opcional'];
                }

                return [true];
            }
        });
    });

    function getDate(value) {
        var date;
        try {
            date = $.datepicker.parseDate(dateFormat, value);
        } catch (error) {
            date = null;
        }

        return date;
    }


</script>

<div class="BarraAdmTopFlotante">
    <div class="container">
        <div class="barraMensajes">
            @if (Model.MensajeExito != null)
            {
                <span class="MensajeOk">@Model.MensajeExito</span>
            }
            else if (Model.MensajeError != null)
            {
                <span class="MensajeError">@Model.MensajeError</span>
            }
        </div>
    </div>
</div>

<div class="container">

    <h2 class="tituloPantallaCentrado">Temporadas</h2>

    <div class="col-md-12">

        <div class="col-md-10" id="temporadasAlmanaque"></div>


        <table class="table col-md-6">
            <tr>
                <td>
                    <h2>Temporadas</h2>

                    <p>
                        @Html.ActionLink("Nueva +", "Crear", new { tipo = "T" }, new { @class = "btn btn-success", @data_toggle = "tooltip", @data_placement = "left", @title = "Se podrá cargar hasta un año." })
                    </p>

                    <table class="table">

                        @foreach (var item in Model.listadoTemporadas)
            {
                            <tr>
                                <td class="col-md-5"><div class="muestra-bg-color" style="background-color:#@item.cssColor"></div>@item.nombre</td>
                                <th>@item.fechaDesde.ToString("dd/MM/yyyy")</th>
                                <th>@item.fechaHasta.ToString("dd/MM/yyyy")</th>
                                <td>
                                    @Html.ActionLink("Editar", "Editar", new { id = item.idTemporada }) |
                                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTemporada }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.nombre + "\"?');" })
                                </td>
                            </tr>
                        }

                    </table>

                </td>
                <td>
                    <h2>Fechas Especiales</h2>

                    <p>
                        @Html.ActionLink("Nueva +", "Crear", new { tipo = "FE" }, new { @class = "btn btn-success", @data_toggle = "tooltip", @data_placement = "left", @title = "Se podrá cargar hasta una semana." })
                    </p>
                    <table class="table">

                        @foreach (var item in Model.listadoFechasEspeciales)
            {
                            <tr>
                                <td class="col-md-5"><div class="muestra-bg-color" style="background-color:#@item.cssColor"></div>@item.nombre</td>
                                <th>@item.fechaDesde.ToString("dd/MM/yyyy")</th>
                                <th>@item.fechaHasta.ToString("dd/MM/yyyy")</th>
                                <td>
                                    @Html.ActionLink("Editar", "Editar", new { id = item.idTemporada }) |
                                    @Html.ActionLink("Eliminar", "Eliminar", new { id = item.idTemporada }, new { onclick = "return confirm('¿Está seguro que desea eliminar \"" + @item.nombre + "\"?');" })
                                </td>
                            </tr>
                        }

                    </table>

                </td>
            </tr>

        </table>

        </div>
</div>
